<div class="mat-navigation-container mega-menu">
    <nav>
        <ul id="scrollToSectionJee">
            <li><a
                    class="mdl-navigation__link mdl-typography--text-uppercase"
                    href="#section-courses">Courses</a>
            </li>
            <li><a
                    class="mdl-navigation__link mdl-typography--text-uppercase"
                    href="#section-testimonials">Testimonials</a>
            </li>
            <li><a href="#section-seo"
                   class="mdl-navigation__link mdl-typography--text-uppercase about-jee">About JEE <i
                    class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;"></i>
            </a>
                <div class="change-navigation-items  nav-free-prep"
                     style="height: auto; width: 900px;">
                    <div class="mdl-grid">

                        <div
                                class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                            <div class="items-to-show">

                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a href="/jee/main-exam-syllabus/">JEE Main Exam Syllabus</a></li>
                                            <li><a href="/jee/main-rank-predictor/">JEE Main Rank Predictor</a></li>
                                            <li><a href="/jee/main-previous-years-papers/">JEE Main Previous Years Paper</a></li>

                                        </ul>
                                    </div>
                                    <div
                                            class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a
                                                    href="/jee/main-answer-key">JEE Main Answer Key 2019</a></li>
                                            <li><a href="/jee/advanced-answer-key/">JEE Main Advanced Answer Key 2019</a></li>
                                            <li><a href="/jee/main-result/">JEE Main Result</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="items-to-show" style="display: none;">
                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a href="/how-to-prepare-upsc-ies-exam/">How
                                                to start IES Prep and Strategy</a></li>
                                            <li><a href="/8-tips-to-crack-ies-exam/">8 Tips
                                                to crack IES</a></li>
                                            <li><a
                                                    href="/ies-mechanical-engineering-preparation-strategy/">IES
                                                Mechanical Prep Strategy</a></li>
                                            <li><a
                                                    href="/ies-civil-engineering-preparation-strategy/">IES
                                                Civil Prep Strategy</a></li>
                                            <li><a
                                                    href="/ies-electronics-telecommunication-engineering-preparation-strategy/">IES
                                                Electronics Prep Strategy</a></li>
                                            <li><a
                                                    href="/ies-electrical-engineering-preparation-strategy/">IES
                                                Electrical Prep Strategy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="items-to-show" style="display: none;">
                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a
                                                    href="/gate-preparation-strategy-and-exam-tips/">GATE
                                                Preparation Tips</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="items-to-show" style="display: none;">
                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a href="/study-material-ias-exam/">General
                                                Studies Study Material</a></li>
                                            <li><a href="/current-affairs/">Monthly Current
                                                Affairs</a></li>
                                            <li><a href="/current-affairs-quiz/">Practice
                                                MCQs</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="items-to-show" style="display: none;">
                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a
                                                    href="/IIT-JEE/">IIT-JEE</a></li>
                                            <li><a
                                                    href="/IIT-JEE/">IIT-JEE</a></li>
                                            <li><a
                                                    href="/IIT-JEE/">IIT-JEE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="items-to-show" style="display: none;">
                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a
                                                    href="/NEET/">NEET</a></li>
                                            <li><a
                                                    href="/NEET/">NEET</a></li>
                                            <li><a
                                                    href="/NEET/">NEET</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="items-to-show" style="display: none;">
                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>
                                            <li><a href="/study-material-ias-exam/">General
                                                Studies Study Material</a></li>
                                            <li><a href="/current-affairs/">Monthly Current
                                                Affairs</a></li>
                                            <li><a href="/current-affairs-quiz/">Practice
                                                MCQs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>