<div class="mat-navigation-container mega-menu">
    <nav>
        <ul id="scrollToSectionJee">

            <li><a
                    class="mdl-navigation__link mdl-typography--text-uppercase"
                    href="#section-testimonials">Testimonials</a>
            </li>
            <li><a
                    class="mdl-navigation__link mdl-typography--text-uppercase"
                    href="#section-courses">Courses</a>
            </li>
            <li><a href="#section-testimonials-teacher"
                   class="mdl-navigation__link mdl-typography--text-uppercase about-jee">Teachers
            </a>
            </li>
        </ul>
    </nav>
</div>