<div class="mat-navigation-container mega-menu">
    <nav>
        <ul id="scrollToSectionJee">
            <li><a
                    class="mdl-navigation__link mdl-typography--text-uppercase"
                    href="#section-courses">Courses</a>
            </li>
            <li><a
                    class="mdl-navigation__link mdl-typography--text-uppercase"
                    href="#section-testimonials">Testimonials</a>
            </li>
            <li><a href="#section-seo"
                   class="mdl-navigation__link mdl-typography--text-uppercase about-jee">About NEET <i
                    class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;"></i>
            </a>
                <div class="change-navigation-items  nav-free-prep"
                     style="height: auto; width: 900px;">
                    <div class="mdl-grid">

                        <div
                                class="mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;12-col-tablet mdl-cell&#45;&#45;12-col-phone">
                            <div class="items-to-show">

                                <div class="mdl-grid">
                                    <div
                                            class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;12-col-tablet mdl-cell&#45;&#45;12-col-phone">
                                        <ul>
                                            <li><a href="/neet/application-form/">NEET Application Form</a></li>
                                            <li><a href="/neet/cut-off/">NEET Exam Cut Off</a></li>
                                            <li><a href="/neet/eligibility-criteria/">NEET Eligibility Criteria</a></li>
                                            <li><a
                                                    href="/neet/admit-card/">NEET Admit Card</a></li>
                                            <li><a href="/neet/syllabus/">NEET Syllabus</a></li>
                                        </ul>
                                    </div>
                                    <div
                                            class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <ul>

                                            <li><a href="/neet/best-books/">NEET Preparation Booklist</a></li>
                                            <li><a href="/neet/result/">NEET Exam Result</a></li>
                                            <li><a href="/neet/exam-pattern/">NEET Exam Pattern</a></li>
                                            <li><a href="/neet/answer-key/">NEET 2019 Answer Key</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>