<style>
    .mdl-mega-footer--link-list a, .mdl-mega-footer__link-list a {
        white-space: normal !important;
    }
</style>
<div class="expanded-footer mdl-typography--text-center">

    <div class="">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <div class="container">
                    <a href="#popularTeachers" class="mdl-tabs__tab is-active">OVER
                        ALL LINKS</a> <a href="#popularCourses" class="mdl-tabs__tab">IAS</a>
                    <a href="#trendingCourses" class="mdl-tabs__tab">IES/GATE</a> <a
                        href="#prelimsPreparation" class="mdl-tabs__tab">IIT-JEE/NEET</a>
                </div>
            </div>
            <div class="mdl-tabs__panel is-active" id="popularTeachers">
                <!-- overall links-->
                <ul>
                    <li>
                        <div class="container">
                            <div class="mdl-grid">
                                <div
                                        class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Courses</p>
                                    <ul>
                                        <li><a
                                                href="/course/public-administration-optional-pavan-kumar-ias-upsc-mains">Public
                                            Administration Optional by Pavan Kumar</a></li>
                                        <li><a
                                                href="/course/ies-electrical-engineering-course-engineers-zone-ies-exam/">IES
                                            Electrical Engineering Course by Engineers Zone</a></li>
                                        <li><a
                                                href="/course/philosophy-optional-test-series-mitras-ias-upsc-mains-exam">Philosophy
                                            Optional & Test Series by MitraPal</a></li>
                                        <li><a
                                                href="/course/geography-optional-majid-husain-upsc-mains">Geography
                                            Optional by Majid Husain</a></li>
                                        <li><a
                                                href="/course/public-administration-optional-lukmaan-ias-upsc-mains-exam">Public
                                            Administration Optional by S. Ansari</a></li>
                                        <li><a
                                                href="/course/general-studies-history-mohammad-tarique-khan-upsc-prelims-cum-mains-exam">General
                                            Studies History by Md. Tarique Khan</a></li>
                                        <li><a
                                                href="/course/sociology-optional-test-series-praveen-kishore-upsc-mains-exam">Sociology
                                            Optional & Test Series by Praveen Kishore</a></li>
                                        <li><a
                                                href="/course/general-studies-foundation-course-test-series-lukmaan-ias-upsc-pre-cum-mains-exam">General
                                            Studies Foundation Course by Lukmaan IAS</a></li>
                                        <li><a
                                                href="/course/geography-optional-alok-ranjan-upsc-mains-exam">Geography
                                            Optional by Alok Ranjan</a></li>
                                        <li><a
                                                href="/course/intensive-news-analysis-ina-current-affairs-mk-yadav-theiashub-upsc-pre-cum-mains">Intensive
                                            News Analysis by M.K Yadav</a></li>
                                        <!--<li><a
                                                href="/course/ssc-cgl-classes-power-mind-institute">SSC
                                            CGL full course by Powermind Institute</a></li>-->

                                        <li><a
                                                href="/course/gate-civil-engineering-course-engineers-career-group/">GATE
                                            Civil Engineering Course by Engineers Career Group</a></li>
                                        <li>
                                            <a href="/course/jee/foundation-class-xi-jee-main-course">Foundation
                                                - Class XI JEE Main + Advanced
                                                Course</a></li>
                                        </li>
                                        <li>
                                            <a href="/course/jee/fresher-class-xii-jee-main-course">Fresher -
                                                Class XII JEE Main + Advanced
                                                Course</a></li>
                                        <li>
                                            <a href="/course/jee/target-xii-pass-jee-main-course">Target - XII
                                                Pass JEE Main + Advanced
                                                Course</a></li>
                                        <li>
                                            <a href="/course/neet/foundation-class-xi-neet-course">Foundation -
                                                Class XI NEET
                                                Course</a></li>
                                        <li>
                                            <a href="/course/neet/fresher-class-xii-neet-course">Fresher - Class
                                                XII NEET
                                                Course</a></li>
                                       <!-- <li>
                                            <a href="/course/neet/target-xii-pass-neet-course">Target - XII Pass
                                                NEET
                                                Course</a></li>-->
                                    </ul>
                                </div>
                                <div
                                        class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Teachers / Institute</p>
                                    <ul>
                                        <li><a href="/teacher/pavan-kumar">Pavan Kumar -
                                            Pavan Kumar IAS</a></li>
                                        <li><a href="/teacher/qaisar-hafiz/">Qaisar Hafiz -
                                            Engineers Zone</a></li>
                                        <li><a href="/teacher/mitra-sir">Mitrapal - Mitra's
                                            IAS</a></li>
                                        <li><a href="/teacher/prof-majid-husain">Prof. Majid
                                            Husain</a></li>
                                        <li><a href="/teacher/salamuddin-ansari">Salamudin
                                            Ansari - Lukmaan IAS</a></li>
                                        <li><a href="/teacher/md-tarique-khan">Md. Tarique
                                            Khan </a></li>
                                        <li><a href="/teacher/alok-ranjan">Alok Ranjan - Alok
                                            Ranjan's IAS</a></li>
                                        <li><a href="/teacher/praveen-kishore">Praveen
                                            Kishore - Nice IAS</a></li>
                                        <li><a href="/teacher/mk-yadav">M.K Yadav - theIAShub</a></li>
                                        <li><a href="/teacher/venkata-mohan/">Venkata Mohan -
                                            Feynman IAS</a></li>
                                        <li><a href="/teacher/ankit-bansal/">Ankit Bansal -
                                            Toppers 25</a></li>
                                        <li><a href="/teacher/er-gds-soni/">Er. GDS Soni -
                                            Engineers Career Group</a></li>
                                        <li><a href="/institute/motion">NV Sir - Motion Education</a></li>

                                    </ul>
                                </div>
                                <div
                                        class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Free Preparation</p>
                                    <ul>
                                        <li><a href="/upsc-prelims-daily-mcq/">UPSC Prelims
                                            MCQs</a></li>
                                        <li><a href="/current-affairs-analysis/">Current
                                            Affairs Analysis</a></li>
                                        <li><a href="/study-material-ias-exam/">IAS Study
                                            Materials</a></li>
                                        <li><a href="/free-videos/">Free IAS Courses</a></li>
                                        <li><a href="/ias-toppers-seminar/">IAS Toppers
                                            Preparation Strategy</a></li>
                                        <li><a href="/current-affairs/">Monthly Current
                                            Affairs</a></li>
                                        <li><a href="/current-affairs-quiz/">Weekly Current
                                            Affairs Quiz</a></li>
                                        <li><a
                                                href="/answer-writing-challenge-for-optional-subjects/">Answer
                                            Writing Practice for UPSC Mains</a></li>
                                        <li><a href="/ias-toppers-seminar/">IAS Toppers
                                            Interview</a></li>
                                        <li><a href="/free-ias-coaching">Free IAS Coaching</a></li>
                                        <li><a href="/toppers-answer-booklet/">IAS Toppers
                                            Answer Booklets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mdl-tabs__panel" id="popularCourses">
                <!--IAS-->
                <ul>
                    <li>
                        <div class="container">
                            <div class="mdl-grid">
                                <div
                                        class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Courses</p>
                                    <ul>
                                        <li><a
                                                href="/course/public-administration-optional-pavan-kumar-ias-upsc-mains">Public
                                            Administration Optional by Pavan Kumar</a></li>
                                        <li><a
                                                href="/course/philosophy-optional-test-series-mitras-ias-upsc-mains-exam">Philosophy
                                            Optional & Test Series by MitraPal</a></li>
                                        <li><a
                                                href="/course/geography-optional-majid-husain-upsc-mains">Geography
                                            Optional by Majid Husain</a></li>
                                      <!--  <li><a
                                                href="/course/public-administration-optional-lukmaan-ias-upsc-mains-exam">Public
                                            Administration Optional by S. Ansari</a></li>-->
                                        <li><a
                                                href="/course/general-studies-history-mohammad-tarique-khan-upsc-prelims-cum-mains-exam">General
                                            Studies History by Md. Tarique Khan</a></li>
                                        <li><a
                                                href="/course/sociology-optional-test-series-praveen-kishore-upsc-mains-exam">Sociology
                                            Optional & Test Series by Praveen Kishore</a></li>
                                        <li><a
                                                href="/course/general-studies-foundation-course-test-series-lukmaan-ias-upsc-pre-cum-mains-exam">General
                                            Studies Foundation Course by Lukmaan IAS</a></li>
                                        <li><a
                                                href="/course/geography-optional-alok-ranjan-upsc-mains-exam">Geography
                                            Optional by Alok Ranjan</a></li>
                                        <li><a href="/course/history-optional-aai-ias-upsc-mains">History
                                            Optional by AAI IAS</a></li>

                                        <li><a
                                                href="/course/ethics-case-studies-100-case-studies-lukmaan-ias-upsc-mains">Ethics
                                            100 Case Studies by S. Ansari</a></li>
                                        <li><a
                                                href="/course/general-studies-full-course-toppers-25-upsc-pre-cum-mains">General
                                            Studies Full Course by Toppers 25</a></li>
                                        <li><a
                                                href="/course/anthropology-test-series-venkata-mohan-upsc-mains">Anthropology
                                            Optional by Venkata Mohan</a></li>
                                    </ul>
                                </div>
                                <div
                                        class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Teachers / Institute</p>
                                    <ul>
                                        <li><a href="/teacher/pavan-kumar">Pavan Kumar -
                                            Pavan Kumar IAS</a></li>
                                        <li><a href="/teacher/mitra-sir">Mitrapal - Mitra's
                                            IAS</a></li>
                                        <li><a href="/teacher/prof-majid-husain">Prof. Majid
                                            Husain</a></li>
                                        <li><a href="/teacher/salamuddin-ansari">Salamudin
                                            Ansari - Lukmaan IAS</a></li>
                                        <li><a href="/teacher/md-tarique-khan">Md. Tarique
                                            Khan </a></li>
                                        <li><a href="/teacher/alok-ranjan">Alok Ranjan - Alok
                                            Ranjan's IAS</a></li>
                                        <li><a href="/teacher/praveen-kishore">Praveen
                                            Kishore - Nice IAS</a></li>
                                        <li><a href="/teacher/mk-yadav">M.K Yadav - theIAShub</a></li>
                                        <li><a href="/teacher/venkata-mohan/">Venkata Mohan -
                                            Feynman IAS</a></li>
                                        <li><a href="/teacher/alok-s-jha">Alok S. Jha - AAI
                                            IAS</a></li>


                                    </ul>
                                </div>
                                <div
                                        class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Free Preparation</p>
                                    <ul>
                                        <li><a href="/upsc-prelims-daily-mcq/">UPSC Prelims
                                            MCQs</a></li>
                                        <li><a href="/current-affairs-analysis/">Current
                                            Affairs Analysis</a></li>
                                        <li><a href="/study-material-ias-exam/">IAS Study
                                            Materials</a></li>
                                        <li><a href="/free-videos/">Free IAS Courses</a></li>
                                        <li><a href="/ias-toppers-seminar/">IAS Toppers
                                            Preparation Strategy</a></li>
                                        <li><a href="/current-affairs/">Monthly Current
                                            Affairs</a></li>
                                        <li><a href="/current-affairs-quiz/">Weekly Current
                                            Affairs Quiz</a></li>
                                        <li><a
                                                href="/answer-writing-challenge-for-optional-subjects/">Answer
                                            Writing Practice for UPSC Mains</a></li>
                                        <li><a href="/ias-toppers-seminar/">IAS Toppers
                                            Interview</a></li>
                                        <li><a href="/free-ias-coaching">Free IAS Coaching</a></li>
                                        <li><a href="/toppers-answer-booklet/">IAS Toppers
                                            Answer Booklets</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mdl-tabs__panel" id="trendingCourses">
                <!--IES/GATE -->
                <ul>
                    <li>
                        <div class="container">
                            <div class="mdl-grid">
                                <div
                                        class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Courses</p>
                                    <ul>
                                        <li><a
                                                href="/course/ies-electronics-communicaton-engineering-course-engineers-zone/">IES
                                            – Electronics and Communication Engineering Course by
                                            Engineers Zone</a></li>
                                        <li><a
                                                href="/course/ies-mechanical-engineering-course-engineers-zone/">IES
                                            – Mechanical Engineering Course by Engineers Zone</a></li>
                                        <li><a
                                                href="/course/ies-electrical-engineering-course-engineers-zone/">IES
                                            – Electrical Engineering Course by Qaisar Hafiz</a></li>
                                        <li><a
                                                href="/course/gate-electrical-engineering-course-engineers-zone">GATE
                                            – Electrical Engineering Course by Engineers Zone</a></li>
                                        <li><a
                                                href="/course/gate-civil-engineering-course-engineers-zone/">GATE
                                            – Civil Engineering Course by Engineers Zone</a></li>
                                        <li><a
                                                href="/course/gate-instrumentation-engineering-course-engineers-zone/">GATE
                                            – Instrumentation Engineering Course by Engineers Zone</a></li>
                                        <li><a
                                                href="/course/ies-mechanical-engineering-course-engineers-career-group-ies-exam">IES
                                            – Mechanical Engineering Course by Engineers Career Group</a></li>
                                        <li><a
                                                href="/course/ies-electronics-telecommunication-engineering-course-engineers-career-group-ies-exam">IES
                                            – Electronics & Telecommunication Engineering Course by
                                            Engineers Career Group</a></li>

                                    </ul>
                                </div>

                                <div
                                        class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone expanded-footer-description-colomn">
                                    <p class="footer-sub-heading"></p>
                                    <ul>
                                        <li><a
                                                href="/course/ies-civil-engineering-course-engineers-career-group-ies-exam">IES
                                            – Civil Engineering Course by Engineers Career Group</a></li>
                                        <li><a
                                                href="/course/gate-electronics-engineering-course-engineers-career-group-gate-exam/">GATE
                                            – Electronics Engineering Course by Engineers Career Group</a></li>
                                        <li><a
                                                href="/course/gate-civil-engineering-course-engineers-career-group/">GATE
                                            – Civil Engineering Course by Engineers Career Group</a></li>
                                        <li><a
                                                href="/course/gate-computer-science-information-technology-engineering-course-engineer-career-group">GATE
                                            – Computer Science & Information Technology Engg. Course by
                                            Engineers Career Group</a></li>
                                    </ul>
                                </div>
                                <div
                                        class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Teachers / Institute</p>
                                    <ul>
                                        <li><a href="/teacher/er-gds-soni/">Er. GDS Soni -
                                            Engineers Career Group</a></li>
                                        <li><a href="/teacher/qaisar-hafiz/">Qaisar Hafiz -
                                            Enginners Zone</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mdl-tabs__panel" id="prelimsPreparation">
                <!-- IIT-JEE/NEET-->
                <ul>
                    <li>
                        <div class="container">
                            <div class="mdl-grid">
                                <div
                                        class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Courses</p>
                                    <ul>
                                        <li>
                                            <a href="/course/jee/foundation-class-xi-jee-main-course">Foundation
                                                - Class XI JEE Main + Advanced
                                                Course</a></li>
                                        </li>
                                        <li>
                                            <a href="/course/jee/fresher-class-xii-jee-main-course">Fresher -
                                                Class XII JEE Main + Advanced
                                                Course</a></li>
                                        <li>
                                            <a href="/course/jee/target-xii-pass-jee-main-course">Target - XII
                                                Pass JEE Main + Advanced
                                                Course</a></li>
                                        <li>
                                            <a href="/course/neet/foundation-class-xi-neet-course">Foundation -
                                                Class XI NEET
                                                Course</a></li>
                                        <li>
                                            <a href="/course/neet/fresher-class-xii-neet-course">Fresher - Class
                                                XII NEET
                                                Course</a></li>
                                    </ul>
                                </div>
                                <div
                                        class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                    <p class="footer-sub-heading">Popular Teachers/Institutes</p>
                                    <ul>
                                        <li><a href="/institute/motion">NV Sir - Motion Education</a></li>
                                    </ul>
                                </div>
                                <!-- <div
                  class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                  <p class="footer-sub-heading">Free Prepration</p>
                  <ul>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                    <li><a href="">Popular teacher in Lukmaan</a></li>
                  </ul>
                </div> -->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<footer class="mat-footer mdl-mega-footer">
    <div class="container">
        <a class="scrollTop"
           onclick="$('html, body').animate({ scrollTop: 0 }, 400);">
            <button
                    class="mat-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect scrollTop">
                <i class="material-icons">expand_less</i>
            </button>
        </a>
    </div>

    <div class="container">
        <div class="mdl-grid">
            <div
                    class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-mega-footer--middle-section">
                    <img class="mat-logo-image"
                         src="/images/background/Homepage/nsfooterlogo.png"
                         alt="Neostencil Logo">
                    <p class="mdl-typography--font-light p-intro">Prepare for
                        the most difficult exams, Live Online. NeoStencil is founded by
                        AIIMS, IIT, IIM Alumni and aims to revolutionize test preparation
                        by connecting teachers and students seemlessly.</p>
                    <div class="border"></div>

                </div>
            </div>
            <div
                    class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-grid li-footer">
                    <div
                            class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                               checked>
                        <p class="mdl-mega-footer__heading">Quick Links</p>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="/about-us">About us</a></li>
                            <li><a th:href="@{/about-us#team}">Our team</a></li>
                            <li><a th:href="@{/about-us#career}">Careers</a></li>
                            <li><a th:href="@{/#subscribe}">Subscribe to Newsletter</a></li>
                            <li><a th:href="@{/blog/IAS(size=12, page=1)}">Blog</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms</a></li>
                            <li><a href="/frequently-asked-questions">FAQs</a></li>
                        </ul>
                    </div>
                    <div
                            class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                               checked>
                        <p class="mdl-mega-footer__heading">Exams</p>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="/courses?category=IAS">IAS</a></li>
                            <li><a href="/courses?category=IES">IES</a></li>
                            <li><a href="/courses?category=GATE">GATE</a></li>
                            <li><a href="/jee/main">IIT-JEE</a></li>
                            <li><a href="/neet">NEET</a></li>
                            <li><a href="/courses?category=STATE PSC">State PSC</a></li>
                            <li><a href="/courses">Others</a></li>
                            <!--<li><a href="/courses?category=CDS">CAPF/CDS</a></li>-->
                            <!--<li><a href="/courses?category=LAW">Law</a></li>-->
                            <!--<li><a href="/courses?category=RRB">RRB JE</a></li>-->
                            <!--&lt;!&ndash;<li><a href="#">Announcements</a></li>&ndash;&gt;-->
                        </ul>
                    </div>
                    <div
                            class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                               checked>
                        <p class="mdl-mega-footer__heading">Explore</p>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="/tnpsc-group-1-answer-key-cut-off-question-paper-answers#p2"> TNPSC
                                Prelims 2019 Answer Key </a></li>

                            <li><a href="/upsc-prelims-answer-key-cut-off/">UPSC
                                Prelims Answer<br/> Key 2018
                            </a></li>
                            <!--<li><a href="/upsc-prelims-answer-key-cut-off/">IAS Answer Key -<br/> Solution & Cut-->
                            <!--Off-->
                            <!--</a></li>-->
                            <li><a href="/free-ias-preparation">Free IAS Preparation</a></li>
                            <li><a href="/demo-counselling-at-home">Demo Counselling
                                at Home</a></li>
                        </ul>
                    </div>
                    <div
                            class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                               checked>
                        <p class="mdl-mega-footer__heading">Get In Touch</p>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="tel:+91 959-907-5552 ">+91 95990-75552 </a></li>
                            <li><a href="mailto:info@neostencil.com" target="_top"
                                   rel="nofollow">info@neostencil.com</a></li>
                            <li><a href="mailto:corporate@neostencil.com" target="_top"
                                   rel="nofollow">corporate@neostencil.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-grid">
            <div
                    class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-mega-footer--middle-section">
                    <p class="mdl-typography--font-light p-address">
                        <i class="fa fa-copyright" aria-hidden="true"></i> 2014-2019,
                        NeoStencil, Inc. All Rights Reserved.
                    </p>

                </div>
            </div>
            <div
                    class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone text-right">
                <div class="float-right">
                    <a class="social-icon" href="https://www.facebook.com/NeoStencil"
                       target="_blank" aria-label="facebook"
                       rel='nofollow noopener noreferrer'><i class="fa fa-facebook"></i></a>
                    <a rel='nofollow noopener noreferrer' target="_blank"
                       aria-label="twitter" class="social-icon"
                       href="https://twitter.com/NeoStencil"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" class="social-icon" aria-label="linkedin"
                       rel='nofollow noopener noreferrer'
                       href="https://www.linkedin.com/company/neostencil-inc-/"><i
                            class="fa fa-linkedin"></i></a> <a target="_blank" class="social-icon" id="whatsAppShareBtn"
                                                               aria-label="whatsapp" rel='nofollow noopener noreferrer'
                                                               href="https://wa.me/919599075552"><i
                        class="fa fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--
<button
	class="chat-bubble mat-fab mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-button&#45;&#45;fab mdl-js-ripple-effect">
	<i class="material-icons">chat_bubble</i>
</button>-->


<div id="container-floating">
    <button
            class="nd1 nds chat-bubble mat-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect"
            style="background: #02d389 !important" data-toggle="tooltip"
            data-original-title="contract@gmail.com">
        <i class="material-icons">chat_bubble</i>
    </button>

    <div id="customerCareNumber"
         class="btn-customer-care-fixed nd3 nds customerCareNumberfloating"
         data-toggle="tooltip" data-original-title="contract@gmail.com">
        <a href="tel:+91 959-907-5552"
           class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored toottipForPhone"
           style="background-image: linear-gradient(to bottom, #00FF00, #00AA00)">
            <i class="icon call-icon material-icons" id="">call</i>
        </a>
    </div>
    <div class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large"
         for="customerCareNumber" id="toottipForPhone"
         style="font-weight: 900; background-color: #000000">+91
        95990-75552
    </div>

    <!--<div id="floating-button" data-toggle="tooltip" data-placement="left"
        data-original-title="Create" onclick="">
        <i class="material-icons close">close</i>
        <p class="plus">+</p>
    </div>-->

</div>

