<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="landing-darken" style="display: none;"></div>
<div id="" class="accordian-active">
	<div id="accordion-announcements" class="accordian-active">
		<div id="headerText"></div>
	</div>
</div>

<header id="header"
	class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--waterfall"
	style="overflow: initial;">

	<div class="container-header">
		<div id="header-menu" class="mdl-layout__header-row">
			<a href="/" class="mat-title mdl-layout-title"> <img
				class="mat-logo-image" src="https://lh3.googleusercontent.com/7Rek8EgYYxLRsyJ4cDf-L5gcAaQ6VCDvCqdt8tDAAnNdxzdciByhLQkteQMsK6nte6p9eRWhOXBa2-1-wsJotGaP9g">
			</a>
			<!-- Add spacer, to align navigation to the right in desktop -->
			<!-- <div class="mat-header-spacer mdl-layout-spacer"></div> -->
			<!-- <div class="mat-search-box mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable mdl-textfield&#45;&#45;floating-label mdl-textfield&#45;&#45;align-right mdl-textfield&#45;&#45;full-width"> <label class="mdl-button mdl-js-button mdl-button&#45;&#45;icon" for="search-field"> <i class="material-icons`">search</i> </label> <div class="mdl-textfield__expandable-holder"> <input class="mdl-textfield__input" type="text" id="search-field"> </div> </div>-->
			<div class="search-container">
				<form>
					<input type="text" placeholder="Search for Courses,Teachers..."
						name="search">
					<div style="display: none;" class="" id="loader-search">
						<div class="mdl-spinner mdl-js-spinner is-active"></div>
					</div>
					<button style="pointer-events: none;" type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a style="display: none;" class="clear-search"> <i
						class="fa fa-times"></i>
					</a>
				</form>
				<a style="display: none;" class="search-results">
					<div id="searchCourses">
						<h3>Courses</h3>
						<div id="courseSearchList"></div>
						<hr>
					</div>
					<div id="searchTeachers">
						<h3>Teachers</h3>
						<div id="teacherSearchList"></div>
					</div>
					<hr>
					<div id="searchInstitutes">
						<h3>Institutes</h3>
						<div id="instituteSearchList"></div>
						<hr>
					</div>
					<div id="searchPosts">
						<h3>Posts</h3>
						<div id="postSearchList"></div>
					</div>

					<h3 style="display: none;" id="noSearchResultsCommon">No
						results to show. Please try another keyword.</h3>
				</a>
			</div>
			<!-- Navigation -->

			<!--/*/ <th:block th:include="common/commonNavigation"></th:block> /*/-->

			<div style="position: relative; order: 6;">
				<a style="display: none;" id="user"
					class="mdl-button mdl-js-button mdl-button--icon"> <img
					class="img-user"
					src="http://www.myiconfinder.com/uploads/iconsets/0215ef13cd161ea62941c2b1cd491a79-geek.png" />
				</a>
				<ul
					class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					for="user">
					<li class="mdl-menu__item"><a href="/user-dashboard">Dashboard</a></li>
					<li class="mdl-menu__item"><a href="/profile">My Profile</a></li>
					<li class="mdl-menu__item"><a href="/orders">My Orders</a></li>
					<li class="mdl-menu__item"><a id="logout"
						onclick="signOut_common();">Logout</a></li>
				</ul>
			</div>

			<!-- <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button"> <li class="mdl-menu__item">list1</li> <li class="mdl-menu__item">list2</li> <li disabled class="mdl-menu__item">list3</li> <li class="mdl-menu__item">list4</li> </ul> -->
		</div>
	</div>
</header>
<div class="mat-drawer mdl-layout__drawer">
	<nav class="mdl-navigation mdl-navigation-mobile">
		<div>
			<a href="/courses"
				class="mdl-mega-footer__heading mdl-navigation__link">Courses</a>
		</div>
		<div>
			<a href="/teachers"
				class="mdl-mega-footer__heading mdl-navigation__link">Teachers</a>
		</div>
		<div>
			<a th:href="@{/blog/IAS(size=12, page=1)}"
				class="mdl-mega-footer__heading mdl-navigation__link">Blog</a>
		</div>
		<div>
			<a href="/free-ias-preparation"
				class="mdl-mega-footer__heading mdl-navigation__link">Free IAS
				Prep</a>
		</div>
		<div>
			<a href="/reviews-testimonials"
				class="mdl-mega-footer__heading mdl-navigation__link">Testimonials
			</a>
		</div>
	</nav>
</div>
</html>