<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Neostencil</title>

  <!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->


</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <th:block th:include="common/headerLogin"></th:block>
  <div class="mat-content mdl-layout__content">
    <div class="free-demo">
      <div class="container">
        <div class="mdl-grid">
          <div class="reset-password-card mdl-cell mdl-cell--4-col">
            <div class="mdl-card__title"><h2 class="mdl-card__title-text form-heading">Reset Your
              Password!</h2></div>
            <form class="menu" name="reset-password-form"><label class="error-single"
                                                                 id="resetPasswordError"></label><br/>
              <input placeholder="Password" type="password" id="password-reset"
                     name="passwordReset"> <br/>
              <input placeholder="Confirm Password" type="password" id="confirm-password-reset"
                     name="confirmPasswordReset">
              <div style="display: none;" class="common-loader" id="loader-reset-password-page">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
              </div>
              <button id="btn-password-reset"
                      class="mat-card-login mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Reset
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
  </div>

</div>

<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->

</body>
</html>
