<!DOCTYPE html>
<html lang="en">

<!--/*/ <th:block th:include="admin/head"></th:block> /*/-->

<body>

	<div id="wrapper">

		<!--/*/ <th:block th:include="admin/navigation"></th:block> /*/-->

		<div id="page-wrapper">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Add New Institute</h1>
					</div>
				</div>

				<form role="form" name="newInstitute" id="newInstitute">
					<div class="row">
						<div class="col-md-9">

							<div class="form-group">
								<label>Name</label> <input type="text" name="instituteName"
									id="instituteName" class="form-control"
									onkeyup="generateSlug(this.value,'institute');"
									placeholder="Enter name of the institute..."
									data-error="Please give a correct website url.">
							</div>

							<div class="slug_wrapper"></div>

							<label>URL</label>
							<div class="input-group">
								<span class="input-group-addon">https://</span> <input
									type="url" name="institute-url" id="instituteUrl"
									class="form-control"
									placeholder="Enter URL of the institute...">
							</div>
							<div class="form-group" style="margin-top: 10px;">
								<label>Description</label>
								<textarea type="text" name="instituteDescription"
									id="instituteDescription" class="form-control" rows="4"
									placeholder="Enter description of the institute..."></textarea>
							</div>


							<div class="">
								<label>Choose Institute Image</label>

								<div>

									<label class="custom-file"> <input type="file" required
										id="file" class="custom-file-input"> <span
										class="custom-file-control"></span>
									</label> <input type="button" class="button btn-primary" value="Upload"
										id="but_upload">
									<div style="display: none;" id="loaderUpload">
										<img width="30px" height="30px"
											src="http://www.sbif.cl/recursos/sbifweb3/img/throbber_13.gif">
									</div>
								</div>
								<img src="" id="upload-img-tag" width="100px" />

							</div>

							<div class="form-group">
								<label>Image Alt Text</label> <input type="text" required
									name="imageAltText" class="form-control" id="imageAltText"
									placeholder="Enter alt text of the image.....">

							</div>

							<div class="form-group">
								<label style="margin-top: 5px;">Email</label> <input
									type="email" name="input-medium" id="instituteEmail"
									class="form-control"
									placeholder="Enter email ID of the institute..."
									data-error="Please give a correct e-mail address.">
							</div>
							<div class="form-group">
								<label>Owner Name</label> <input type="text"
									name="instituteOwner" id="instituteOwner" class="form-control"
									placeholder="Enter owner name of the institute...">
							</div>

							<div class="form-group highlight-wrap">
								<label>Institute Highlight</label>

								<div class="row">
									<div class="col-md-4">

										<input type="text" required name="InstituteHighlightText[]"
											id="InstituteHighlightText" class="form-control"
											placeholder="Text">
									</div>

									<div class="col-md-7">
										<input type="text" required
											name="InstituteHighlightDescription[]"
											id="InstituteHighlightDescription" class="form-control"
											placeholder="Description">
									</div>

									<div class="col-md-1">
										<button class="btn btn-success add-more-highlight pull-right"
											type="button">
											<i class="glyphicon glyphicon-plus"></i>
										</button>
									</div>
								</div>
								<div class="field_wrapper"></div>

							</div>

							<div class="form-group related_wrap">
								<label>Institute Related Info</label>

								<div class="row">
									<div class="col-md-4">

										<input type="text" required name="InstituteRelatedText[]"
											id="InstituteRelatedText" class="form-control"
											placeholder="Text">
									</div>

									<div class="col-md-7">
										<input type="text" required
											name="InstituteRelatedDescription[]"
											id="InstituteRelatedDescription" class="form-control"
											placeholder="Description">
									</div>

									<div class="col-md-1">
										<button class="btn btn-success add-more-info pull-right"
											type="button">
											<i class="glyphicon glyphicon-plus"></i>
										</button>
									</div>
								</div>
								<div class="field_wrapper1"></div>

							</div>

							<div class="form-group achievements_wrap">
								<label>Institute Achievements</label>
								<div class="institute_row" id="institute_row_id">
									<div class="row">
										<div class="col-md-4">

											<label class="custom-file"> <input type="file"
												required name="multipleImageIcon[]"
												id="InstituteAchievementIcon" class="custom-file-input">
												<span class="custom-file-control"></span>
											</label>


										</div>

										<div style="position: absolute; left: 300px; display: none;"
											id="loaderIconUpload">
											<img width="30px" height="30px"
												src="http://www.sbif.cl/recursos/sbifweb3/img/throbber_13.gif">
										</div>

										<div class="col-md-7">
											<input type="text" required
												name="InstituteAchievementDescription[]"
												id="InstituteAchievementDescription" class="form-control"
												placeholder="Description">
										</div>

										<div class="col-md-1">
											<button
												class="btn btn-success add-more-instituteAchievements pull-right"
												type="button">
												<i class="glyphicon glyphicon-plus"></i>
											</button>
										</div>
									</div>
									<div class="field_wrapper2"></div>
								</div>

								<input type="button" class="button btn-primary" value="Upload"
									id="but_icon_upload">


							</div>

							<div class="form-horizontal">
								<div class="row" style="margin-top: 10px;">

									<div class="">

										<div class="col-sm-6">
											<label>Facebook Url</label> <input type="url"
												name="institute-facebook" id="instituteFacebook"
												class="form-control"
												placeholder="Enter institute facebook url....." autofocus>
										</div>

										<div class="col-sm-6">
											<label>Twitter Url</label> <input type="url"
												name="institute-twitter" id="instituteTwitter"
												class="form-control"
												placeholder="Enter institute twitter url....">
										</div>
									</div>
								</div>
							</div>

							<div class="form-horizontal">
								<div class="row" style="margin-top: 10px;">

									<div class="">

										<div class="col-sm-6">
											<label>Linkedin Url</label> <input type="url"
												name="institute-linkedin" id="instituteLinkedin"
												class="form-control"
												placeholder="Enter institute linkedin url....." autofocus>
										</div>

										<div class="col-sm-6">
											<label>Google Plus Url</label> <input type="url"
												name="institute-google-plus" id="instituteGooglePlus"
												class="form-control"
												placeholder="Enter institute google plus url....">
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label style="margin-top: 5px;">Address</label> <input
									type="text" name="institute-address" id="instituteAddress"
									class="form-control" placeholder="Enter institute address...">
							</div>

							<div class="form-group">
								<label>Contact Numbers</label> <input type="text"
									name="institute-contact-numbers" id="instituteContactNumbers"
									class="form-control"
									placeholder="Enter contact numbers of the institute">
							</div>
							<div class="form-group">
								<label>Other Info</label> <input type="text"
									name="institute-other-info" id="instituteOtherInfo"
									class="form-control"
									placeholder="Enter other information of the institute...">
							</div>

							<div class="row" id="metaPanel"></div>

							<div class="row">
								<div style="margin-top: 20px;" class="col-md-9">
									<button type="button" class="btn btn-primary"
										onclick="showAddMetaPanel();">Add MetaData</button>
								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-heading">Meta Information</div>
								<div class="panel-body">
									<div class="row" id="metaPanel"></div>

									<div style="margin-top: 20px;" class="col-md-9">
										<label> Meta Title :</label> <input type="text"
											placeholder="Enter Meta Title" id="titleTag"
											class="form-control">
									</div>
									<div style="margin-top: 20px;" class="col-md-9">
										<h4>Other Meta Info</h4>
									</div>
									<div style="margin-top: 20px;" class="col-md-9">
										<label> Meta Type :</label> <input type="text"
											value="description" readonly="readonly" id="metaDesc"
											class="form-control">
									</div>

									<div style="margin-top: 20px;" class="col-md-9">
										<label> Meta Content:</label> <input type="text"
											placeholder="Enter meta description" id="txtMetaDesc"
											class="form-control" required="required">
									</div>
									<div style="margin-top: 20px;" class="col-md-9" id="socialImageContainer">
										<label> Social Image:</label> <br /> <label
											class="custom-file"> <input type="file" required
											id="socialImage" class="custom-file-input"> <span
											class="custom-file-control"></span>
										</label> <input type="button" class="btn btn-primary" value="Upload"
											id="but_social_upload">

										<div style="display: none;" id="loaderSocialUpload">
											<img width="30px" height="30px"
												src="https://www.sbif.cl/recursos/sbifweb3/img/throbber_13.gif">
										</div>
										<br/>
										<img src="" id="upload-social-img-tag" width="100px" /><br/>
									</div>

									<div class="row">
										<div style="margin-top: 20px;" class="col-md-9">
											<button type="button" class="btn btn-primary"
												onclick="showAddMetaPanel();">Add More MetaData</button>
										</div>
									</div>


									<div class="row" id="addMetaPanel">

										<div style="margin-top: 20px;" class="col-md-9">
											<label> Meta Type:</label><select
												class="form-control selectpicker" id="ddMetaType"
												data-live-search="true">
												<option value="twitter:card">twitter:card</option>
												<option value="twitter:description">twitter:description</option>
												<option value="og:locale">og:locale</option>
												<option value="twitter:title">twitter:title</option>
												<option value="twitter:site">twitter:site</option>
												<option value="og:site_name">og:site_name</option>
												<option value="article:section">article:section</option>
												<option value="og:type">og:type</option>
												<option value="og:description">og:description</option>
												<option value="fb:app_id">fb:app_id</option>
												<option value="og:url">og:url</option>
												<option value="article:publisher">article:publisher</option>
												<option value="og:title">og:title</option>
											</select>
										</div>

										<div style="margin-top: 20px;" class="col-md-9">
											<label> Meta Content:</label> <input type="text"
												placeholder="Enter comma separated meta content"
												id="txtMetaContent" class="form-control">
										</div>

										<div style="margin-top: 20px;" class="col-md-9">
											<button type="button" class="btn btn-primary"
												onclick="addMetaInfo();">Save Meta</button>
										</div>

									</div>
								</div>
							</div>

							<br />
							<div class="panel panel-primary" id="pnlFeaturedImage">
								<div class="panel-heading">Featured Image</div>
								<div class="panel-body">

									<div style="margin-top: 20px;" class="col-md-9">
										<label> Title:</label> <input type="text"
											placeholder="Enter featured image title" id="txtFITitle"
											class="form-control">
									</div>

									<div style="margin-top: 20px;" class="col-md-9">
										<label> Caption:</label> <input type="text"
											placeholder="Enter featured image caption" id="txtFICaption"
											class="form-control">
									</div>

									<div style="margin-top: 20px;" class="col-md-9">
										<label> Alt Text:</label> <input type="text"
											placeholder="Enter featured image alt text" id="txtFIAltText"
											class="form-control">
									</div>

									<div style="margin-top: 20px;" class="col-md-9">
										<label> Description:</label> <input type="text"
											placeholder="Enter featured image description"
											id="txtFIDescription" class="form-control">
									</div>

									<div style="margin-top: 20px;" class="col-md-9">
										<label>Upload Image:</label></br> <label class="custom-file">
											<input type="file" required id="featureImage"
											class="custom-file-input"> <span
											class="custom-file-control"></span>
										</label> <input type="button" class="button btn-primary"
											value="Upload" id="but_feature_upload">

										<div style="display: none;" id="loaderFeatureUpload">
											<img width="30px" height="30px"
												src="http://www.sbif.cl/recursos/sbifweb3/img/throbber_13.gif">
										</div>
										<img src="" id="upload-feature-img-tag" width="100px" />
									</div>

								</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-heading">BreadCrumbs</div>
								<div class="panel-body" id="panel-body">

									<div class="saved-breadcrumb" id="saved-breadCrumb">
										<div class="form-group">
											<label style="margin-top: 10px";>BreadCrumb Level 1</label> <select
												name="show-breadCrumb" class="form-control show-breadCrumb"
												title="Select BreadCrumb">

												<option selected disabled>Select BreadCrumb</option>

												<option th:each="breadCrumb : ${breadCrumbs}"
													th:data-subtext="${breadCrumb.link}"
													th:text="${breadCrumb.text}"
													th:value="${breadCrumb.breadcrumbId}"></option>

											</select>


										</div>
									</div>

									<button type="button" class="btn btn-default create-breadcrumb"
										style="margin-top: 2px" onclick="createBreadCrumb()">
										<span class="glyphicon glyphicon-plus-sign"></span> Create
										BreadCrumb
									</button>

								</div>
							</div>


							<br /> <label class="radio-inline" style="margin-top: 10px;"><input
								type="radio" name="optradio" id="publish" value="publish">Publish</label>
							<label class="radio-inline" style="margin-top: 10px;"><input
								type="radio" name="optradio" id="draft" value="draft">Draft</label>


							<div class="row">
								<div style="margin-top: 20px;" class="col-md-9">

									<button class="submit btn btn-success" type="submit"
										id="submitInstitute" value="submit">Submit</button>
									<i class="fa fa-spinner fa-spin" id="loader"></i> <a
										href="/admin_lmsadmin/lms/institutes" class="btn btn-default"
										style="margin-left: 60px;">All Institute</a>


								</div>
							</div>


							<div class="row">
								<div class="col-md-9">
									<label class="error-single" id="add-new-post-error"></label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<!--/*/ <th:block th:include="admin/footer"></th:block> /*/-->

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	!--/*/
	<th:block th:include="admin/footer"></th:block>
	/*/-->
	<script
		src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
	<script
			th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/admin/dist/js/institute.js')}}"
	></script>
</body>

</html>
