<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <title>Free Videos | IAS</title>

  <!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->


  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick.css')}}"
          rel="stylesheet" media="screen" />
  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick-theme.css')}}"
          rel="stylesheet" media="screen" />
  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/blogs.css')}}"
          rel="stylesheet" media="screen" />
  <style>
.mdl-shadow--2dp {
	margin: 48px 0;
}



  </style>
</head>
<body class="blog-home">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!--/*/ <th:block th:include="common/header"></th:block> /*/-->
  <div class="mat-content mdl-layout__content">
    <div class="container" style="margin-top: 60px;">
      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/zKDDDBgqF8U"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen">sefaef
            </iframe>
          </div>
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">PUB AD, PAVAN KUMAR (PAVAN
                KUMAR IAS ACADEMY)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              PAVAN KUMAR’S IAS (earlier Academy of Public Administration) has
              a proud history of producing Top Rankers in the Civil Services
              Examination consistently in the recent past. Our institution
              specializes in personal attention to the students as we believe
              that personal attention is key to the success of students. We do
              not believe in ‘coaching’, we are firm believers in providing
              continuous guidance to our students till they reach the pinnacle
              of success.<br/>
              <br/>Pavan Sir is known for his easy accessibility to the
              students and in provding constructive & thoughtful analysis
              about the strengths and weakness of the candidates. With the
              recent changes made by UPSC in the examination pattern, it has
              become extremely important for the candidates to develop
              holistic approach to t heir preparation.
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">PHILOSOPHY, MITRAPAL
                (MITRA'S IAS)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Mr. Mitrapal is the founder of Mitra’s IAS institute, one of the
              most recognized and trusted IAS institute in Delhi NCR. He is a
              famous academician who loves to impart knowledge and inspire
              students to achieve their life and career objectives.<br/>
              <br/>He also excels at the art of establishing a harmonious
              relationship between the students and the teachers to produce
              desired results
            </div>
          </div>
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/PW1lUqAyoSQ"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen">sefaef
            </iframe>
          </div>
        </div>
      </div>
      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/GkL4sDqOjrY"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Ethics, Salamuddin Ansari (IAS Examination Preparation)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              PAVAN KUMAR’S IAS (earlier Academy of Public Administration) has
              a proud history of producing Top Rankers in the Civil Services
              Examination consistently in the recent past. Our institution
              specializes in personal attention to the students as we believe
              that personal attention is key to the success of students. We do
              not believe in ‘coaching’, we are firm believers in providing
              continuous guidance to our students till they reach the pinnacle
              of success.<br/>
              <br/>Pavan Sir is known for his easy accessibility to the
              students and in provding constructive & thoughtful analysis
              about the strengths and weakness of the candidates. With the
              recent changes made by UPSC in the examination pattern, it has
              become extremely important for the candidates to develop
              holistic approach to t heir preparation.
            </div>
          </div>
        </div>
      </div>


      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">MAJID HUSAIN (PRAGATI IAS)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Majid Husain is an Indian Geographer and is popular for his contribution to Geography through various publications and research work. He is one of the senior most faculty of Geography in and is well respected for his invaluable research in the field of Geography.<br/>
              <br/>He has teaching experience of over 40 years and 43 years of experience in the research field. He was awarded by the Delhi Govt. for the best Geography teacher in 1997</br></br>
              Additionally, he has written many useful books for UPSC preparation and other all India level competitive examinations. Besides that, his unique and simple teaching style is well appreciated amongst various student circles.
            </div>
          </div>
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <iframe src="https://www.youtube.com/embed/sZNKVLb3roQ"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>



      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/Rk7f5bgJI6o"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">ALOK RANJAN (ALOK RANJAN'S IAS)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              This exceptional character of Mr. Alok Ranjan can be attributed to his strong educational background. He has done M.Sc. in Geography from Chennai University, MA in Sanskrit with specialization in Philosophy & Ethics and LLB from Delhi University, and also holds a diploma in human rights. With the completion of each discipline, Mr. Ranjan added a new dimension to his personality and further nurtured it through utmost dedication and hard work.<br/>
              <br/>Alok Ranjan’s hold on the subject of Geography is unmatched. His strategized study pattern for the classes at Digmani Educations has made Digmani one of the best choices for the people who opt for Geography in the examination. The center is counted amongst the best in India for training in Geography.
            </div>
          </div>
        </div>
      </div>


      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">MOHAMMAD TARIQUE KHAN</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Mohammad Tarique Khan has successfully coached hundreds of IAS aspirants in the last 22 years including many rankers from 1 to 20.<br/>
              <br/>Apart from teaching and guiding students of Jamia Millia Islamia, New Delhi Mohammad Tarique Khan is also helping , guiding and coaching IAS aspirants in Rajendra Nagar, Mukherji Nagar, New Delhi, Hyderabad, Banglore and many other cities. He is also the author of Modern Indian History and Adhunik Bharat Ka Itihaas (Tata McGraw-Hill) which has become very popular among the IAS aspirants.</br></br>
              The most popular teacher of History among the IAS aspirants for his Unique style, thought-provoking and to the point lectures With history as his academic background, his class lectures and class notes helps students to appear in the Preliminary and Main examinations with great confidence. His ability to connect past with present not only helps a student to understand the contemporary issues confronting the nation but also makes the study of past both lively and interesting. With the variety and depth, students in his class attain maturity. His poetry recitation related to the concerned theme makes his lectures a sheer delight.
            </div>
          </div>
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/M119T2eQdes"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>


      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/UQmw-2vUaTU"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">KAILASH MISHRA (DESTINATION IAS ACADEMY)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              The institute established in 1999 since then the institute has constant records of maximum successful students of political science with highest marks in India. We provide updated study material in English as well as Hindi medium.<br/>
              <br/>Executive Director of Destination IAS Academy, Mr. Kailash Mishra is Editor-in-Chief of Trend Analysis. He faced the interview twice. He is the author of India’s Foreign Policy in Changing Scenario and Indian Economy.
            </div>
          </div>
        </div>
      </div>


      <div class="mdl-shadow--2dp">
        <div class="mdl-grid" style="padding: 0;">
          <div
              class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">VENKATA MOHAN (FEYNMAN IAS)</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Feynman IAS was founded by Director, Venkata Mohan. He has graduated B.Tech from IIT Madras. He is a renowned Sociology teacher and he is the author of Sociological Thought: In the Light of J. Krishnamurti’s philosophy, Ethical Thought- Buddha to Damasio and many other books.<br/>
             </div>
          </div>
          <div
              class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"
              style="">
            <iframe src="https://www.youtube.com/embed/oghpQ3O3H04"
                    width="100%" height="100%" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>

    </div>


    <!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
  </div>
</div>

<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->
<!--<script th:src="@{/slick/slick.min.js}"></script>-->
<script
        th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick.js')}}"
></script>
<!--<script th:src="@{/js/custom.min.js}"></script>-->
<script
        th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/js/custom.js')}}"
></script>

</body>
</html>
