<!DOCTYPE html>
<html lang="en">
<head>
	<title>About us | NeoStencil</title>
	<meta property="og:title" content="About us | NeoStencil" />
	<meta name="description"
				content="NeoStencil is founded by AIIMS, IIT, IIM Alumni and aims to revolutionize test preparation by connecting teachers and students seemlessly. With NeoStencil, prepare for India's Most Coveted Jobs, Live Online.">


	<!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->

	<link
			href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css"
			rel="stylesheet" media="screen" />

	<link rel="canonical" href="https://neostencil.com/about-us" />

	<style>
		*, :after, :before {
			box-sizing: content-box;
		}

     #team .name:hover {
  color: #ff6000!important;
}


		form.search-mobile {
			display: none;
		}

		.mdl-menu__item a {
			color: #000;
		}

		.is-compact .mega-menu nav>ul>li>a {
			color: #000000 !important;
		}

		.mdl-layout__header--transparent.mdl-layout__header--transparent {
			border: none;
			background: transparent;
		}

		.search-container {
			opacity: 0;
			pointer-events: none;
		}

		.mdl-layout__header {
			transition-property: max-height, box-shadow, background;
		}

		.mdl-layout__header.is-casting-shadow {
			background: #fff;
		}

		.mdl-layout__header, .mdl-layout__drawer-button {
			/* This background is dark, so we set text to white. Use 87% black instead if
                 your background is light. */

		}

		.mat-content {
			margin-top: -70px;
		}

		.mdl-layout__header--waterfall.is-casting-shadow .mat-signup {
			color: rgb(255, 255, 255) !important;
			background: #f26722;
			background: -webkit-linear-gradient(to left, #f26722, #e24d08)
			!important;
			background: -o-linear-gradient(to left, #f26722, #e24d08) !important;
			background: -moz-linear-gradient(to left, #f26722, #e24d08) !important;
			background: linear-gradient(to left, #f26722, #e24d08) !important;
		}

		.mdl-layout__header--waterfall.is-casting-shadow .mat-login {
			color: #000000 !important;
			border-color: #999999 !important;
		}

		.mdl-layout__header--waterfall.is-casting-shadow .mat-navigation .mdl-navigation__link
		{
			font-family: open sans;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: left;
			color: #000000;
		}

		.mdl-layout__header--waterfall .mat-navigation .mdl-navigation__link {
			font-family: open sans;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
		}

		.mega-menu .nav-tabs-to-hover ul {
			margin: 0;
		}

		.mega-menu .nav-category ul {
			padding: 0;
			margin: 0;
		}

		.mat-navigation {
			/* ... and now make sure the content is actually LTR */
			direction: ltr;
			justify-content: flex-end;
			width: 422px;
		}

		.mega-menu>nav>ul>li {
			margin-top: 14px;
		}

		.OUR_INVESTORS p {
			width: auto;
			margin-top: 10px;
			color: #6a6767fa;
		}

		.OUR_INVESTORS .our_investors_cards {
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
			rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
			border-radius: 10px;
			background-color: #ffffff;
			height: 120px;
		}

		.OUR_INVESTORS .our_investors_cards img {
			padding: 28px 12px;
			margin: 0 !important;
		}

		.designation {
			font-weight: 600 !important;
			font-size: 15px !important;
		}
		.expanded-footer ul{
			margin-left: 0;
		}
		/*@media screen and (max-width: 767px) {*/
		/*.year16{*/
		/*top: 685px !important;*/
		/*}*/
		/*.timeline .line .alt.stellarResult{*/
		/*top: 250px !important;*/
		/*}*/
		/*.stellarResult{*/
		/*top: 250px !important;*/
		/*}*/

		/*}*/
	</style>
</head>

<body class="">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

	<!--/*/ <th:block th:include="common/header"></th:block> /*/-->

	<div class="mat-content mdl-layout__content">
		<div class="landing-darken" style="display: none;"></div>
		<div class="mat-about-us mdl-typography--text-center">
			<div class="container">
				<div class="mdl-grid">
					<div
							class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<h3 style="margin-top: 180px;">
							MAKING DREAMS COME TRUE,<br />SINCE 2015.

						</h3>
						<br />
					</div>
				</div>
			</div>
		</div>
		<div class="mat-about-navbar">
			<div class="mdl-layout__tab-bar">
				<div id="scrollToSection" class="text-center">
					<a id="link1" class="mdl-layout__tab nav-section1 active"
						 href="#about">About</a><a id="link1"
																			 class="mdl-layout__tab nav-section1" href="#story">Our Story</a>
					<a id="link2" class="mdl-layout__tab nav-section2" href="#team">Team</a><a
						id="link3" class="mdl-layout__tab nav-section3" href="#career">Career</a><a
						id="link4" class="mdl-layout__tab nav-section4" href="#press">Press</a><a
						id="link5" class="mdl-layout__tab nav-section5" href="#locations">Locations</a>
				</div>
			</div>
		</div>

		<div id="about" class="press about-us-bg about-us-about">
			<div class="container">
				<h3>ABOUT US</h3>
				<div class="underline"></div>
				<br /> <br />
				<p>NeoStencil solves the basic yet major problem of
					accesibility to education in India. Our vision is to make quality
					education available, accessible, and affordable across the
					country. We believe that the access to the best resources
					shouldn't be limited only to those who reside in metropolitan
					cities but also to those who quit their jobs, relocate and live in
					harsh conditions to secure their dream job. Our resolve is to make
					every aspirant's dream come true and this resolve of ours has
					nurtured and created toppers. Now it's your turn to be one - Join
					our family now!</p>


			</div>
		</div>
		<div id="story" class="index press">
			<div class="container">
				<h3>OUR STORY</h3>
				<div class="underline"></div>
				<br /> <br /> <br /> <br />
				<section class="timeline">
					<div class="line" style="height: 1900px">
						<div class="" style="top: 0; width: 138px;">
							<img
									style="margin: -100px 0 0 -130px; background-size: cover; background-position: center 80%;"
									src="images/timeline/Group16.png">
						</div>
						<div class="item clearfix animate sept" style="top: 170px">
							<div class="dot"></div>
							<div class="detail large"
									 style="background-image: url(images/timeline/Bitmap3.png); background-size: cover; background-position: center 80%; margin-top: -67px;">
							</div>
							<div class="month month-force-margin">SEPT</div>
							<p class="first-p-timeline">
								<b>Founded NeoStencil,</b> <br />launched their First <br />
								Pilot Programme

							</p>
						</div>
						<div class="year" style="top: 70px">2014</div>
						<div class="item clearfix alt animate" style="top: 270px">
							<div class="dot"></div>
							<div class="month" style="margin: 1px 0 0 -59px;">DEC</div>
							<div class="detail large"
									 style="background-image: url(images/timeline/Group50.png); height: 120px; width: 120px; background-size: contain; margin-top: -67px; background-repeat: no-repeat;">
							</div>
							<p class="second-p-timeline">
								<b>www.neostencil.com</b> <br /> NeoStencil you can access the
								best<br /> classrooms,<br /> by the best teachers, Live!

							</p>

						</div>
						<br /> <br />
						<div class="year" style="top: 370px">2015</div>

						<div class="item clearfix animate" style="top: 470px">
							<div class="dot" style="top: 22px !important;"></div>
							<div class="month month-force-margin-mobile"
									 style="margin: 25px 0 0 17px;">MAY</div>
							<div class="detail detail-text angelRound"
									 style="background-color: #f6f6f6 !important;">
									<span><b>Angel round raised - $60,000</b><br />
										Launched Test Prep Platform for UPSC<br /> 10 Students<br />
										01 Institute<br /> 03 Team Members<br /> </span>
							</div>
						</div>
						<br /> <br /> <br />
						<div class="year year16" style="top: 630px">2016</div>

						<div class="item clearfix animate alt" style="top: 715px">
							<div class="dot" style="top: 22px !important;"></div>
							<div class="month" style="margin: 23px 0 0 -52px;">MAY</div>
							<div class="detail detail-text angelRound"
									 style="background-color: #f6f6f6 !important;">
									<span><b>Accepted by Market</b> <br /> 400+ students<br />
										15 Institutes<br /> 12 Team Members </span>
							</div>
						</div>
						<div class="year" style="top: 859px">2017</div>
						<div class="item clearfix animate" style="top: 965px">
							<div class="dot"></div>
							<div class="month month-force-margin-dollar"
									 style="margin: -3px 0 0 22px;">FEB</div>
							<div class="detail large"
									 style="background-image: url(images/timeline/Bitmap2.svg); background-size: cover; background-position: center 80%; margin-top: -67px;">
							</div>
							<p class="first-p-timeline">
								<b>Raised seed Round </b> <br /> $1,000,000. Led by Brand
								Capital <br />(Times Group)<br /> Acquired Test Cafe to boost
								analytics based testing capabilities
							</p>
						</div>
						<br /> <br /> <br /> <br /> <br /> <br /> <br />
						<div class="item clearfix alt animate stellarResult"
								 style="top: 1071px">
							<div class="dot"></div>
							<div class="month" style="margin: 1px 0 0 -59px;">MAY</div>
							<div class="detail large"
									 style="background-image: url(images/timeline/Group52.png); height: 120px; width: 120px; background-size: contain; margin-top: -67px; background-repeat: no-repeat;">
							</div>
							<p class="second-p-timeline">
								<b>Stellar results:</b> <br /> 100 out of 1099 IAS 2017
								toppers our online students, including Abhilash Mishra - AIR-5
							</p>
						</div>
						<div class="item clearfix animate item-force-margin"
								 style="top: 1174px">
							<div class="dot"></div>
							<div class="month month-force-margin"
									 style="margin: -3px 0 0 22px;">SEPT</div>
							<div class="detail large"
									 style="background-image: url(images/timeline/bitmap2.png); background-size: cover; background-position: center 80%; margin-top: -67px;">
							</div>
							<p class="abhilash-p-timeline">
									<span>4500+ students<br /> 25 Institutes<br /> 50+
										Team Members<br /> Set up regional offices in Hyderabad,
										Jaipur
									</span>
							</p>
						</div>

						<div class="item clearfix alt animate item-force-margin"
								 style="top: 1340px">
							<div class="great-year">
								<span>Added IES and GATE exams</span>
							</div>
							<div class="detail large great-year-img"
									 style="background-image: url(images/timeline/Bitmap.png); background-color: transparent; height: 110px; width: 110px; background-size: contain; margin-top: -49px; left: 188px; background-repeat: no-repeat;">

							</div>
						</div>
						<div class="year currentYear" style="top: 1481px">2018</div>
						<div class="item clearfix alt animate" style="top: 1578px">
							<div class="dot"></div>
							<div class="month month-force-margin"
									 style="margin: 1px 0 0 -62px;">MAY</div>

							<p class="second-p-timeline BestResults"
								 style="left: 30px; top: -19px !important;">
								<b>Industry best results -</b> 120 of 990 final UPSC selections
								through our platform
							</p>
						</div>
						<div
								class="item clearfix animate item-force-margin-2 international"
								style="top: 1680px">
							<div class="dot"></div>
							<div class="month recognition" style="margin: -3px 0 0 22px;">JULY</div>
							<div class="detail large"
									 style="background-image: url(images/timeline/Bitmap2.svg); background-size: cover; background-position: center 80%; margin-top: -67px;">
							</div>
							<p class="first-p-timeline">
								<b>International Recognition:</b><br /> Among Global 50 most
								impactful South Asia Edutech companies - by Tyton Partners
							</p>
						</div>

						<div class="year infinity" style="top: 1750px"
								 title="...and beyond!">
							<img
									style="background-size: cover; background-position: center 80%;"
									src="images/timeline/Group55.png">
						</div>
						<i class="infinity-i material-icons"
							 style="top: 1837px; position: absolute; font-size: 64px; left: -29px;">arrow_drop_down</i>
					</div>
				</section>
			</div>
		</div>

		<div class="container-header">
			<div class="mat-about-us-bar mdl-typography--text-center">

				<div class="">
					<div class="mdl-grid">
						<div
								class="mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
							<h3>75+</h3>
							<p>Teachers</p>
						</div>
						<div
								class="mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
							<h3>500+</h3>
							<p>Courses</p>
						</div>
						<div
								class="mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
							<h3>25,700+</h3>
							<p>Videos</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
							<h3>11,00,000+</h3>
							<p>Registered Students</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
							<h3>25+</h3>
							<p>Top Institutes</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="team" class="press about-us-founders">
			<div class="">
				<div class="founders-bg">
					<h3>Our Founder and passionate team</h3>
					<div class="underline"></div>
					<br> <br>
					<div class="container-header">
						<div class="mdl-grid">
							<div
									class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<img
										src="https://lh3.googleusercontent.com/--lZrV0nL9aWg7XqgcHvHuwg4YQE-SwDxnuK007Bv93a7pDK9tzqcSjyT0J1l7--td0Av7cqvVfZhsPIQo-f4cu5aQ"
										alt="Kush Beejal">
								<p class="name" style="width: 100% !important;">Kush Beejal</p>
								<p class="designation" style="width: 100% !important;">Founder
									and CEO</p>

								<p style="width: 100% !important;">Kush is an alumnus of
									IIT Bombay and IIM Calcutta and has an industry experience of
									more than 10 years. Prior to 5-year stint in the startup
									ecosystem, Kush worked as an Investment banker and Corporate
									Finance specialist. Now through, NeoStencil, founded in 2014,
									Kush and his team aims to leverage technology to achieve equitable
									education.</p>
								<p style="width: 100% !important;">Kush has been a
									sportsman since school days and believes highly in team work.</p>
							</div>


						</div>
					</div>
				</div>
				<br> <br>
				<div class="container">

					<div class="mdl-grid">
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/_Lo8twkd2KvKlvmodYpDyLdUfc1leWMLPoJ6C7UKtay6s6L5bxdRBQgNDYvi3h-xHnbK9lVVOx4xg-AJ8-NKZad44Tg"
									alt="Anish Passi"><br/>
							<p class="name">Anish Passi</p>
							<p class="designation">Director</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/kiRxx0hl4R7hzUenwoom0xBMrfzT9SB2eYmaTzf6I47FgK3IttnmnXSJ8hbhdFcSPMCGglmAXctbwaLXxwCHxmBOkA"
									alt="Rajveer"><br/>
							<p class="name">Rajveer</p>
							<p class="designation">VP, Tech Operations</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/zAdhf9B4jialAG7zCiDc3EMgaItCom869xSP6aXLGDDT8tms8hvvK3EVBdbnS80rY6VVizcqTOM7VIUvub2EsCS5RBj_"
									alt="Ashish Meena"><br/>
							<p class="name">Ashish Meena</p>
							<p class="designation">Chief Technology Officer</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/NwAjbXulOILHxdGQceFqDt7377bX0jpAJnZNndb3CsUdxyQgADs1Y9nNLo9EslB5jAFfyrDWfxKh_bfK28vuSpCxFzA"
									alt="Vikas Gupta"><br/>
							<p class="name">Vikas Gupta</p>
							<p class="designation">Director, Business Development</p>
						</div>


					</div>

					<br/>
					<div class="mdl-grid">
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/FTvgHkCi8fj6sUyfMuInnWiJ9rDdKka3lTp3iw0SHTY2Ukb_gj8w6aLlZd0opu2M56TZ11Dm1ao_JkYEE5Hc87x-Nko"
									alt="Anaadi Jamwal"><br/>
							<p class="name">Anaadi Jamwal</p>
							<p class="designation">Sales-Head</p>
						</div>


						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/Xakb2G4q7dbh42Q7fBedvQ1cTcmdRDtWKn8-Z9G2kVzSnweT4m-Tx-NmK7xrM1h-H05WxcEiD9Nqc4rGU8z_lA46uI8T"
									alt="Manish"><br/>
							<p class="name">Manish</p>
							<p class="designation">Head of Business Development</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/Hpfz1Ou5GwPuOdcaKaNtzOyofASCia6AKieB7k60vWrr4X9as6qA2DqmSXcLHUBEU7ayLA2-9Wjssf66We78ow79GYY"
									alt="Gurpreet"><br/>
							<p class="name">Gurpreet</p>
							<p class="designation">Business Head (Govt Exams)</p>
						</div>


						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/m4vDR7AcsH-DJk7S4TFGGddZQF3feN-biNNVmpcA910PMlx8q07snuhYXbjsH7ZVe6AjOnRJGdyIUFboHG_x_xLWVQ"
									alt="Preeti Mehta"><br/>
							<p class="name">Preeti Mehta</p>
							<p class="designation">Business Head (Engg. & Medical)</p>
						</div>

					</div>
					<br/>
					<div class="mdl-grid">

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/k6TE3DjQfyEXjvNsluRDnTrUH_l98QndRAoDG_p3yy1JgNUwP0cF0Joos48-B3iFEXZoJ95sqUB5N3EM-8ehPyYGUZOn"
									alt="Shilpa Agarwal"><br/>
							<p class="name">Shilpa Agarwal</p>
							<p class="designation">Senior Software Engineer</p>
						</div>


						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/2YVco3b34kghhy5kq1HYYtOm4k66tesIPFdhgtDFunAWhsYWzr5V5g4TGcq8Fyfb5RMlgyGczsLJIXcpxgaqkyXaXe0"
									alt="Vijay Kumar"><br/>
							<p class="name">Vijay Kumar</p>
							<p class="designation">SEO Manager</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/l-SZpiHxcde86jsCbLKsleSOw51wnCJ4elJ2RYCUCpfTqw64ymileg0w3aJ8M9k2E-zTIPjzWgLndw5vxkGv6YJS3J0"
									alt="Gautam Kumar"><br/>
							<p class="name">Gautam Kumar</p>
							<p class="designation">Content Manager</p>
						</div>


						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/gfpmpZ_CpZv0xyQhWZGGzHUyObHxOwCYsjuBaMLIAnwJ-pK8W327_mn5EzFrqIcdrWtyB18l4L7aLVwCFoToJVWMqgg"
									alt="Deepak Singh"><br/>
							<p class="name">Deepak Singh</p>
							<p class="designation">Sr. Designer</p>
						</div>

					</div>

					<div class="mdl-grid">
					
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/dYuAi70bT2zou2yMVQ7yhL_Xw1infoG4xDwxR9OyUgKOV4hrDh8WnJeXHlZQRN78PAjL2_ANSc_p_gb6_BuTw5m2Pw"
									alt="Shri Ram"><br/>
							<p class="name">Shri Ram</p>
							<p class="designation">Assistant Manager(Sales)</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/qiTkcO_UVqgVXTew9xNWpMjDhEwqorYNYFWWWxxAn896w4mAw06Wr6FsjBR0ZLUqgkMYnuHNHZ6kNdXK9u47oSE4SBy3"
									alt="Suraj Pokhariyal"><br/>
							<p class="name">Suraj Pokhariyal</p>
							<p class="designation">Manager, Tech Operations</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/ftw-xpqM0ZR42MoPa-A43-xZHfoU3nDJKVMlArheQ3FXfM0ziRnmTKc2gEHNS1d8gXgUYqPoBpWgppU_CTU7fb_Ul_M"
									alt="Satish Gaur"><br/>
							<p class="name">Satish Gaur</p>
							<p class="designation">Software Engineer</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img src="https://lh3.googleusercontent.com/CyME4NiGEQNYXhzoCXG8GSvGSk1Y2PkU9gPbPF7qOuyoIly2aEZBIo5bLhFigKHddsRPQN99Xnrheh6F3fu-d2Q2xH3a=cc-w180" alt="Kartikeya Garg">
									<br/>
							<p class="name">Kartikeya Garg</p>
							<p class="designation">Full-Stack Developer</p>
						</div>
						
						
					</div>

                        <div class="mdl-grid">
							<div
									class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
								<img
										src="https://lh3.googleusercontent.com/3rfsADJxc9wbdp12chJO3lu5sDOu6UKPL-9HJu1CUNNWLc6ZRFOBWRH6au6bWiWT5yWZH1e7OuLmJkmMl4e5H88ywg"
										alt="Manoj Kumar"><br/>
								<p class="name">Manoj Kumar</p>
								<p class="designation">Sr. Server Administrator</p>
							</div>

							<div
									class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
								<img
										src="https://lh3.googleusercontent.com/2cnxo4DvUQHbnWqk7CJd9HKaNrQcx1XO1Fk_f8XnazzkYJj2zl9xLpVKGlIWC-R5ZOA5vM6Uyso-B8yaa7SpcIBJoA"
										alt="Ritu Chaudhary"><br/>
								<p class="name">Ritu Chaudhary</p>
								<p class="designation">Tech Operations Engineer</p>
							</div>

							<div
									class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
								<img
										src="https://lh3.googleusercontent.com/o8cLCOs-y9TwO4r9gLKGDlh-SwFuJbkxHzkEWTG2aUpNgq50lgGaRb0B0BpEvhKtCY3lq_7csa6uwIkMNJ36hk0dJA"
										alt="Kapil"><br/>
								<p class="name">Kapil</p>
								<p class="designation">Front End Developer</p>
							</div>

							<div
									class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
								<img
										src="https://lh3.googleusercontent.com/qSDYeg3ljMD2TBUqlTZz5JYUFtalZG7odr8o4k9ouyc3Obpv2RX99_LpGBV0t5CMnId58_epJpjb-pq7u_7HTT5oL6E"
										alt="Ashish Singla"><br/>
								<p class="name">Ashish Singla</p>
								<p class="designation">Customer Relationship Executive</p>
							</div>

						</div>


					   <div class="mdl-grid">
						   <div
								   class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							   <img
									   src="https://lh3.googleusercontent.com/E7uagdc5EUhFr3vpXLOk0tebupKF-9HphVyA8ur-KhAdrgqO4hH1uTuEu8YpkB5fVRAIlU-Ei3PPc70zTkXCV22n8w"
									   alt="Shivam Singh"><br/>
							   <p class="name">Shivam Singh</p>
							   <p class="designation">Customer Relationship Executive</p>
						   </div>

						   <div
								   class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							   <img
									   src="https://lh3.googleusercontent.com/1y4FTmgHk4eMuuRvt3j4hLzNTz4JsiVS9iWbKXLTsIU9r92sXoDhf-Eo7Gk09EeZ28XGR0BBlufkfVqlNJYJyseDOzk"
									   alt="Heena Chopra"><br/>
							   <p class="name">Heena Chopra</p>
							   <p class="designation">Customer Relationship Executive</p>
						   </div>

						   <div
								   class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							   <img
									   src="https://lh3.googleusercontent.com/RadO2B-KeIS922_jOq8oOduZOiSE-M707bx-pZHo__99iZFwMVGnCMbKxbn9jWW1YL5j4k0OuU3XgKDB_kQB_5Kv3A"
									   alt="Ashima Thakur"><br/>
							   <p class="name">Ashima Thakur</p>
							   <p class="designation">Sr. Customer Relationship Executive</p>
						   </div>

						   <div
								   class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							   <img
									   src="https://lh3.googleusercontent.com/1RYehh0NUNA6_27fVr40oSFhdwhxtIBnRr7OnUhI7cSYCqyNI1gAbFeihER8EJlwxcJjZVPvwmfOyEg3kdwksB_mr54"
									   alt="Ankit Sethi"><br/>
							   <p class="name">Ankit Sethi</p>
							   <p class="designation">Account Executive</p>
						   </div>
					   </div>

					  <div class="mdl-grid">

						  <div
								  class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							  <img
									  src="https://lh3.googleusercontent.com/w4OQF7L7K2PRF0DyRqkCTO7LLf4d8Nf4-hsp0P1zeO_ju9Y5lJca3heHH4TYV5iZvFy6xXEK20KIcM5VIoKFswHOvj3E"
									  alt="Dharampal"><br/>
							  <p class="name">Dharampal</p>
							  <p class="designation">Tech Operations Executive</p>
						  </div>

						  <div
								  class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							  <img
									  src="https://lh3.googleusercontent.com/hugJja0yYF9RPrwCQ34al23-DF-6JFJjYHfYDb4ds9pqSbJhpFBwThQPCdWZclGiT4slCQNQjo99DsLBXg5m049EeA"
									  alt="Aman Choudhary"><br/>
							  <p class="name">Aman Choudhary</p>
							  <p class="designation">Software Development Engineer in Test</p>
						  </div>

						  <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							  <img
									  src="https://lh3.googleusercontent.com/faUD4hvengk60paqYaHwxwCEH8vFPCzGF13Ze7c3tqor3sddj4DOXZ1KhGBxppJVKI8gfQ8nUF0A9TRP2itK27AbzA"
									  alt="Amit Gupta"><br/>
							  <p class="name">Amit Gupta</p>
							  <p class="designation">Business Development Associate</p>
						  </div>

						  <div
								  class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							  <img
									  src="https://lh3.googleusercontent.com/fyKc1ce9gkOH7T2ZphhP5PWhr2l6K_nh_xqMKGM1k0Mj5ivRTG1f1ko2BOLFeRY3u-ZUAEzSQ3HwwK2eobY_qUzl1iU"
									  alt="Chandrashekar"><br/>
							  <p class="name">Chandrashekar</p>
							  <p class="designation">Business Development Associate</p>
						  </div>

					  </div>





					<div class="mdl-grid">
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/szhaL4uz9r6R_tbYFxmbx6tnqYlJpb_ikYy0wMpXj0f8smINQwicgkT3Cjx9nu4eZkLylt57BSKzlA0abankBUvs_w"
									alt="Ajay Kumar"><br/>
							<p class="name">Ajay Kumar</p>
							<p class="designation">Sr. Field Executive</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/igYuNdCjx4mdno01K3lVj0c7S4xeSyW6tp8Qn7WDQponGqqTH-YQ5IqRt8ta2Va63PyoILKl0U7XCF0qVRQc5GgY9A"
									alt="Pradip Gaud"><br/>
							<p class="name">Pradip Gaud</p>
							<p class="designation">Sr. Field Executive</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/CTKtsWeypDxLD-E3WgVTOo_IlH5U5a0oeNsYZ87QAovrLDsbEqe43Er-JI6fmyVbtxojqEzFed4JtMpFrTKaWe6yZeY"
									alt="Rahul Gupta"><br/>
							<p class="name">Rahul Gupta</p>
							<p class="designation">Sr. Field Executive</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/Eu56GVLj8DAo_BtaM0S3mzBJBayyzAWvx7JM-Rda-N12qc1sozCQAI7daE3L5Qhm94OWYBVyA2YEtW3dCFHDf6qbd9s"
									alt="Vijay Kumar"><br/>
							<p class="name">Vijay Kumar</p>
							<p class="designation">Junior Manager (Field)</p>
						</div>
					</div>
					<br/>
					<div class="mdl-grid">


						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/LCIbvisr44xhoUxWDhHev7qL6E8CQxBgTe4o8I0TlYvOa745r4CjHE8gePUEEzrHkQml5XXgVep1gha68F3DoS2hO-lD"
									alt="Sujit Patel"><br/>
							<p class="name">Sujit Patel</p>
							<p class="designation">DevOps Engineer</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/XIrhGvGd9bf9nySHodCBrClE5zQ8e0PNkKjROstm5AXv15C3fwJdIehUnYGGwNKrzhIR7ChlARIrSqim0BE8v3OW8m8"
									alt="Shantanu Chatterjee"><br/>
							<p class="name">Shantanu Chatterjee</p>
							<p class="designation">Asst. Manager (Digital Marketing)</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/85wsoXKQJkP_derNk98DsmBH-EyB0nW0vDDMp8gVu6shXFa6tS0K1YZCe5qauKSc6dV_5zRqkpj0m1HC0nNA4SKrFUAo"
									alt="Shubhra Jain"><br/>
							<p class="name">Shubhra Jain</p>
							<p class="designation">Sr. Content Writer</p>
						</div>

						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/dLZsSoOO5w8ITNzktb54BIy-b9uqPGivl4ZpsiL2xRROR5a1Vj8r0VUiKBgid5ALljdOqNfQB1DlY32nWCj6l66NwRs"
									alt="Priya Verma"><br/>
							<p class="name">Priya Verma </p>
							<p class="designation">Sr. Social Media Executive</p>
						</div>

					</div>

					<div class="mdl-grid">
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/sBq4kv_DzEJhEPwMzDH-b628wVLpcqhmHYt1TvvHLSZeAuAN3Kv5nKJzxHE-kcsqmKjEQ-6AIpP6lcCBWhPnL36qAnc"
									alt="Mallika Grover"><br/>
							<p class="name">Mallika Grover </p>
							<p class="designation">Digital Marketing Executive</p>
						</div>
						<div
								class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
							<img
									src="https://lh3.googleusercontent.com/4H89SQItEJNL6BaS6yCSimVe6-LJr5Nufr2ujd7E8KW6w67M8YwM1LtxxQkBUQH0UaUGREM7ukVg-e-33-_HfUfr_w"
									alt="Amandeep Petwal"><br/>
							<p class="name">Amandeep Petwal</p>
							<p class="designation">Tech Operations Executive</p>
						</div>

					</div>
					<br/>




				</div>
			</div>
		</div>


		<div id="career" class="join-us-section">
			<div class="container">
				<h3>
					Join us in our vision!</a>
				</h3>
				<p>
					Drop us a mail at <b><a href="mailto:careers@neostencil.com"
																	style="text-decoration: none; color: #000000; font-weight: 900;">careers@neostencil.com</a></b>
					and we'll get back to you.
				</p>
			</div>
		</div>

		<div class="press work-at-neostencil">
			<div class="container">
				<h3>Work @ NeoStencil</h3>
				<div class="underline"></div>
				<br /> <br />
				<div class="mdl-grid">
					<div
							class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<img src="images/icons/excellence.png">
						<div class="float-left">
							<h4 class="text-aqua">Excellence</h4>
							<p>Excellence is not just a word. It’s that restless feeling
								in the gut. That feeling of wanting more. Wanting to be great.</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<img src="images/icons/ownership.png">
						<div class="float-left">
							<h4 class="text-teal">Ownership</h4>
							<p>We don't work for the company - we ARE the company. Each
								one of us takes complete responsibility of any task that comes
								our way.</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<img src="images/icons/respect.png">
						<div class="float-left">
							<h4 class="text-red">Respect</h4>
							<p>Respect yourself. Respect the one sitting next to you.
								Respect the one not sitting next to you. Because till you don’t
								give it, you won’t get it.</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<img src="images/icons/boundry.png">
						<div class="float-left">
							<h4 class="text-pink">"All work and no play..."</h4>
							<p>We believe that a fresh mind is quintessential for
								professional excellence, and it's evident from our team.</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<img src="images/icons/innovation.png">
						<div class="float-left">
							<h4 class="text-voilet">Innovation</h4>
							<p>We are always looking to disrupt - the minds at our
								office are always at work to conceptualise something new.</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<img src="images/icons/trust.png">
						<div class="float-left">
							<h4 class="text-voilet">Trust</h4>
							<p>We stand by our words and take commitments with utmost
								sincerity - to the consumers and to the company alike.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container fun-team">
			<img src="images/team/fun-at-work.png" alt="Fun At Work"> <img
				src="images/team/office-celebration.png" alt="Office Celebration"><img
				src="images/team/party-harder.png" alt="Party Harder"><img
				src="images/team/teamouting.png" alt="Team Outing"> <img
				src="images/team/party-harder2.png" alt="Party Harder"> <img
				src="images/team/worktogether.png" alt="Work Together">
		</div>
		<div class="press about-us-about our-investors">
			<div class="container  OUR_INVESTORS">
				<h3>OUR INVESTORS</h3>
				<div class="underline"></div>
				<br />

				<div class="mdl-grid">
					<div
							class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone ">
						<div>
							<div class="our_investors_cards">
								<img alt="Paragon Trust"
										 src="https://lh3.googleusercontent.com/uBQgtK9VXgKcgVshHGVOlaAZOgg-a4HKUG1PYVde_zatvh1TMdeilGnbXxfahDnRfyPqx3l8bti2sNW0nq9zkQ7RDMcx" /><br />
							</div>
							<p>Paragon Trust</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone ">
						<div>
							<div class="our_investors_cards">
								<img
										src="https://lh3.googleusercontent.com/01To8thCXg6_3TEfFRbWLxnprnMqd2yLhMh1c8To9t7wp-488MxS7IIcYWpCyjnBgykUvSbSLg66z-UTQ5E-Zx-wjw"
										alt="Brand Captial" /><br />

							</div>
							<p>Brand Capital</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone ">
						<div>
							<div class="our_investors_cards">
								<img
										src="https://lh3.googleusercontent.com/eTiy6mnIMq-EsYVUFzqeedi7u-oUrm-7yRu6kJJhKSfN9U2TCaaSVTq6lvxYczmzyZSJ0pvBEF4qzLkcVwJIsQalQ4FQ"
										alt="91springboard" /><br />
							</div>
							<p>91springboard</p>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone ">
						<div>
							<div class="our_investors_cards">
								<img
										src="https://lh3.googleusercontent.com/LOQAh2MbqW90o2ptxUU7H_3LttnQceJao179tGTv1W0yMNXu9niBJTINelvmPDAuyalzVdllx6TEp4TeUenIVcKgrQ0"
										style="padding-top: 44px;" alt="m&s partners Pte.ltd." /><br />
							</div>
							<p>m&s partners Pte.ltd.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="press" class="press press-info">
			<div class="container">
				<h3>PRESS INFO</h3>
				<div class="underline"></div>
				<br /> <br />
				<div class="mdl-grid">
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<a target="_blank" rel="nofollow"
							 href="http://www.business-standard.com/article/news-ani/neostencil-expands-its-footprint-in-rajasthan-administrative-services-and-rajasthan-judicial-services-116042700304_1.html">
							<img
									src="https://lh3.googleusercontent.com/lFCAL06ytMbaGnz85cSI6dZQqoZT8D3Rkn-9WhQdr76uxQ8ooZWVo8Zm21FECmxIhJLesrZ7CQN_TIPDlbGj5OGOrGy0"
									alt="Business Standard">
						</a> <br /> <br />
						<p>
							<a target="_blank" rel="nofollow"
								 href="http://www.business-standard.com/article/news-ani/neostencil-expands-its-footprint-in-rajasthan-administrative-services-and-rajasthan-judicial-services-116042700304_1.html">
								NeoStencil expands its footprint in 'Rajasthan Administrative
								Services and Rajasthan...'</a><br /> <span>April 27, 2016</span>
						</p>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<a href="https://inc42.com/buzz/edtech-neostencil-testcafe/"
							 target="_blank" rel="nofollow"> <img
								src="https://lh3.googleusercontent.com/1Guc06lo-lTiONVaJeE5eFJ5ph0bwPxk_LVzJn7cMEmJuUJsrR2osoBC9sNIct-GMO5ds7Ej-zuP-WxaW2KQHSq2wA"
								alt="Inc42">
						</a> <br /> <br />
						<p>
							<a href="https://inc42.com/buzz/edtech-neostencil-testcafe/"
								 target="_blank" rel="nofollow"> Edtech Firm NeoStencil
								Acquires TestCafe; Aims To Boost Analytics Based Testing
								Capabilities </a><br /> <span>September 27, 2017</span>
						</p>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<a target="_blank" rel="nofollow"
							 href="http://www.financialexpress.com/jobs/two-brothers-from-iims-bring-dream-careers-to-your-doorstep/353755/">
							<img
									src="https://lh3.googleusercontent.com/6A5iQSa9i5ZXBji1FfI5Do0kbdovjyOm8p36d_9hwGhRgFA-NimHFLjFOFQ6ns4ieNSYMq3TLmC0p5To1ssU3JhSPLs"
									alt="Financial Express">
						</a> <br /> <br />
						<p>
							<a target="_blank" rel="nofollow"
								 href="http://www.financialexpress.com/jobs/two-brothers-from-iims-bring-dream-careers-to-your-doorstep/353755/">
								Two brothers from IIMs bring dream careers to your doorstep</a><br />
							<span>August 22, 2016</span>
						</p>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<a target="_blank" rel="nofollow"
							 href="http://www.thehindubusinessline.com/business-wire/abhilash-mishra-air-5-among-100-techsavvy-upsc-toppers-who-chose-to-prepare-through-live-online-classes-ias-2017-results/article9718565.ece">
							<img
									src="https://lh3.googleusercontent.com/PaKZaiigleUDRNw3CcB9Y67JtkI5jpEIc_VsohZRy8pNBGUiC3ZaLbFnN5aV_ezrWjCo0hxSQbmtAOyildAGihYDYK0"
									alt="The Hindu">
						</a> <br /> <br />
						<p>
							<a target="_blank" rel="nofollow"
								 href="http://www.thehindubusinessline.com/business-wire/abhilash-mishra-air-5-among-100-techsavvy-upsc-toppers-who-chose-to-prepare-through-live-online-classes-ias-2017-results/article9718565.ece">
								Abhilash Mishra - AIR 5 among 100 tech-savvy UPSC toppers</a><br />
							<span>June 02, 2017</span>
						</p>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<a target="_blank" rel="nofollow"
							 href="https://timesofindia.indiatimes.com/home/education/news/ias-preparation-goes-online-as-civil-services-exam-toppers-choose-technology-to-study/articleshow/64004276.cms">
							<img
									src="https://lh3.googleusercontent.com/vAsrIFgNORIeu_olFN_rPQfouPsm0xLQ-eRT-a71kjg0DvOSZ2pYWe8k9JIN9dB6rTWXYDr5IK7t_PeqIPQ6IAVXJA"
									alt="The Times of India">
						</a> <br /> <br />
						<p>
							<a target="_blank" rel="nofollow"
								 href="https://timesofindia.indiatimes.com/home/education/news/ias-preparation-goes-online-as-civil-services-exam-toppers-choose-technology-to-study/articleshow/64004276.cms">
								Are online learning platforms like NeoStencil effective for
								UPSC preparation? </a><br /> <span>May 04, 2018</span>
						</p>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<a target="_blank" rel="nofollow"
							 href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ed-tech-platform-neostencil-to-raise-series-a-fund-of-5-million/articleshow/61752532.cms">
							<img
									src="https://lh3.googleusercontent.com/oi7gQlZeROf46MW_ERUehzpNgc0vxgyZmcqwsPzJSVadnWkCgumFfEM208RnMPsfdzHMCwZDfBtUIY0cq0PXGOerPw"
									alt="Economic Times">
						</a> <br /> <br />
						<p>
							<a target="_blank" rel="nofollow"
								 href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ed-tech-platform-neostencil-to-raise-series-a-fund-of-5-million/articleshow/61752532.cms">
								Ed-tech platform NeoStencil to raise Series A fund of $5
								million</a> <br /> <span>Nov 22, 2017</span>
						</p>
					</div>
					<!-- <br/> <a id=""

             class="btn-explore btn-cta-secondary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    VIEW ALL </a> -->
				</div>
				<br />
			</div>
		</div>

		<div id="locations" class="press our-locations">
			<div class="container">
				<h3>OUR LOCATIONS</h3>

				<div class="underline"></div>
				<br />
				<p>
					We are open - 9 a.m. to 6 p.m. - 7 days a week<br />

				</p>
				<br />
				<div class="mdl-grid">
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="locations">
							<div class="locations-bg-grey"></div>
							<div class="locations-bg-white">
								<h3>Gurugram (HQ)</h3>
								<p>
									<small> NeoStencil India Pvt Ltd.<br /> Plot No 337
										Phase II, Udyog Vihar, Sector 20 <br /> Gurugram, 122016,
										Haryana

									</small>
								</p>
							</div>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="locations">
							<div class="locations-bg-grey"></div>
							<div class="locations-bg-white">
								<h3>Delhi</h3>
								<p>
									<small> 23/57, Sarhadi Gandhi Marg,<br /> Old
										Rajinder Nagar, New Delhi, 110060

									</small>
								</p>
							</div>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="locations">
							<div class="locations-bg-grey"></div>
							<div class="locations-bg-white">
								<h3>Jaipur</h3>
								<p>
									<small> 203, 1st Floor, Apex Mall<br /> Lal Kothi,
										Tonk Road, Jaipur- 302015
									</small>
								</p>
							</div>
						</div>
					</div>
					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="locations">
							<div class="locations-bg-grey"></div>
							<div class="locations-bg-white">
								<h3>Hyderabad</h3>
								<p>
									<small>H.No 1-10-132/1, Street No 9, <br />
										Ashoknagar, Hyderabad <br /> Pin Code: 500020, Telangana

									</small>
								</p>
							</div>
						</div>
					</div>

					<div
							class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="locations">
							<div class="locations-bg-grey"></div>
							<div class="locations-bg-white">
								<h3>USA</h3>
								<p>
									<small> 999 18th Street, Ste 3000<br /> Denver, CO
										80202
									</small>
								</p>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>


		<!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
	</div>
	<!--/*/ <th:block th:include="common/dialogs"></th:block> /*/-->
</div>


<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->

<script>
	$('#scrollToSection a').click(function() {
		// Toggle Class
		$(".active").removeClass("active");
		$(this).addClass("active");
		// Animate
		$('.mat-content').animate({
			scrollTop : $($(this).attr('href')).position().top - 150
		}, 400);
		return false;
	});
	$(document)
	.ready(
			function() {
				$('.scrollTop')
				.attr("onclick",
						"$('.mat-content').animate({ scrollTop : 0 }, 400);")

			})
</script>

</body>
</html>
