<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact Us | NeoStencil</title>
	<meta property="og:title"
		  content="Contact Us | NeoStencil" />
<meta name="description"
	content="We are available in three cities - Jaipur, Hyderabad, Gurugram across India with our headquarters in Gurugram. Feel free to get in touch with us at - +91-9599075552 or email us at - info@neostencil.com">

<link rel="canonical" href="https://neostencil.com/contact" />

<!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->

<!-- <link
    href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css"
    rel="stylesheet" media="screen" /> -->
<!-- <link rel="stylesheet" type="text/css" href="coverflow/carousel.css">
   -->


<link
	th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/contact.css')}}"
	rel="stylesheet" media="screen" />
</head>

<body class="contact-us">

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<!--/*/ <th:block th:include="common/header"></th:block> /*/-->

		<!-- <div class="mat-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
  </span>

</div> -->


		<div class="mat-content mdl-layout__content">
			<div class="landing-darken" style="display: none;"></div>
			<div class="container">
				<h3 class="contact-heading">Contact</h3>
				<p class="contact-subheading">Are you a student or teacher? Feel
					free to contact us</p>
				<div class="mdl-grid contact-grid">
					<div
						class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="mdl-grid">
							<div
								class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<i class="fa fa-phone"></i>

							</div>
							<div
								class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<p class="contact-p">
									You can call us on <br /> <span class="contact-span"> <a
										href="tel:+919599075552">+91 95990 75552 / 3</a>
									</span>
								</p>
							</div>
						</div>
					</div>
					<div
						class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="mdl-grid">
							<div
								class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<i class="material-icons">mail_outline</i>

							</div>
							<div
								class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<p class="contact-p">
									You can also drop us an email at <br /> <span
										class="contact-span"><a
										href="mailto:info@neostencil.com">info@neostencil.com</a> </span>
								</p>
							</div>
						</div>
					</div>
					<div
						class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="mdl-grid">
							<div
								class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<i class="material-icons">access_time</i>

							</div>
							<div
								class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<p class="contact-p">
									We are open from Mon to Fri <br /> <span class="contact-span">9
										AM to 6 PM</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="background: #f2f2f2">
				<div class="container">
					<form name="contactFields" id="contactFields">
						<div class="mdl-grid">
							<p class="note">
								<b>We want your input:</b> questions, bug reports, complaints,
								praise, feature requests — every little bit helps. Let us know
								what we can do to improve NeoStencil.
							</p>
							<a
								class="contact-submit  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
								Click Here </a>
							<div
								class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
								<a href="/frequently-asked-questions" class="link-faqs">FAQs</a>
							</div>
							<hr>
						</div>
					</form>
				</div>
			</div>
			<div class="our-offices container-header">
				<h3 class="our-offices">Our Offices</h3>
				<div class="mdl-grid">
					<div
						class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<p class="address">
							<!--<b>Gurgaon</b><br/> M-13/16 DLF Phase-2, <br/>Sector-25 <br/>Gurgaon,-->
							<!--122002-->
							<b>Gurugram (HQ) </b><br /> Plot No 337 Phase II,<br /> Udyog
							Vihar, Sector 20 Gurgaon, 122016
						</p>
					</div>
					<div
						class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<p class="address">
							<b>Jaipur</b><br /> 203, 1st Floor, Apex Mall<br /> Lal Kothi,
							Tonk Road,<br /> Jaipur- 302015
						</p>
					</div>
					<div
						class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<p class="address">
							<b>Delhi</b><br /> 23/57, Sarhadi Gandhi Marg,<br /> Old Rajinder
							Nagar<br /> New Delhi, 110060
						</p>
					</div>
					<div
						class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<p class="address">
							<b>USA</b><br /> 999 18th Street,<br /> Ste 3000<br /> Denver, CO
							80202
						</p>
					</div>
					<p class="note-2">
						<b>Corporate inquiry at:</b> <a
							href="mailto:corporate@neostencil.com" class="faqs-links">corporate@neostencil.com</a>
					</p>
				</div>
			</div>

			<!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
		</div>
		<!--/*/ <th:block th:include="common/dialogs"></th:block> /*/-->
	</div>


	<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script
		th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick.js')}}"></script>

	<script
		th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/js/custom.js')}}"></script>
	<script>
		$(function() {
			$("#accordion").accordion();
		});



</script>
</body>
</html>
