<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<title>FAQs | NeoStencil</title>
	<meta property="og:title"
		  content="FAQs | NeoStencil" />
<meta name="description"
	content="UPSC|IAS|IES|GATE|StatePCS FAQ How do I contact you? How can I buy a course? Can I renew my course | We are always ready and happy to help">

<link rel="canonical"
	href="https://neostencil.com/frequently-asked-questions" />

<!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->

<link
	th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/contact.css')}}"
	rel="stylesheet" media="screen" />

</head>

<body class="contact-us">

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<!--/*/ <th:block th:include="common/header"></th:block> /*/-->

		<div class="mat-content mdl-layout__content">
			<div class="landing-darken" style="display: none;"></div>
			<div class="container">
				<h3 class="faq-heading">Frequently Asked Questions (FAQs)</h3>
				<div class="underline"></div>
				<a
					class="btn-all-courses btn-cta-secondary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-View-all-teachers web-faqs ">WEBSITE
					FAQ'S</a> <a
					class="btn-all-courses btn-cta-secondary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-View-all-teachers upsc-faqs ">UPSC/IAS
					FAQ's</a>

				<div class="mdl-grid">
					<div
						class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"></div>
					<div
						class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<!--  <input class="search-faqs"
               placeholder="Step1: Enter a question or topic"> -->
					</div>
				</div>
				<div class="mdl-grid">
					<div
						class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"></div>
					<div
						class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
						<div class="faqs-section" id="website-faqs">
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>HOW
									TO NAVIGATE THROUGH THE WEBSITE?

								</a>
								<div class="open-faqs">
									Here is a tutorial on how to navigate through the website- <a
										href="/quick-tour?slide=0" target="_blank"
										style="color: #ff6600;">Take a tour!</a>
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>HOW
									DO I CONTACT YOU?

								</a>
								<div class="open-faqs">
									Thought you’d never ask! We are always ready and happy to help
									you, guide you in your course selection or troubleshoot any
									problems you might be facing. You can reach us instantly
									through online chat (see the right-bottom corner of your
									browser), call us at <a href="tel:+919599075552" target="_top"
										class="faqs-links">+91 9599075552</a> / <a
										href="tel:+919599075553" target="_top" class="faqs-links">+91
										9599075553</a> or just drop us an email at <a
										href="mailto:info@neostencil.com" target="_top"
										class="faqs-links">info@neostencil.com.</a> You will hear back
									from us faster than you think
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>HOW
									DO I REGISTER?
								</a>
								<div class="open-faqs">
									Click on <a href="/login" id="signup" class="faqs-links">Sign
										Up</a> button on the top-right corner of the page and login using
									your facebook or google account. Or better, create your own
									NeoStencil account! A confirmation message “Check Your Email To
									Activate Your Account!” will flash on your screen. Check your
									inbox and click on the link in the mail. Done? Welcome aboard!
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>HOW
									DO I LOG IN?
								</a>
								<div class="open-faqs">
									Once registered, you can login by clicking on <a href="/login"
										class="faqs-links">"Login"</a> button on the top-right corner
									of the page. You would need the same username and password you
									used while registering (quick note: username and email address
									may or may not be the same)
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IF I FORGOT MY USERNAME/PASSWORD?
								</a>
								<div class="open-faqs">
									No problem! Click on the <a href="/login" class="faqs-links">"Login"</a>
									button and you will notice next to the password field, a
									question mark for forgot the password.
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>I
									REGISTERED ON THE WEBSITE BUT HAVE NOT RECEIVED THE ACTIVATION
									EMAIL.

								</a>
								<div class="open-faqs">
									Firstly, check your junk/spam folder. In case our email has
									strangely landed there, please mark it as “not spam” so that
									you can continue to receive emails from us in the future. Once
									you open the email, click on the activation link provided in it
									to activate your account.<br /> <br /> If you did not receive
									any email at all, please get in touch with us so that we can
									personally confirm your account.
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>UPON
									CLICKING THE ACTIVATION EMAIL, IT IS ASKING ME AN ACTIVATION
									KEY.

								</a>
								<div class="open-faqs">Your account may have been already
									activated, just try to log in directly. In case you have
									forgotten your username/password, please retrieve and reset
									that to login.</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>OKAY,
									I'M REGISTERED AND LOGGED IN. HOW DO I BROWSE COURSES AND
									TEACHERS ON NEOSTENCIL?

								</a>
								<div class="open-faqs">
									From searching for your favorite course on our home page to
									browsing, it’s easy with NeoStencil. You can see our popular
									courses right on the home page. For all courses, hit <a
										href="/courses" class="faqs-links">"Courses"</a> tab on the
									main menu. There, you can see all courses offered on
									NeoStencil. To see all courses offered alongside the ones for
									which you have registered under, hit <a href="/courses"
										class="faqs-links">"My Courses"</a> tab on the same menu. <br />
									<br /> To see a list of teachers, just click the <a
										href="/teachers" class="faqs-links">"Teachers"</a> tab on the
									main menu. Click on the teacher of your choice to see more
									details and a link to their NeoProfile, where detailed
									information on experience, instituteAchievements, student
									selections etc. is posted.
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>HOW
									DO I SEARCH FOR A SPECIFIC COURSE OF TEACHER

								</a>
								<div class="open-faqs">We know you are determined and have
									clarity of the course and teacher you want. That’s why the
									first thing you will see on our home page is a search bar where
									you can search the courses or teachers of your choice</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i> I
									FINALLY FOUND A COURSE THAT I WOULD LIKE TO TAKE. WHAT DO I DO
									NEXT?

								</a>
								<div class="open-faqs">Awesome! On the course page that
									you wish to take, you will see that on the right side, there is
									a "Buy Course" button. Click on that button. It will take you
									to the checkout options. Fill out your billing details, apply a
									coupon if you have one and select your payment method. Once you
									place an order, you will receive the order receipt immediately.
									After that, we will process your order and soon send you an
									email confirming that your order has been completed. And voila
									- you're ready. Access the course lectures, LIVE!</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i> I
									HAVE MY CORRECT USERNAME/PASSWORD BUT I AM UNABLE TO LOGIN.

								</a>
								<div class="open-faqs">Not a problem, all you have to do
									is clear the cache and cookies from the history panel of your
									laptop/PC/mobile, refresh the page and retry.</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>
									WHAT IF I WISH TO DISCONTINUE THE COURSE?

								</a>
								<div class="open-faqs">
									<b>No-Questions-Asked Refund Policy:</b> For courses below Rs
									8000, you can avail a refund within 24 hours, and for higher
									value courses, you may do so within 72 hours. Please note, in
									certain courses, the refund policy may differ. Do refer to the
									refund policy on the specific course page to be certain.
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i> CAN
									I SHARE MY CREDENTIALS WITH A FRIEND/ FAMILY MEMBER?

								</a>
								<div class="open-faqs">
									We have a strict no-sharing policy. Just like in a physical
									classroom where you would purchase a course for yourself alone,
									the courses we offer work exactly the same way. You may use
									multiple devices to access your course, however, our technical
									team keeps a strict vigilance, and if any misconduct is found
									we take strict action - starting with membership cancellation,
									raising a police report, claim for potential damages and
									whatever else our legal team deems fit.<br /> <br /> Each
									video seen by a student is uniquely watermarked with
									identifying user data including user ID, IP etc at many places
									in both visible and invisible format. Therefore, our tech team
									is effectively able to track down users that are abusing the
									system and in breach of terms of service. In several cases
									which are under police investigation, it was found that the
									person with whom the account is shared is more likely to engage
									in illegal copyright infringement of video sharing. However,
									this happens at the initiator's (original buyer's) expense
									since as the purchaser of the services, he is liable for
									upholding the terms of services. The person who shared or
									bought would most likely be not able to join any Government
									job. Therefore, we strictly advise against sharing your account
									even with close friends and family members.
								</div>
							</div>
							<hr>
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i> HOW
									DO LIVE CLASSES WORK?

								</a>
								<div class="open-faqs">Our extensive technical set up
									including special cameras and microphones in actual classrooms
									combined with an internet connection help us stream classes
									live to you through our platform.</div>
							</div>
							<hr>

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IF I MISS A CLASS?

								</a>
								<div class="open-faqs">All classes can be accessed
									unlimited times within your course validity. So, you can catch
									up on a missed class, or simply revise by viewing same classes
									multiple times. There is no restriction. So you never miss a
									class again.</div>
							</div>
							<hr>

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>MY
									QUESTION IS NOT MENTIONED HERE. WHAT DO I DO?

								</a>
								<div class="open-faqs">
									No worries. We'd love hearing from you. You can reach us
									instantly through online chat (see the right-bottom corner of
									your browser), call us at <a href="tel:+919599075552"
										target="_top" class="faqs-links">+91 9599075552</a> / <a
										href="tel:+919599075553" target="_top" class="faqs-links">+91
										9599075553</a> or just drop us an email at <a
										href="mailto:info@neostencil.com" target="_top"
										class="faqs-links"> info@neostencil.com.</a> <br /> <br />
									Our working hours are 9 to 7 - six days a week. If you contact
									us outside our work hours, we'll get back to you the very next
									working day.
								</div>
							</div>


							<hr />
						</div>


						<div class="faqs-section" style="display: none;"
							id="upsc-ias-faqs">
							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IS THE DRESS CODE FOR A UPSC CIVIL SERVICES (IAS) INTERVIEW? <br />
								</a>
								<div class="open-faqs">
									<b>A GUIDE TO DRESS CODE FOR UPSC/IAS PERSONALITY INTERVIEW</b><br />
									<br /> American Costume Designer Edith Head rightly said, “You
									can have anything you want if you dress for it” The culmination
									of months of grueling studying and clearing examinations by the
									candidates stands before them in the form of an interview board
									consisting of senior bureaucrats. The interviewers can ask a
									candidate just about anything under the sun. Therefore, <b>UPSC
										interview </b> is a crucial component of <b>UPSC examination
										preparations.</b> <br /> <br /> The objective of the interview
									is to assess the overall <b>personality of the interviewee</b>
									which can only be understood in a personal interaction and is a
									golden opportunity for him or her to obtain high marks out of a
									total of 275 marks without a pen and paper but with verbal
									interaction alone!<br /> <br /> However, the initial step in
									achieving the goal is to <b>dress smartly for the UPSC
										civil interview.</b> NeoStencil has prepared an exclusive UPSC
									Civil Interview guide for candidates whose interviews are just
									around the corner and for all other confident candidates. <br />
									<br /> <b>UPSC/IAS Interview Dress Code</b> <br /> <br />
									The result of the interview greatly depends upon the
									candidate’s performance in the interview but the candidates
									dressing sense and body language do play a crucial role in the
									overall impression on the interviewers. Prior to the big day,
									avoid eating/drinking out. <b>Dos and Don’ts of UPSC
										Interview Dress Code</b> <br /> <br /> What to wear for UPSC
									Personality Test/ UPSC Dress Code
									<ul>
										<li>Wear clean and well-ironed clothes.</li>
										<li>Try to pick sober colours/light shades/simple prints</li>
										<li>Male Candidates must wear light coloured full sleeved
											formal shirts and dark trousers.</li>
										<li>A neck-tie isn’t necessary.</li>
										<li>Male Candidates should wear light coloured shirts
											like white, light blue or cream.</li>
										<li>Shoes should be polished and can be accompanied by a
											simple wrist watch and a mild cologne.</li>
										<li>Females candidates can either opt for a simple saree
											or even a salwar suit depending on their comfort level.</li>
										<li>Wear low-heeled shoes that do not make a lot of
											noise.</li>
										<li>Female candidates must tie their hair neatly and wear
											minimum makeup.</li>
										<li>Carry a handkerchief as well.</li>
									</ul>

									<b>What NOT to wear for UPSC Personality Test/UPSC Dress
										code</b>
									<ul>
										<li>Avoid wearing ill-fitting clothing.</li>
										<li>Avoid bright colors/shades/prints.</li>
										<li>Do not wear casual clothes like jeans and T-shirts.</li>
										<li>Try to avoid strong perfume/cologne.</li>
										<li>Do not wear bling neckpiece/jewellery or too much of
											jewellery on a whole.</li>
										<li>Candidates must not wear sneakers or flip-flops.</li>
										<li>Male candidates should avoid sporting a beard and
											long hair too.</li>
									</ul>
									<br /> <br /> In the end, your attire must be such that it
									gives importance to the occasion. Be comfortable and carry
									yourself confidently for your IAS interview.
								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									ARE THE PROS AND CONS OF TAKING HISTORY AS MAINS' OPTIONAL IN
									UPSC WHEN YOU ARE NOT FROM HUMANITIES BACKGROUND?
								</a>
								<div class="open-faqs">
									In UPSC Examinations, all subjects can be considered equally as
									every subject has its own pros and cons. As History is a part
									of General Studies Section, it might act as an advantage to
									those UPSC aspirants who choose History as their optional
									subject. <br /> <br /> Dwelling into the past and learning
									more about world and Indian history is interesting in itself.
									Students who religiously study History for the General Studies
									Section for UPSC Prelims might find it helpful if they pick
									History as an optional subject for Mains. <br /> <br /> Some
									of the aspects of History include Modern Indian history,
									significant events, personalities, issues during the middle of
									the eighteenth century until the present. A student might not
									feel the need to attend coaching for History optional. However,
									that remains a personal choice. <br /> <br /> If the
									candidate is an avid reader, they might be able to read basic
									history novels. Otherwise, the subject helps the candidate in
									developing a reading habit and ultimately help in attempting
									the essay section. <br /> <br /> Some of the cons of choosing
									history as an optional object include a vast syllabus with a
									lot of information to remember. Candidates from a
									non-humanities background might find it a little difficult to
									catch up in the beginning. <br /> <br /> The candidate might
									find History exhaustive as the candidate has to go through
									every minute detail. <br /> <br /> About NeoStencil- Live
									Learning Platform <br /> <br /> NeoStencil offers <b>History
										optional</b> among other subjects through its unique <b>LIVE
										learning platform for IAS/UPSC test preparation</b> where you can
									access classrooms and test series program of the best teachers
									of India, from the comfort of your home. Students can interact
									with the teacher and other students enrolled in the same
									virtual class.
								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IS PATTERN OF UPSC IAS EXAM PREPRATION?
								</a>
								<div class="open-faqs">
									Indian Civil Service examination, popularly called as IAS exam
									is conducted by Union Public Service Commission, central agency
									to recruit central government employees IAS, IPS, IES etc. <br />
									<br /> <b>Distance need to be traveled to reach Mussoorie
										(to become IAS)</b> <br /> <br /> UPSC Civil service exam is
									conducted every year in <b>three stages: </b><br /> <br />

									<ul>
										<li>Preliminary Exam</li>
										<li>Main Exam</li>
										<li>Personality Test</li>
									</ul>


									<br /> <br /> <b style="color: #f26722;">Preliminary
										Exam:</b> <br /> <br /> It is an <b>objective exam </b>(Multiple
									Choice Questions) consist of two papers General Studies Paper 1
									and 2. It is a qualifying paper for appearing mains exam. <br />
									<br /> <b>GS Paper 1</b> (100 questions) - 200 marks - 2 hours
									duration<br /> <b>GS Paper 2 </b> CSAT (80 Questions) - 200
									marks - 2 hours duration <br /> <br /> In the preliminary
									exam, minimum marks of <b>66.6 marks need to be obtained in
										GS Paper 2 - CSAT </b>(Pattern changed in 2015 prelims onwards).
									(Students scored below 66.6 is disqualified for Mains) <br />
									<br /> The qualification for mains examination completely
									depends upon the candidate's performance in GS Paper 1. (Every
									year cut-off varies depending upon the Question Paper) <br />
									<br /> <b>Note:</b> Prelims examination has <b>negative
										marking</b> (1/3rd of allotted mark is deducted for wrong
									answers). Prelims marks are not included in final marks. <br />
									<br /> <b style="color: #f26722;"> Mains Examination:</b> <br />
									<br /> The candidates those who qualified in the Preliminary
									exam are allowed to write Mains examination. <br /> <br />
									Mains examination is written examination consists of 9 papers.
									IAS qualification depends upon the candidate's performance in
									IAS mains written examination.
									<ol>
										<li>Language Paper (Regional Language) - 300 Marks - 3
											hours (Qualifying Paper)</li>
										<li>English - 300 Marks - 3 hours (Qualifying Paper)</li>
										<li>Essay - 250 Marks - 3 hours</li>
										<li>GS Paper 1 - 250 Marks - 3 hours</li>
										<li>GS Paper 2 - 250 Marks - 3 hours</li>
										<li>GS Paper 3 - 250 Marks - 3 hours</li>
										<li>GS Paper 4 - 250 Marks - 3 hours</li>
										<li>Optional Paper 1 - 250 Marks - 3 hours</li>
										<li>Optional Paper 2 - 250 Marks - 3 hours</li>
									</ol>
									<br /> <br /> Total Marks is <b>1750</b> in mains written
									examination. <br /> <br /> <b>Note:</b> Medium of writing can
									be Hindi, English or also in regional language. <br /> <br />
									<b>Personality Test:</b> <br /> <br /> The candidates those
									who qualified in Mains examination is called for IAS interview
									or personality test. The personality test is conducted in UPSC
									Delhi for 275 marks. <br /> <br /> Final merit list will be
									prepared by UPSC based on the candidate's performance in Mains
									written examination (1750 marks) and Personality Test (275
									marks), total 2025 marks.
								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IS THE AGE LIMIT FOR WRITING IAS EXAM?
								</a>
								<div class="open-faqs">
									The minimum age qualification for appearing UPSC IAS exam is 21
									years and should not be more than 32 years old. There is a
									certain exemption to other category candidates.<br /> <br />
									<table>
										<tr>
											<th align="center">Category</th>
											<th align="center">Max age Limit(in yrs)</th>
										</tr>
										<tr>
											<td align="center">General</td>
											<td align="center">32</td>
										</tr>
										<tr>
											<td align="center">OBC</td>
											<td align="center">35</td>
										</tr>
										<tr>
											<td align="center">SC/ST</td>
											<td align="center">37</td>
										</tr>
										<tr>
											<td align="center">PH</td>
											<td align="center">Gen-42, OBC-45, SC/ST-47 years</td>
										</tr>
									</table>


								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>HOW
									MAY ATTEMPTS ARE THERE IN IAS EXAM?
								</a>
								<div class="open-faqs">
									UPSC revised the number of attempts in each category in 2013.
									Based on the maximum number of attempts are <br /> <br />
									<table>
										<tr>
											<th align="center">Category</th>
											<th align="center">Number of attempts</th>
										</tr>
										<tr>
											<td align="center">General</td>
											<td align="center">6</td>
										</tr>
										<tr>
											<td align="center">OBC</td>
											<td align="center">9</td>
										</tr>
										<tr>
											<td align="center">SC/ST</td>
											<td align="center">Unlimited</td>
										</tr>
										<tr>
											<td align="center">PH</td>
											<td align="center">Unlimited</td>
										</tr>
									</table>


								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IS THE MEDIUM OF IAS MAINS EXAMINATION?
								</a>
								<div class="open-faqs">
									Candidates are allowed to write in either English or Hindi or
									in regional languages.<br /> <br /> <b>List of Language
										medium allowed in UPSC examination</b><br /> <br />
									<ul>
										<li>Assamese</li>
										<li>Bengali</li>
										<li>Gujarati</li>
										<li>Kannada</li>
										<li>Kashmiri</li>
										<li>Konkani</li>
										<li>Malayalam</li>
										<li>Manipuri</li>
										<li>Marathi</li>
										<li>Nepali</li>
										<li>Odia</li>
										<li>Punjabi</li>
										<li>Sanskrit</li>
										<li>Sindi</li>
										<li>Tamil</li>
										<li>Telugu</li>
										<li>Urdu</li>
										<li>Bodo</li>
										<li>Dogri</li>
										<li>Maithili</li>
										<li>Santhali</li>
									</ul>


								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>REFER
									A FRIEND PROGRAM
								</a>
								<div class="open-faqs">
									With our new invite your IAS aspirant friends program, you can
									refer a friend to buy a paid course. Your friend who has been
									referred will get a 5% discount which is up to 2000
									rupees.......For more details <a class="faqs-links">Click
										Here</a>
								</div>
							</div>
							<hr />

							<div>
								<a class="faqs-section-link"> <i class="fa fa-play"></i>WHAT
									IS THE MINIMUM QUALIFICATION REQUIRED FOR IAS?
								</a>
								<div class="open-faqs">
									The candidate must hold a degree of any of Universities
									incorporated by an Act of the Central or State Legislature in
									India. <br /> <br /> candidate must hold a degree in
									educational institutions established by an Act of Parliament or
									declared to be deemed as a University Under Section-3 of the
									University Grants Commission Act, 1956, or possess an
									equivalent qualification <br /> <br /> <b>Note:</b> Final
									Year graduate students can also apply, but before interview
									degree should have been completed.
								</div>
							</div>
							<hr />


						</div>
					</div>
				</div>
			</div>
			<!-- <div class="container">
    <div class="mdl-grid">
      <div
          class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"></div>
      <div
          class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <i class="material-icons">lock_open</i>
          </div>
          <div
              class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h3 class="faqs-h3">Getting Started</h3>
            <a href="/faqs-answer" class="faqs-section-link"><i class="fa fa-play"></i>How
              do I login on NeoStencil?</a> <a href="/faqs-answer" class="faqs-section-link"><i
              class="fa fa-play"></i>How do I login on NeoStencil?</a> <a href="/faqs-answer"
                                                                          class="faqs-section-link"><i
              class="fa fa-play"></i>How do
            I login on NeoStencil?</a> <a href="/faqs-more" class="see-more">See more</a>
          </div>
        </div>
      </div>
      <div
          class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <i class="material-icons">lock_open</i>
          </div>
          <div
              class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h3 class="faqs-h3">Getting Started</h3>
            <a href="/faqs-answer" class="faqs-section-link"><i class="fa fa-play"></i>How
              do I login on NeoStencil?</a> <a href="/faqs-answer" class="faqs-section-link"><i
              class="fa fa-play"></i>How do I login on NeoStencil?</a> <a href="/faqs-answer"
                                                                          class="faqs-section-link"><i
              class="fa fa-play"></i>How do
            I login on NeoStencil?</a> <a href="/faqs-more" class="see-more">See more</a>
          </div>
        </div>
      </div>
      <div
          class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"></div>
      <div
          class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"></div>
      <div
          class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <i class="material-icons">lock_open</i>
          </div>
          <div
              class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h3 class="faqs-h3">Getting Started</h3>
            <a href="/faqs-answer" class="faqs-section-link"><i class="fa fa-play"></i>How
              do I login on NeoStencil?</a> <a href="/faqs-answer" class="faqs-section-link"><i
              class="fa fa-play"></i>How do I login on NeoStencil?</a> <a href="/faqs-answer"
                                                                          class="faqs-section-link"><i
              class="fa fa-play"></i>How do
            I login on NeoStencil?</a> <a href="/faqs-more" class="see-more">See more</a>
          </div>
        </div>
      </div>
      <div
          class="mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <i class="material-icons">lock_open</i>
          </div>
          <div
              class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h3 class="faqs-h3">Getting Started</h3>
            <a href="/faqs-answer" class="faqs-section-link"><i class="fa fa-play"></i>How
              do I login on NeoStencil?</a> <a href="/faqs-answer" class="faqs-section-link"><i
              class="fa fa-play"></i>How do I login on NeoStencil?</a> <a href="/faqs-answer"
                                                                          class="faqs-section-link"><i
              class="fa fa-play"></i>How do
            I login on NeoStencil?</a> <a href="/faqs-more" class="see-more">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
			<div class="container">
				<br />
				<hr>
				<p class="faqs-p">Haven't found the answer you're looking for?</p>
				<a
					class="contact-submit  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
					Contact Support </a>
				<hr>
			</div>

			<!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
		</div>
		<!--/*/ <th:block th:include="common/dialogs"></th:block> /*/-->
	</div>

	<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script
		th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick.js')}}"></script>

	<script
		th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/js/custom.js')}}"></script>
	<script>
		$(".faqs-section-link").click(function() {
			$(this).siblings(".open-faqs").toggle();
		});
		$(".upsc-faqs").click(function() {
			$("#upsc-ias-faqs").show();
			$("#website-faqs").hide();
		});
		$(".web-faqs").click(function() {
			$("#website-faqs").show();
			$("#upsc-ias-faqs").hide();
		});
	</script>
</body>
</html>
