.blog img {
	margin: 25px auto 30px auto;
	display: block;
}

.blog {
	font-family: open sans;
}

.blockquote {
	margin: 8px 0 !important;
}

.blog .breadcrumb-container {
	max-width: 1100px;
}

.blog .breadcrumb-container a {
	color: #9e9e9e !important;
}
.blog .iframe-wrapper-outer iframe{
	height: 400px;
}


.blog a.scroll-link {
	background-color: #f4fbfe;
	border: solid 1px #c9eaf9;
	padding: 4px;
	float: left;
	margin: 8px 8px 8px 0;
	width: calc(50% - 20px) !important;
	color: #000 !important;
	text-align: center;
	font-size: 14px;
}

.blog .mdl-data-table tbody tr:hover {
	background-color: transparent;
}

.tags-first-level {
	background-color: #f4fbfe;
	height: 48px;
	border-top: 1px solid #ddd;
	margin: 32px 0 0 0;
}

.tags-first-level li a {
	font-weight: 600;
	padding: 4px 8px;
	min-width: 0;
}

.tags-first-level li a:hover {
	background: #e7f8ff;
}

.tags-first-level ul {
	padding: 0;
	margin: 0;
}

.tags-first-level li {
	display: inline-block;
	line-height: 46px;
	margin: 0;
	padding: 0 8px;
}

.tags-first-level li.active a {
	color: #ff6600;
}

.tags-first-level li.active {
	border-bottom: 2px solid #ff6600;
}

.tags-second-level {
	height: 24px;
	background: #f2f2f2;
	line-height: 24px;
}

.tags-second-level .mdl-chip__text {
	font-size: 11px;
}

.row-scroll-link {
	display: inline-block;
	width: 100%;
}

.blog a.scroll-link:hover {
	text-decoration: none;
}

body {
	font-family: open sans;
}

.mdl-data-table th, .mdl-data-table td {
	padding: 0 18px 12px 18px;
	text-align: left;
}

.make-table-responsive {
	overflow-x: auto;
	margin-bottom: 16px;
}

.blog .note {
	border-radius: 2px;
	background-color: rgba(201, 234, 249, 0.2);
	border: solid 0.5px #6fbce9;
	padding: 12px;
}

.review .user-detail {
	font-family: open sans;
	font-size: 16px !important;
	font-weight: bold !important;
	font-style: normal !important;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left !important;
	color: #000000 !important;
	margin-left: 16px;
}

.date-of-comment {
	font-family: open sans;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
}

.reply-count {
	margin-top: 8px;
	background-color: #d8d8d8;
	color: #000000;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	margin-left: 8px;
	border-radius: 16px;
	line-height: 21px;
	font-size: 15px;
	outline: 0;
	cursor: pointer;
}

.review p {
	font-family: open sans;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 22px;
	letter-spacing: normal;
	text-align: left;
	color: #666666;
	padding: 5px 5px 5px 5px;
	background-color: #fafafa;
	display: -webkit-inline-box;
	margin-top: 5px;
	width: calc(100% - 48px);
}

.reply-to-comment {
	border-radius: 16px;
	background-color: #162840;
	line-height: 21px;
	color: #ffffff;
	font-size: 15px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 8px;
	border: none;
	outline: 0;
	cursor: pointer;
}

/*------ Author By Kartikeya Garg*/
.reply-to {
	margin-top: 8px;
	border-radius: 16px;
	background-color: #162840;
	line-height: 21px;
	color: #ffffff;
	font-size: 15px;
	padding-left: 18px;
	padding-right: 18px;
	border: none;
	outline: 0;
	cursor: pointer;
	margin-bottom: 16px;
}

.reply_wrapper {
	box-sizing: border-box;
	padding-left: 100px;
	float: left;
	width: 100%;
}

.blog h2, .blog h3 {
	margin: 0;
}
/**** Mobile layout ****/
@media ( max-width :767px) {
	.reply_wrapper {
		box-sizing: border-box;
		padding-left: 20px;
		float: left;
		width: 100%;
	}
	.blog-share li {
		width: 45px !important;
		text-align: center;
		height: 45px;
		line-height: 45px;
		color: #666;
		border: 1px solid #ddd;
		text-align: center;
		margin: 4px 0;
		cursor: pointer;
		max-width: 160px;
		transition: 500ms;
		sss float: left !important;
	}
	.blog-share {
		margin: 0;
	}
	.demo-ribbon {
		height: 100px !important;
	}
	.blog a.scroll-link {
		background-color: #f4fbfe;
		border: solid 1px #c9eaf9;
		padding: 4px;
		float: left;
		margin: 8px 8px 8px 0;
		width: calc(100% - 20px) !important;
		color: #000 !important;
		text-align: center;
		font-size: 14px;
	}
}

}
.caption {
	margin: 40px 0;
}

.caption img {
	margin: 0;
}

.comment-avatar {
	float: left;
	margin-right: 15px;
	width: 64px;
}

.comment-detail {
	float: left;
}

.comment-author-name {
	display: inline-block;
	font-size: 12px;
	line-height: normal;
	margin: 0 0 .25em;
}

.comment-timestamp {
	font-size: 10px;
}

.comment-content {
	font-size: 20px;
	float: left;
	width: 100%;
}

.comment-action {
	float: left;
	width: 100%;
	margin-bottom: 24px;
}

.post-comment {
	width: 144px;
	height: 44px;
	border-radius: 3px;
	background-color: #162840;
	color: #ffffff;
	line-height: 44px;
	text-align: center;
	border: none;
	outline: 0;
	margin-left: 0px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	cursor: pointer;
}

.post-reply-btn {
	width: 100px;
	height: 30px;
	border-radius: 3px;
	background-color: #162840;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	border: none;
	outline: 0;
	margin-top: 8px;
	margin-bottom: 8px;
}

.submitComment {
	border-radius: 2px;
	background-image: linear-gradient(352deg, #f7a053, #e24d08);
	font-family: open sans;
	color: #ffffff;
}

.comment-header {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 12px;
}

.view-more-comment:hover {
	text-decoration: underline;
}

.view-more-comment {
	text-decoration: none;
	color: #f26722;
	font-size: 16px;
}

.view-more-reply:hover {
	text-decoration: underline;
}

.view-more-reply {
	text-decoration: none;
	color: #f26722;
	font-size: 16px
}

/*---------*/
.blog, .blog p {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: left;
	color: #333 !important;
	margin-bottom: 24px;
}

.blog div {
	/* height: auto !important;
  width: auto !important;
  max-height: auto !important;
  max-width: auto !important; */
	
}

.blog.container {
	padding: 100px 0 40px 0;
}

.blog ol, .blog ul {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	text-align: left;
	color: #333;
}

.blog a {
	color: #f26722 !important;
}

.blog a:hover {
	text-decoration: underline;
}

.blog a strong, .blog a b {
	font-weight: normal !important;
}

.blog h1 a, .blog h2 a, .blog h3 a, .blog h4 a, .blog h5 a {
	font-size: 20px;
}

.blog h1 {
	font-size: 24px;
	padding-bottom: 33px;
}

.blog h2 {
	font-size: 22px;
}

.blog h3 {
	font-size: 20px;
}

.blog h4 {
	font-size: 18px;
	line-height: 1.5;
}
.blog h5 {
	font-size: 16px;
}
.blog p {
	font-size: 16px;
}

.blog img {
	width: 100%;
	height: auto;
}

.demo-ribbon {
	width: 100%;
	height: 200px;
	background-image: url(https://lh3.googleusercontent.com/wNXEbkoTKCObJK9DMknWorTMRjNzacKWVeIu5vCs6veUgZUn6bLrMw2KRLfvxzJT0XKQRDUss32EDAD_adyC76ZYOyQ);
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background-size: cover;
}

.blog .content {
	background-color: #fff;
	margin-top: -200px;
}

h1, h2, h3, h4, h5 {
	text-align: left !important;
}

.blog .breadcrumbs {
	margin: 0 15px 0 15px;
}

.blog td {
	border: 1px solid #e2e2e2;
	padding: 8px 18px 12px 18px !important;
	font-size: 14px;
	vertical-align: top;
}

.blog table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	white-space: normal;
}

.blog table p, .blog table span {
	margin: 0;
	font-size: 14px;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
	padding: 8px 18px 12px 18px;
}

.blog-share {
	list-style: none;
	padding: 0;
}

.blog-share li {
	width: 100%;
	max-width: 160px;
	height: 45px;
	line-height: 45px;
	color: #666;
	border: 1px solid #ddd;
	text-align: center;
	margin: 4px 0;
	cursor: pointer;
	max-width: 160px;
	transition: 500ms;
}

.blog li {
	margin-bottom: 8px;
}

.answer-key {
	width: 100%;
	max-width: 260px;
	background-color: #162840;
	max-width: 260px;
	padding: 8px;
}

.answer-key label {
	font-family: open sans;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	display: block;
}

.answer-key div {
	border: 1px solid #f4fbfe;
	height: 210px;
	padding: 200px 20px 40px 20px;
}

.answer-key p {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: normal;
	text-align: center;
	color: #f4fbfe !important;
}

.answer-key a {
	width: 184px;
	height: 44px;
	border-radius: 1px;
	background-color: #33cb98;
	font-family: open sans;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	display: block;
	margin: 0 auto;
	line-height: 44px;
}

.review {
	margin-bottom: 24px;
}

.drop-a-comment h5 {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	text-transform: uppercase;
}

.drop-a-comment textarea {
	width: 100%;
}

.drop-a-comment input {
	width: 100%;
	height: 44px;
}

.blog-heading {
	font-family: open sans;
	font-size: 24px !important;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.42;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin: 0 0 0 16px !important;
	display: inline-block;
	padding-bottom: 43px;
}

.blog-category-heading {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin: 0 !important;
	display: inline-block;
}

.blog-heading ~ span {
	font-family: open sans;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 16px;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
	margin: -4px 0 0 16px;
	display: block;
}

.ns-card h3 {
	font-family: open sans;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 32px;
	letter-spacing: normal;
	text-align: left;
	color: #000000 !important;
}

.ns-card p {
	font-family: open sans;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: normal;
	text-align: left;
	color: #666666 !important;
}

.blog-genre {
	font-family: open sans;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #f26722 !important;
}

.date-of-blog-slider {
	font-family: open sans;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #666666 !important;
	margin: 8px 0;
	display: inline-block;
}

.date-of-blog-slider .month {
	color: #000000 !important;
}

.minutes-read {
	font-family: open sans;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #666666 !important;
}

.minutes-read i {
	color: #999999 !important;
	font-size: 12px !important;
}

.share-blog {
	font-family: open sans;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #f26722 !important;
	cursor: pointer;
}

.slick-slide img {
	display: block !important;
	height: 154px !important;
}

.share-blog i {
	opacity: 0.6;
}

.previous-next-post h3 {
	font-size: 20px;
	width: 300px;
}

.previous-next-post {
	padding: 190px 0px 280px 0px;
}

.previous {
	font-family: open sans;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #b2b2b2 !important;
	margin: -20px 0 4px 16px;
	display: block;
}

.line {
	display: block;
	right: 0;
	width: 415px;
	height: 3px;
	background: #dadada;
	margin-left: 8px;
}

.line-left::before {
	background: #f26722;
}

.line-left::before {
	content: '';
	display: block;
	top: 0;
	width: 48px;
	height: 3px;
}

.line-right::after {
	background: #f26722;
}

.line-right::after {
	content: '';
	display: block;
	top: 0;
	width: 48px;
	height: 3px;
	float: right;
}

.line-left {
	margin-left: 32px;
}

.line-right {
	margin-left: 88px;
}

.related-posts {
	font-family: open sans;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	display: inline-block;
	margin-left: 10px;
}

.ns-card {
	border: 1px solid #ddd;
}

.slick-slide {
	box-shadow: none;
}

.blog a, .blog button {
	width: auto !important;
}

.blog .btn-cta-secondary {
	height: 40px;
	line-height: 40px;
	width: auto;
	background: #ff6000;
	color: #ffffff !important;
}

.blog .note {
	text-align: center;
	background: #162840;
	color: #fff !important;
	padding: 10px;
	margin: 30px 0;
}

.masonry {
	-moz-column-width: 340px;
	-webkit-column-width: 340px;
	-moz-column-gap: 10px;
	-webkit-column-gap: 10px;
}

.masonry-card {
	display: inline-block;
	margin: 0.25rem;
	padding: 1rem;
	width: 340px;
}

.masonry-card>div {
	border: 1px solid #ddd;
}

.masonry-card .ns-card {
	width: initial !important;
	border: none !important;
}

.blogs table {
	margin: 0 auto;
}

.blogs td, .blogs th {
	text-align: left;
}

.blog-course-card {
	width: 200px;
	margin: 15px -38px;
}

.non-masonry-card {
	width: 400px;
}

.blog-course-card h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	margin: 4px 0;
}

.blog-course-card .starts-on, .blog-course-card .number-students,
	.blog-course-card .starts-on-date {
	font-size: 11px;
}

.blog-course-card .p-grid-1 {
	font-size: 12px;
}

.blog-course-card .course-rating i {
	font-size: 11px;
	margin: 0px 2px 0 0;
}

.blog-course-card .course-rating {
	line-height: 1;
}

.blog-horizontal-card .trending-courses-card img {
	float: left;
	width: 340px;
	height: 280px;
}

.blog-horizontal-card .blog-horizontal-card-text {
	float: left;
	width: 360px;
	height: 280px;
	border: 1px solid #ddd;
}

.blog-horizontal-card .ns-card {
	border: 0;
}

.blog-horizontal-card {
	margin-bottom: 16px;
	display: flow-root;
}

.blog-horizontal-card .ns-card h3 {
	margin: 8px 0;
}

.blog-home .line-left {
	display: inline-block;
	margin-top: 24px;
	width: 87%;
}

.blog-home .blog-heading {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	display: inline-block;
	margin: 30px 0;
}

.blogs-slider {
	background-color: #162840;
	padding: 56px 96px;
}

.blogs-slider .slick-slide {
	background: transparent;
}

.slick-next:before, .slick-prev:before {
	opacity: 0.54 !important;
	color: #999 !important;
	font-size: 24px;
}

.blog-category .ns-card h3 {
	margin: 0;
}

.blog-category .ns-card {
	border: none;
}

.blog-chip {
	width: fit-content;
	height: 28px;
	border-radius: 2px;
	background-color: #f1f1f1;
	font-family: open sans;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: normal;
	text-align: left;
}

.blog-home .line-left {
	display: inline-block;
	width: 73%;
	margin-left: 20px;
}

.tags {
	padding: 20px;
}

.tags .mdl-chip {
	margin: 4px
}

.blog-bg-heading {
	font-family: open sans;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 1.3px;
	text-align: left;
	color: #ffffff;
}

.most-viewed-card label {
	font-family: open sans;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #f26722;
}

.most-viewed-card img {
	height: 90px;
	width: 100%;
}

.most-viewed-card h3 {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin: 0 0 12px 0 !important;
}

.most-viewed-card span {
	font-family: open sans;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #f2f2f2 !important;
}

.most-viewed-heading {
	font-family: open sans !important;
	font-size: 20px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: norma !important l;
	letter-spacing: 0.8px !important;
	text-align: left !important;
	color: #ffffff !important;
}

.category {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
	margin: 24px 40px 0 40px;
}

.related-topics {
	font-family: open sans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
	margin: 0 40px 0 40px;
}

.search-blog input[type=text] {
	padding: 6px;
	font-size: 17px;
	border-radius: 2px;
	background-color: transparent !important;
	width: calc(100% - 81px);
	background-color: #ffffff;
	border: none;
	height: 52px;
	outline: 0;
}

.search-blog button {
	float: left;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	height: 63px;
	width: 64px;
	background-color: #f2f2f2;
}

.category-heading {
	font-family: open sans;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin: 8px 40px 0px 40px;
}

.search-blog form {
	border: solid 0.5px #979797;
	margin: 70px 40px 0 40px;
}

.caption {
	text-align: center;
}

img.note-float-left {
	margin: 10px 20px 0 0;
}

img.note-float-right {
	margin: 10px 0 0 20px;
}

.pagination-blog a {
	width: auto;
	float: left;
}

.pagination-blog a {
	width: 40px;
	transition: 200ms;
	margin: 20px 4px 0 4px;
	float: left;
	text-align: center;
	border-radius: 4px;
	padding: 2px 0;
}

.pagination-blog a.active {
	background: #162840;
	color: #fff;
}

.pagination-blog a:hover {
	background: #f2f2f2;
	color: #000;
}

.pagination {
	display: flex;
	width: max-content;
	margin: 30px auto;
	width: -moz-max-content;
}

.next-prev {
	margin-top: 20px;
}

.facebook-share:hover {
	background: #3b5998;
	color: #fff;
}

.twitter-share:hover {
	background: #0084b4;
	color: #fff;
}

.linkedin-share:hover {
	background: #007bb6;
	color: #fff;
}

.google-plus-share:hover {
	background: #DB4437;
	color: #fff;
}

.whatsapp-share:hover {
	background: #25d366;
	color: #fff;
}

p.accordian-post {
	background: #f4fbfe;
	padding: 4px 8px;
	cursor: pointer;
	border: solid 1px #c9eaf9;
}

p.accordian-post:after {
	content: "\f067";
	font-family: FontAwesome;
	float: right;
}

@media screen and (min-width: 767px) {
	.tags-second-level-mobile {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.tags-second-level-desktop {
		display: none;
	}
	.tags-second-level-mobile {
		margin: 16px;
		color: #ff6600;
	}
	.tags-second-level-mobile span {
		color: #ff6600 !important;
	}
	.blog table {
		white-space: nowrap;
	}
	.blog img {
		width: 100% !important;
		height: auto !important;
	}
	.non-masonry-card {
		width: 100%;
	}
	.blog-course-card {
		width: calc(100% - 16px);
		margin: 8px !important;
	}
	.blog-horizontal-card .trending-courses-card img {
		width: 100%;
	}
	.blog-horizontal-card .blog-horizontal-card-text {
		width: 100%;
	}
	.line-left {
		margin-left: 25px;
		width: 88%;
	}
	.blog-home .line-left {
		margin-top: 0;
		width: 90% !important;
		margin-bottom: 4px;
	}
	.blog-home .blog-heading {
		margin: 30px 0 0 20px !important;
	}
	.blogs-slider {
		background-color: #162840;
		padding: 56px 36px;
	}
	.subscribe-to-newsletter-form input {
		width: 83% !important;
	}
	.masonry-card {
		width: calc(100% - 32px);
	}
	.blog-share a {
		float: left;
	}
}
/*blog share dialog css start here*/
.ShareBlogDialogContainer {
	width: -webkit-fill-available;
	height: 412px;
	margin: 0 auto;
	padding: 30px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	overflow-y: auto;
}

.blogShareContainer {
	display: block;
	float: left;
	width: calc(20% - 40px);
	text-align: center;
	padding: 20px;
	font-size: 40px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
	background-color: #fff;
	min-height: 60px;
	min-width: 13%;
}

@media only screen and (max-width: 767px) {
	.blogShareContainer {
		width: calc(100% - 40px) !important;
		padding: 5px;
	}
	.heading_share_blog_dialog {
		font-size: 13px;
		font-weight: 700;
	}
	.custom-share-link {
		padding: 8px;
		font-size: 10px;
	}
	.other-option .fa-paperclip {
		font-size: 10px;
	}
}

.heading_share_blog_dialog {
	text-align: center !important;
}

.blog_social_icons {
	margin-top: 10px;
}

.other-option {
	text-align: left;
	margin-top: 86px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
}

.custom-share-link {
	width: calc(100% - 74px);
	margin: 0 auto;
	height: 33px;
	padding: 13px;
	font-size: 20px;
	border: 1px solid #ddd;
	border-left: none;
	outline: 0;
}

.other-option .fa-paperclip {
	font-size: 20px;
}

.blogShareContainer .fa-facebook {
	color: #3B5998;
}

.blogShareContainer .fa-twitter {
	color: #33CCFF;
}

.blogShareContainer .fa-linkedin {
	color: #4875B4;
}

.blogShareContainer .fa-google-plus {
	color: #C63D2D;
}

.blogShareContainer .fa-whatsapp {
	color: #25d366;
}

.mdl-dialog-video {
	width: fit-content;
	padding: 0;
	outline: 0;
}

.mdl-dialog__content {
	padding: 0 !important;
}

.close-dialog {
	position: absolute;
	top: -178px;
	right: -24px;
}

.mat-fab {
	z-index: 3;
	background-color: #d7e2e9 !important;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	margin-top: 146px;
	float: right;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.copy-icon {
	float: left;
	height: 33px;
	padding: 13px;
	background-color: #fff;
	width: 20px;
	font-size: 28px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-right: none;
}

.blogs-slider .date-of-blog-slider, .blogs-slider .minutes-read,
	.blogs-slider .month, .blogs-slider h3, .blogs-slider p {
	color: #fff !important;
}

.blogs-slider h3 {
	margin: 16px 0;
}

.blogs-slider .ns-card {
	border: 0;
}

.pagination-blog {
	display: none;
}
/*blog share dialog css ends here*/

.ns-question-list .ns-view-source a {
	font-size: 12px;
	padding-left: 19px;
}