<!DOCTYPE html>
<html lang="en">
<head>
  <title>Neostencil</title>
  <!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!--/*/ <th:block th:include="common/header"></th:block> /*/-->
  <div class="mat-content mdl-layout__content">
    <div class="landing-darken" style="display: none;"></div>
    <div class="body-content" style="height: 600px;">

    </div>
    <!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
  </div>
</div>
<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->
</body>
</html>
