<!DOCTYPE html>
<html lang="en">
<head>
<title>Media Coverage | NeoStencil</title>

<!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->
	<meta property="og:title"
		  content="Media Coverage | NeoStencil" />
<meta name="description"
	content="NeoStencil has found its place in leading newspapers and digital media platforms such as - TimesofIndia, IndianExpress, Economic Times, YourStory, DNA & many more. ">
<link rel="canonical" href="https://neostencil.com/media-coverage" />

<style>
/*media page starts*/
.MCP_centered {
	display: inline-block;
}

div.MCP_media_box {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	float: left;
	margin: 0 50px;
	width: calc(33% - 100px);
	min-height: 311px;
	text-align: left;
}

div.MCP_media_box .MCP_imgbox {
	height: 150px;
	width: 100%;
	margin: 0px auto 8px auto;
	border: 1px solid #d8d8d8;
	position: relative;
}

div.MCP_media_box div img {
	display: block;
	width: calc(60%) !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: auto;
	max-height: 100px;
}

div.MCP_media_box .MCP_dt_title {
	font-size: 12px;
	color: #036;
}

div.MCP_media_box a {
	margin: 17px 0 0 0;
	padding: 0;
	line-height: 24px;
	font-weight: bold;
	font-size: 21px !important;
	text-align: left;
	text-decoration: none;
	color: #000000 !important;
	cursor: pointer;
}

div.MCP_media_box p:hover {
	text-decoration: underline;
}

.mdl-dialog {
	border: none;
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px
		rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2);
	width: fit-content;
	width: -moz-fit-content;
}

.mdl-dialog-paperAds {
	padding: 0 !important;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
	div.MCP_media_box {
		min-height: 370px;
	}
}

@media screen and (max-width: 992px) and (min-width: 767px) {
	div.MCP_media_box {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		float: left;
		margin: 0 30px;
		width: calc(33% - 60px);
		min-height: 370px;
	}
	div.MCP_media_box a {
		margin: 17px 0 0 0;
		padding: 0;
		line-height: 20px;
		font-weight: bold;
		font-size: 17px !important;
		text-align: left;
		text-decoration: none;
		color: #000000 !important;
		cursor: pointer;
	}
	div.MCP_media_box .MCP_dt_title {
		font-size: 10px;
		color: #036;
	}
}

@media screen and (max-width: 767px) and (min-width: 480px) {
	div.MCP_media_box {
		margin: 0 30px;
		width: calc(50% - 60px);
		min-height: 250px;
	}
	div.MCP_media_box a {
		text-decoration: none;
		font-size: 15px !important;
		line-height: 18px;
	}
	div.MCP_media_box .MCP_dt_title {
		font-size: 10px;
		color: #036;
	}
	div.MCP_media_box .MCP_imgbox {
		height: 100px;
		width: 100%;
		margin: 0 auto;
		border: 1px solid #d8d8d8;
		position: relative;
	}
	.mdl-dialog-paperAds {
		width: fit-content !important;
		top: 100px !important;
		padding: 0;
		outline: 0;
	}
}

@media screen and (max-width: 480px) {
	div.MCP_media_box {
		margin: 0 20px;
		width: calc(100% - 40px);
		min-height: 250px;
	}
	div.MCP_media_box a {
		text-decoration: none;
		font-size: 15px !important;
		line-height: 18px;
	}
	div.MCP_media_box .MCP_imgbox {
		min-height: 100px;
		width: 100%;
		margin: 10px auto;
		border: 1px solid #d8d8d8;
		position: relative;
	}
	.mdl-dialog__content {
		width: 92%;
	}
	.mdl-dialog__content img {
		width: 100%;
	}
	.mdl-dialog {
		width: 82%;
	}
}

@
document url ("https: //example.com ") { .mdl-dialog {
	
}
}

/*media page ends*/
</style>

</head>

<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<!--/*/ <th:block th:include="common/header"></th:block> /*/-->
		<!-- <div class="mat-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
  </span>

</div> -->


		<div class="mat-content mdl-layout__content">
			<div class="free-demo">
				<div class="container-header">


					<div class="MCP_centered " style="padding: 10px;">

						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/3oxpAwQYQLDkNp_9MGlTpv5XvVZBsbIf3U7B-HG3dAri6sbzcvHfssYogbV77HEvcJByvsVAHQbwnR6I1NZkpJJ2OIg" height="44" width="152" alt="DNAindia" title="DNAindia" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503050824/http://www.dnaindia.com/india/report-ias-preparation-online-how-technology-can-help-you-crack-civil-services-examination-2610707" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Online: How technology can help you crack Civil Services Examination &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/vtZhtDvLgr-GUDWvHAMPV4uoFWncM8w0VdNsyZ3pbPDmfEJ8cYFelyNQs997sla1N_OcCF-Ni659pGaaNKl6VFNVZn0" height="44" width="152" alt="The_times_of_india" title="The_times_of_india" /></div>-->

						<!--<div class="MCP_dt_title">May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180627071559/https://timesofindia.indiatimes.com/home/education/news/ias-preparation-goes-online-as-civil-services-exam-toppers-choose-technology-to-study/articleshow/64004276.cms?" rel="nofollow" class="MCP_myBtn" data-image="#">IAS preparation goes online as civil services exam toppers choose technology to study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/b_mMnD0BaZ4RRmtHk09sNxwtp7m9i1lpD0TP86PCCG1AKQavVbLYgfWgP8paABzNZrzy8F6o-cTdFvq5AjalCs2BXhw" height="44" width="152" alt="India_today" title="India_today" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503052739/https://www.indiatoday.in/pr-newswire?rkey=20180502enIN201805029219_indiapublic&filter=4315" rel="nofollow" class="MCP_myBtn" data-image="#"> Over 120 CSE 2017 toppers from NeoStencil.com alone&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img title="Central Chronicle" src="http://lh3.googleusercontent.com/1R_ZL9jF1hTFm3GOlTblgAotx2SruT8bDIqDuWPfW3wSQ18B6oXFMVfipB4DgrdggUt0GjXUM8J-K0lx3E3nSEVewA" alt="Central Chronicle" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">April 2, 2018 | BHOPAL</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/9p83UJ9fUxeoEQGlLMyEw-OXRGRFvEyEc3Re_eN-1t_xfJKRF7S_uGlq3aeMbPdxzjZPHcCtpLiqydJSoyMdM07-1so" rel="nofollow">Edtech Firm NeoStencil Acquires TestCafe; Aims To Boost Analytics Based… </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/YF0uixAvSHcj7c8qskOH1VZNi10cdhqiAcwMf1D6wD6Q1ENrAH5WiXDs9ZSraG4Pj0mqhOwiqZMWlBInzdeccaOwsA" height="44" width="152" alt="IndiaInfoLine" title="IndiaInfoLine" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href ="https://web.archive.org/web/20180503050220if_/https://www.indiainfoline.com/prnewswire?rkey=20180502enIN201805029219_indiapublic&filter=4993" rel="nofollow" class="MCP_myBtn" data-image="#">Over 120 toppers who took online courses on ed-tech start-up NeoStencil  &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/2gi2KzCiDDh821aob-xBX9Wbckp0MKQANBTJGg53KmIZbp86JKu84B2SB9LMFVUWz1YwQoMHNasB2l0RbwrWf5OlTPw" height="44" width="152" alt="Business_Today" title="Business_Today" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://www.businesstoday.in/prnewswire/?rkey=20180502enIN201805029219_indiapublic&filter=2418" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/qDPyE36KdoxSzc8WuWzhcBYQ7LfRqnt7W98UNgzsVrYOqi9STOFTVASx7yt4gif9aShuCmNHXIlcoXs99KcrS8Bgng" height="44" width="152" alt="newsnation" title="newsnation" /></div>-->

						<!--<div class="MCP_dt_title">May 2, 2018</div>-->

						<!--<a target="_blank" href="https://web.archive.org/web/20180503045955/http://www.newsnation.in/education/jobs/ias-preparation-goes-online-as-civil-services-exam-toppers-choose-technology-to-study-article-195772.html" rel="nofollow" class="MCP_myBtn" data-image="#">IAS preparation goes online, here is how Technology helps you to crack Civil Services examination&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->
						<!--<div class="MCP_imgbox">-->
						<!--<img title="Dainik-Nai-Dunia-Bhopal" src="http://lh3.googleusercontent.com/_RXx8fCaZthK65KMfqDk_WLGGomTmXx3V1ATV6j_4PW4IqhjRY9MHQyIEF9UrNijrhmS4R6AHoul41WY-aBFRGoVlA" alt="Dainik-Nai-Dunia-Bhopal" width="152" height="44" /></div>-->


						<!--<div class="MCP_dt_title">September 27, 2017</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/MLrM8SDKOa54c8jvF42BjZnSp2X8su9BHb6wnEzFSnNz4Wo0FWDLy8vtNY3A2lyIWblE4KGYlXa9u-r7G_0A4fW1Z4Y" rel="nofollow">Edtech Firm NeoStencil Acquires TestCafe; Aims To Boost Analytics Based&hellip;      </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img title="pradesh_today" src="http://lh3.googleusercontent.com/42CPTtXgcqpif3VvLO9z-_qiSabFLiXSIZzt-tltWdWh1DR4b-HSvatBmK5oRx1bpkoSjdmmyeOH6427Gmtx_9zUrg" alt="pradesh_today" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">June 2, 2017</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/l8hzdobH8QWmvDEf0AX_XLXZfErp4MTyuphFWTh6x7kRBkj7b_JLfB8zAy4RQnBV6OH0-Y7ScAkAMXznI_oFA_jT" rel="nofollow">Abhilash Mishra - AIR 5 among 100 tech-savvy UPSC toppers who… </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img title="suryapurva" src="http://lh3.googleusercontent.com/SUwYU1-w5XJdp4lfz4Ufja1aEIWN1fdTZ61SPVlFd_eYZ5hpVwOIW4GOdRNtkbGztzkiChLXc0fWIdVQKYwlfomBNw" alt="suryapurva" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">February 12, 2018</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/fkMa2Mt8zATiU3qpKAls73SSkmEY7IqtMvcuL2_U6o26bg5G0s_EdzR9O6tZSNl3j93qYtj-0SVt0drubXztJP3kDA" rel="nofollow">Now, avail classroom coaching for civil services online… </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img title="Fine Times" src="http://lh3.googleusercontent.com/ZDKP7WaPfTpCndKdwotjUY2Do71DW_WbOSkqR0olz-t9pO1XVA3nn-LF4jQFaItLvdP6EWs1hTNK_oOOsPIaYkqUsA" alt="Fine Times" width="152" height="44" /> </div>-->

						<!--<div class="MCP_dt_title">MAY 3, 2018 | BHOPAL</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/JhNBM_EhGBI9vi_l4CmXK8pktXi73TyH5K-KukKx1t_s2Xw93nDn7mZRbrUSkbGKgHraNBuv3RjII6oQxNzaA3Q3D80" rel="nofollow">Online edu platform helps aspirants crack IAS exams… </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img title="Raj Express" src="http://lh3.googleusercontent.com/G2qgjIG6yUUE_mdUBX3hYdmmmqOwLGhmlezo4R8MZsG6pLVu6W43Qko9uOuKeSYSc_rRjeaLTcczXUl8N4tbm4ECbA" alt="Raj Express" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">May 7, 2018 | BHOPAL</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/gdK8GtDIVeEa5B7fSl_ABumIxht9ACLerBcLdl0BYgd_00NnP1d6azRBMzdesJHj4cz4t8PmkYQRAn7J8popqchC2g=h900" rel="nofollow">NeoStencil’s more than 120 students comes under … </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2017">-->

						<!--<div class="MCP_imgbox"><img title="Paryabekhyak" src="http://lh3.googleusercontent.com/kyEmxnwdwhaMtqEU6apiK6kMq7_XEG1BzXeOnHyzmEMNEkkJZh3GoNgELfpV9V6wRh9cgAAQCmo10WD3hV-RFuND-Q" alt="Paryabekhyak" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">September 27, 2017</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/BHBscGR6ArpZljUcdaamrk1j1NiEuXrvhNXg3NLLAwOhilzsk4YMaxM_s4wTssmJkKtZon-b790CNNTQTxBmwLqa7A" rel="nofollow">Edtech Firm NeoStencil Acquires TestCafe; Aims To Boost Analytics Based… </a>-->

						<!--</div>`-->


						<!--<div class="MCP_media_box 2017">-->

						<!--<div class="MCP_imgbox"><img title="The_kallinga" src="http://lh3.googleusercontent.com/3vNyRtj78QfFLY_6waxQKrglZL_G1uZ12DmfUxbO1hbJjY5YMAtDaA7YxJ8KKNlJvmymAeEWnJYhpAA-Jht7vruH" alt="The_kallinga" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">June 2, 2017</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/hyW0sStadyQsB_PNdfhp9sO91Kb3mP9cHn1QhTzUF21Te_UY9zYvzb5c76PLVAIN0sgSaaq-YKOW-uVxjaaLwEFd8g" rel="nofollow">Abhilash Mishra - AIR 5 among 100 tech-savvy UPSC toppers who… </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img title="AgnibanBhopal" src="http://lh3.googleusercontent.com/IC3pHivkrxr0eq8FMaWo_3bD7FRsCeLHz0NmDNuIUa_zx3gYGpQwbusAWm0n3WQzts2pXrByVlw6-DSz6-9_qpWXIg" alt="AgnibanBhopal" width="152" height="44" /></div>-->

						<!--<div class="MCP_dt_title">February 12, 2018</div>-->

						<!--<a class="MCP_myBtn" data-image="http://lh3.googleusercontent.com/Pu-JFd5Ee0asDSl6RNZlk8B6Md_u-wWeaoK4DBwDHwT7l0Pp19z8EEqBCqPPpSd-Xad66jWtc0Pl_PMJ0wniMsSo8ns" rel="nofollow">Now, avail classroom coaching for civil services online… </a>-->

						<!--</div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="https://neostencil.com/wp-content/uploads/2017/02/CISION.png" height="44" width="152" alt="CISION" title="CISION" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503050703/http://www.prnewswire.co.in/news-releases/ias-preparation-goes-online-as-civil-services-exam-toppers-choose-technology-to-study-681458981.html" rel="nofollow" class="MCP_myBtn" data-image="#">  IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study  &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/UTabO4JALh81UqawE_Gz__Amz0UhK0MrPTrWvXkoADprXAEdMNFT10Sk2Jn0AqJxvGjXFzD0fzSRrrsPGI4cqUA9H8o" height="44" width="152" alt="The Hans india" title="the hans india" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503052138/http://www.thehansindia.com/home/prnewswire?rkey=20180502enIN201805029219_indiapublic&filter=2080" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/0a89ttvEVhWYu_U1X9Fg_5dv-12gOgyO2iCvG8Pfp3nmYLk4jTqYaNKfDvvd9oJKs8RJS7PZt7nJ7g0AG8-40v7o" height="44" width="152" alt="onenewspage" title="onenewspage" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503052244/https://www.onenewspage.com/prnewswire.php?rkey=20180502enIN201805029219_indiapublic&filter=3968" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/X2yCkMRjs1Cy8tFCXwWYaGG0ha0_uIKjTASz_pXZ4KQl2_TpX2l55DEEup5j4E_7bDwu4YyPOohsigDdPTxq6vjXZw" height="44" width="152" alt="Press_trust_of_india" title="Press_trust_of_india" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503052338/http://www.ptinews.com/pressrelease/29502_press-subIAS-Preparation-Goes-Online-as-Civil-Services-Exam-Toppers-Choose-Technology-to-Study" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/GAgFWZStHozuyxne02emRLkWZKaLVRlm3PsNq2V4QaESSQrUoLionQsTwr-c7JBDrnd-tDB1ChliMyoHfBO9fxic6Dc" height="44" width="152"  alt="TMCnet" title="TMCnet" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://www.tmcnet.com/usubmit/2018/05/02/8746233.htm" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/zqfcaajPWOUTe4vKvwS3-tKyLpNhh_k6oHBYva1DG0q_gPWppp75eESkDzEYdfJ7_jl3-JmgSCdvVO9q_LwqLJ5mMg" height="44" width="152" alt="Dalal_street_investment_journal" title="Dalal_street_investment_journal" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503052545/https://www.dsij.in/NewswireDetails/FileName/201805020125PR_NEWS_EURO_ND__enIN201805029219_indiapublic" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->




						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/PBJKIHUpWq4d9nkS5XEQ8TEls_4IOSJE19Tki_YvAUvorAmPeUCuowv0YD-Zj5WJcrcof-2RVLRBvOW_-D9tIA5yMg" height="44" width="152" alt="IANS" title="IANS" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503052845/http://ians.in/index.php?param=prnewswiredetail/PRN-999210" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->



						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/eVdcWs2fSYSjx7BgAYbXgShjvvhO4IAzsGmBDOZRum8CgMJeFv-GdEaLkOeBuXxV4jnnYO7Uigll7OYCom_TXDu90Q" height="44" width="152" alt="NewsR" title="NewsR" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503053026/https://www.newsr.in/prnewswire.php?rkey=20180502enIN201805029219_indiapublic&filter=5070" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/6gaRSAO4zcXNTNjcheX-Tr5KwNqCWYFkDEFyFyPvpXh0PzkHF1kWWMV0LKCo53A-txjbOw4YGB8rbbNpmT-Hr5gV" height="44" width="152" alt="biharprabha" title="biharprabha" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "http://news.biharprabha.com/prnewswire/?rkey=20180502enIN201805029219_indiapublic&filter=2270" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/71OaiCJoFH8Uf0gTuPjkWO8nTeZ9OCCUCd9U1a9sziBp05My0sbLZgh78352mNYcPP_7Wv8VhwY-xNN06UILchncEQ" height="44" width="152" alt="b-live" title="b-live" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503053224/http://b-live.in/prnewswire/?rkey=20180502enIN201805029219_indiapublic&filter=5082" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->




						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/dclln-9IFLdpxp6inNdg_nw5oiEsIu1IOEE6PsyQeoxtvEJ3Kbg7sUlfPbqs3Ocdeem2wzs976Hpx2ONzLeqa&#45;&#45;yVxA" height="44" width="152" alt="BusinessViews" title="businessviews" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503053357/http://businessviews.in/business-views-press-release-news/?rkey=20180502enIN201805029219_indiapublic&filter=908" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/PHY4scFP_PqRluYxofmsviJ9KKPygUp9ONDCaGNHMRu-iIZ0iirs784vcjn29OoD2KV1AUfOMa6CrFxhE8uw3Ue6aQ" height="44" width="152" alt="Core_sector_communique" title="Core_sector_communique" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "http://corecommunique.com/prnewswire/?rkey=20180502enIN201805029219_indiapublic&filter=4754" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/1BFsYFxeOj1Y_AaBbcM6Kf3FrtIX1Dy8bEJWHhNdiyAjdFFWBVzrma_1_FIuHiKkDcmC4_mxcBpOFnzIhLyeGSE-nQ" height="44" width="152" alt="First-report" title="First-report" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503053801/http://firstreport.in/pr-newswire/?rkey=20180502enIN201805029219_indiapublic&filter=6490" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/Cr9ICe0UV7UjXJuX1pfgoPD88b5sMglNKOIyg7psm2NC3nOFM65dC3EUMpJKZpMuurBE3jt2k2XJrM07tRcMwhNmnOw" height="44" width="152" alt="indiannerve" title="indiannerve" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "http://indiannerve.com/in-press/?rkey=20180502enIN201805029219_indiapublic&filter=6492" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/XI1XAqmzWuFQVoT2jqqYdzTQGf6xQ2cy28CyI04koYCVf1EiNZqaA6vAsxFQpY_XJ3xHKN4N4fODg4Q9jy1xIatN" height="44" width="152" alt="NewsSuperfast" title="NewsSuperfast" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503054055/http://media.newswire.ca/newssuperfastblog.html?rkey=20180502enIN201805029219_indiapublic&filter=10033" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/I4ApvS_rKRjORSpjKTSdq089JRIMDmhtSOyYasgvyWLeshXgWHoTkHKN9wGWehKFrKZSiCy5YRsivm9qIvO0zagKfcc" height="44" width="152" alt="What's_new_on_the_web" title="What's_new_on_the_web" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "http://media.newswire.ca/whatsnewonthenet.html?rkey=20180502enIN201805029219_indiapublic&filter=299" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->



						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/KNH1OmW6sdKZn2HQmOdorjQ29iU1H52I8yiNs2HDfWyOKQvzC-TsJklV1YCZESn0boMlUY4SHFtcpmq789ly-JYmlvc" height="44" width="152" alt="mediainfoline" title="mediainfoline" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "https://web.archive.org/web/20180503054359/http://www.mediainfoline.com/releases?rkey=20180502enIN201805029219_indiapublic&filter=3952" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->



						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/6kTy_c_trUcNvbbPcsDdCVp0ALXRFYOQeODhc3fKV8cqZXE3oEwpgaB&#45;&#45;B6V1UzgjqTUMo1-JdcQSyieqcCPzVwhL34" height="44" width="152" alt="IndiaOnline" title="IndiaOnline" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank"  href = "http://news.indiaonline.in/prnewswire?rkey=20180502enIN201805029219_indiapublic&filter=4991" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a></div>-->


						<!--<div class="MCP_media_box 2018">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/dnLJJVoFY9itHoXHGG4YR0-sm4rkCtVU0Wk_gXkgoIJfuPzpw3tz0DMGrqu0C8_RcRtm1N2DyikPLeaQfbBY8QG35w" height="44" width="152" alt="nrinews24x7" title="nrinews24x7" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "http://nrinews24x7.com/prnews.htm?rkey=20180502enIN201805029219_indiapublic&filter=4972" rel="nofollow" class="MCP_myBtn" data-image="#"> IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study&hellip; </a></div>-->



						<!--<div class="MCP_media_box">-->

						<!--<div class="MCP_imgbox"><img src="http://lh3.googleusercontent.com/tMdnMpV-SbspywRl9g8UvEtEH30GOkTr5_r-f-N6zZfOeTIwTlbtZdD-JRTqCMPssZFrF_d6ttQsr0iwMdAKE7hVXA" height="44" width="152" alt="odishasuntimes" title="odishasuntimes" /></div>-->

						<!--<div class="MCP_dt_title">NEW DELHI, May 2, 2018 </div>-->

						<!--<a target="_blank" href = "http://odishasuntimes.com/prnews/?rkey=20180502enIN201805029219_indiapublic&filter=4968" rel="nofollow" class="MCP_myBtn" data-image="#">IAS Preparation Goes Online as Civil Services Exam Toppers Choose Technology to Study &hellip; </a>-->
						<!--</div>-->

























						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
										src="https://lh3.googleusercontent.com/Q5epOmozu5yoDn-jNxu7m9IwJSV6Q8LuqBDHe_y0hgQM9HbUPexp3hwq2NcSt3Dsmg-7QtNjYOPmrj-xjEM4r0gG0aY"
										height="44" width="152" alt="Economic Times"
										title="Economic Times" />
							</div>

							<div class="MCP_dt_title">AHMEDABAD, Nov 27, 2018</div>

							<a target="_blank"
								 href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/neostencil-to-aid-physically-challenged-students-prepare-for-government-job-exams/articleshow/66825046.cms"
								 rel="nofollow" class="MCP_myBtn" data-image="#">NeoStencil to aid physically-challenged
								students prepare for government job exams
							</a>
						</div>




						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/Q5epOmozu5yoDn-jNxu7m9IwJSV6Q8LuqBDHe_y0hgQM9HbUPexp3hwq2NcSt3Dsmg-7QtNjYOPmrj-xjEM4r0gG0aY"
									height="44" width="152" alt="Economic Times"
									title="Economic Times" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, July 13, 2018</div>

							<a target="_blank"
								href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/neostencil-among-global50-education-companies/articleshow/64976659.cms"
								rel="nofollow" class="MCP_myBtn" data-image="#">NeoStencil
								among Global50 education companies</a>
						</div>



						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/2jqELb9vMByd2crbqH4RWrQ1-pkGxr3E8eKXWA2EwDvxO9k9rA4LzjVtRYRSR6Eb8W8Q6YN5_8jGbf63ImHMh-1SA-E"
									height="44" width="152" alt="timesofindia" title="timesofindia" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 6, 2018</div>

							<a target="_blank"
								href="https://timesofindia.indiatimes.com/home/sunday-times/how-online-coaching-is-driving-upsc-dreams/articleshow/64045623.cms"
								rel="nofollow" class="MCP_myBtn" data-image="#"> How online
								coaching is driving UPSC dreams </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/N0lHHX2prsjE59zZq2WAvr39xd9lPLGYH5MsQcWthGpQ3k6o1_DyIBcG4ZlRy1yzC-TyjfosTOMR52mnSeNuwlKDNuQ"
									height="44" width="152" alt="yourstory" title="yourstory" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 2, 2018</div>

							<a target="_blank"
								href="https://yourstory.com/2018/06/neostencil-changing-way-students-prepare-government-exams/"
								rel="nofollow" class="MCP_myBtn" data-image="#"> NeoStencil
								is looking to change the way students prepare for government
								exams</a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/QMiSzGaU2c-9XY2avMiNrJz2X1crHN0mndwr_zq22veH5ml3dIeO9IG6MTEHak0p2l8vhrNBkE1XLOo1Z7vhUPgB_8sf"
									height="44" width="152" alt="NDTv India" title="NDTv India" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, June 18, 2018</div>

							<a target="_blank"
								href="https://khabar.ndtv.com/news/career/village-residents-now-easily-take-coaching-for-preparation-for-ias-1869151"
								rel="nofollow" class="MCP_myBtn" data-image="#">NeoStencil
								is looking to change the way students prepare for government
								exams </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/SMtEvW1zVQgxM5in-bK-_Iw1d5l16QSI_wszyw0ntiLTOGXg856ZLyCHiHpxszQ3_JU1N5eiin-EsEmDaC1tC5ebLRk"
									height="44" width="152" alt="DNA" title="DNA" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 2, 2018</div>

							<a target="_blank"
								href="https://www.dnaindia.com/india/report-ias-preparation-online-how-technology-can-help-you-crack-civil-services-examination-2610707"
								rel="nofollow" class="MCP_myBtn" data-image="#">IAS
								Preparation Online: How technology can help you crack Civil
								Services Examination </a>
						</div>

						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
										src="https://lh3.googleusercontent.com/BU0zNsqoLk6AWr681LufX_31b4xyKGXXhrLatoZeLjinu-G2IUVumSFz7fC9ZA48uZTsLB3FwaqjBYuSLctRfnAxbE0"
										height="44" width="152" alt="DNA" title="DNA" />
							</div>

							<div class="MCP_dt_title">AHMEDABAD, Mar 19, 2019</div>

							<a target="_blank"
							   href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ed-tech-startup-neostencil-joins-hands-with-motion-education-to-provide-iit-jee-neet-exam-coaching/articleshow/68479602.cms"
							   rel="nofollow" class="MCP_myBtn" data-image="#">Ed-tech startup NeoStencil joins hands with Motion Education to provide IIT-JEE, NEET exam coaching</a>
						</div>

						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
										src="https://lh3.googleusercontent.com/vOTboCdBbd5j3t77Zmg6Yalf6b5cNVW_wuHFny1IaxHg9HBptn-9QdiaJoKsN90OuL0eQleoJUPGGwKSuU1lBMmWkIg"
										height="44" width="152" alt="DNA" title="DNA" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, 10th Apr 2019</div>

							<a target="_blank"
							   href="https://yourstory.com/socialstory/2019/04/upsc-dantewada-civil-services-namrata-jain"
							   rel="nofollow" class="MCP_myBtn" data-image="#">Meet Namrata Jain, the first woman from Naxal-hit Dantewada to secure top rank in UPSC exams</a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/KsTXJ93P771fsdxPWyXeF7YEx_S7KmIuzxYMs_aqaHRU04hYbyRc_ZEi8uNuTivvHK9NwTu8hGNlkuWc_Ke9m7Fe9BI"
									height="44" width="152" alt="thehindubusinessline"
									title="thehindubusinessline" />
							</div>

							<div class="MCP_dt_title">AHMEDABAD, July 28, 2018</div>

							<a target="_blank"
								href="https://www.thehindubusinessline.com/news/education/neostencil-redcarpet-ink-mou-to-aid-students/article24539079.ece"
								rel="nofollow" class="MCP_myBtn" data-image="#"> NeoStencil,
								RedCarpet ink MoU to financially aid students </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/Q5epOmozu5yoDn-jNxu7m9IwJSV6Q8LuqBDHe_y0hgQM9HbUPexp3hwq2NcSt3Dsmg-7QtNjYOPmrj-xjEM4r0gG0aY"
									height="44" width="152" alt="economictimes"
									title="economictimes" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 17, 2018</div>

							<a target="_blank"
								href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/edu-tech-startup-neostencil-acquired-testcafe/articleshow/64204945.cms"
								rel="nofollow" class="MCP_myBtn" data-image="#"> Edu-tech
								startup NeoStencil acquires TestCafe</a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/48ylEBjMZIbc0BCmrboRwpzfGvyCCjhmsKHxBLHQrcWqh_CVoJ3KvaFHRPzLH1nL8GiC8Jy3cprzS15E1-A6HETfo_ti"
									height="44" width="152" alt="entrackr" title="entrackr" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, March 23, 2018</div>

							<a target="_blank"
								href="https://entrackr.com/2018/03/neostencil-clocks-rs-10-cr-revenue/"
								rel="nofollow" class="MCP_myBtn" data-image="#"> With 4.5K
								paid subscribers, edtech startup NeoStencil clocks Rs 10 Cr
								revenue within 3 years</a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/a-RvcTLZ6-sTwI8H2G4PT4WdaQBdtVlGQH-RaHjTbmfXgt6Q3zrzLidmwHs00PDvYSpYI4hn2Yzv67Rg_LwCTljnidQ"
									height="44" width="152" alt="theindianwire"
									title="theindianwire" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, August 17, 2018</div>

							<a target="_blank"
								href="https://www.theindianwire.com/startups/top-edtech-startups-india-70862/"
								rel="nofollow" class="MCP_myBtn" data-image="#">Top Edtech
								Startups in India for K12, competition exams, upskilling courses
							</a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/KsTXJ93P771fsdxPWyXeF7YEx_S7KmIuzxYMs_aqaHRU04hYbyRc_ZEi8uNuTivvHK9NwTu8hGNlkuWc_Ke9m7Fe9BI"
									height="44" width="152" alt="businessinsider"
									title="businessinsider" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, June 19, 2018</div>

							<a target="_blank"
								href="https://markets.businessinsider.com/news/stocks/tyton-announces-global-growth50-1027201483"
								rel="nofollow" class="MCP_myBtn" data-image="#">Tyton
								Partners Recognizes 50 International Education Companies with
								Impact </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/3MbP1cNloIbQHU7NzpyheZRrjmTAwm9lgIj8Xe9N0Uf4_lXsdPdWA2BluWFZV838ERzv8uXJPqlfm1gosr1iv-ytjQ"
									height="44" width="152" alt="newsbytesapp" title="newsbytesapp" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, Sept 2, 2018</div>

							<a target="_blank"
								href="https://www.newsbytesapp.com/timeline/India/30991/138134/online-courses-for-ias-preparation-2"
								rel="nofollow" class="MCP_myBtn" data-image="#">Preparing
								for IAS? Here are 6 online-courses for you </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/E9TTK-gR8RpArGX7mT8VCnSIlwuf4jou13iMiTLUuA4LC6QwJSa5-lKEy8OpXhZaNvXCCFBep9htXM-8OYL94ktnxW0Z"
									height="44" width="152" alt="qrius" title="qrius" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 4, 2018</div>

							<a target="_blank"
								href="https://qrius.com/are-online-learning-platforms-like-neostencil-effective-for-upsc-preparation/"
								rel="nofollow" class="MCP_myBtn" data-image="#"> Are online
								learning platforms like NeoStencil effective for UPSC
								preparation?</a>
						</div>



						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/KsTXJ93P771fsdxPWyXeF7YEx_S7KmIuzxYMs_aqaHRU04hYbyRc_ZEi8uNuTivvHK9NwTu8hGNlkuWc_Ke9m7Fe9BI"
									height="44" width="152" alt="thehindubusinessline"
									title="thehindubusinessline" />
							</div>

							<div class="MCP_dt_title">Ahmedabad, July 13, 2018</div>

							<a target="_blank"
								href="https://www.thehindubusinessline.com/news/neostencil-most-impactful-edutech-co/article24413935.ece"
								rel="nofollow" class="MCP_myBtn" data-image="#">
								Neostencil‘most impactful edutech co’ </a>
						</div>




						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/Wa8OQSLbxl3VhrhMT8f8qd2jdU0Hgv1XsRLEFoTThDmJcDJbalGfDh0EZ-53Yh3k8OLycg2QTRou6Rv5hUaAJW4gMfY"
									height="44" width="152" alt="techcircle" title="techcircle" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, Feb 27, 2018</div>

							<a target="_blank"
								href="https://techcircle.vccircle.com/2017/02/27/exclusive-live-learning-platform-neostencil-raises-1-mn-in-investment/"
								rel="nofollow" class="MCP_myBtn" data-image="#"> Live
								Learning platform Neostencil raises $1 mn in investment</a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/zHVZiCPDmk16HUGSxixPVcgjK_9D_D0wrI6LjKmPcOiLtwjyBExbf74zLu_bgKM1eUr8_XQMVJ7tCcmiTCyVjaJPNz0"
									height="44" width="152" alt="indiatoday" title="indiatoday" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 2, 2018</div>

							<a target="_blank"
								href="https://www.indiatoday.in/pr-newswire?rkey=20180502enIN201805029219_indiapublic&filter=4315"
								rel="nofollow" class="MCP_myBtn" data-image="#">IAS
								Preparation Goes Online as Civil Services Exam Toppers Choose
								Technology to Study </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/-__grWPajPR6P29Tmbr_DyRQS_tRTVJ3WNXtZgKUJOQEpJOCludC8yyAFIWUAbegWVHvqib05lj69McLqzO8I2YA4PLh"
									height="44" width="152" alt="dinamani" title="dinamani" />
							</div>

							<div class="MCP_dt_title">Tamil Nadu, May 2, 2018</div>

							<a target="_blank"
								href="http://www.dinamani.com/lifestyle/lifestyle-news/2018/aug/18/%E0%AE%89%E0%AE%99%E0%AF%8D%E0%AE%95%E0%AE%B3%E0%AF%8D-%E0%AE%90%E0%AE%8F%E0%AE%8E%E0%AE%B8%E0%AF%8D-%E0%AE%95%E0%AE%A9%E0%AE%B5%E0%AF%81-%E0%AE%A8%E0%AE%BF%E0%AE%B1%E0%AF%88%E0%AE%B5%E0%AF%87%E0%AE%B1-%E0%AE%86%E0%AE%A9%E0%AF%8D%E0%AE%B2%E0%AF%88%E0%AE%A9%E0%AE%BF%E0%AE%B2%E0%AF%8D-%E0%AE%AA%E0%AE%AF%E0%AE%BF%E0%AE%B1%E0%AF%8D%E0%AE%9A%E0%AE%BF-2983031.html"
								rel="nofollow" class="MCP_myBtn" data-image="#"> IAS
								Preparation Goes Online as Civil Services Exam Toppers Choose
								Technology to Study </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/kbXhGdn-RygvWjqiJtmTz5BycUqOde8bguRmtBIvKIbauwmXWK24sLBvUSc5lKv6pENuBu-Y5_NOGkV5LUgKsYlVi5gM"
									height="44" width="152" alt="newindianexpress"
									title="newindianexpress" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, Feb 12, 2018</div>

							<a target="_blank"
								href="http://www.newindianexpress.com/states/odisha/2018/feb/12/now-avail-classroom-coaching-for-civil-services-online-1772054.html"
								rel="nofollow" class="MCP_myBtn" data-image="#">Now, avail
								classroom coaching for civil services online </a>
						</div>



						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/jtg4vBKxmeVFQTsVgrgxw0lMW2oF-3c-pZchlNAlzi0WShpuctHuPFApTQvF6zA7wGjqnhovOB6AebHQlEztU6W7SGo"
									height="44" width="152" alt="pinkcitylive" title="pinkcitylive" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, Feb 17, 2017</div>

							<a target="_blank"
								href="http://pinkcitylive.in/2018/05/20/kendriya-vidhayalya-1/"
								rel="nofollow" class="MCP_myBtn" data-image="#"> IAS
								Preparation Goes Online as Civil Services Exam Toppers Choose
								Technology to Study </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/BNPKOl_hVxnSAWRfePELbCAQeifo8Lf5LCiIXFVHHuslnPO73W75VIOvFcUkCNEZFK-HejIIcfReuA6HL8NZl7KJjCc"
									height="44" width="152" alt="sakshi" title="sakshi" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, June 17, 2018</div>

							<a target="_blank"
								href="https://hindi.sakshi.com/amp/story/editors-picks%2F2018%2F06%2F17%2Fias-preparation-through-online-at-your-village"
								rel="nofollow" class="MCP_myBtn" data-image="#">How you can
								prepare for IAS from your home online </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/HXJB0viK1WDZJVuUcTferZG4G7hzkLIppBTJFz08mgh89V0lH8o_fiAOHfo-NCQMCHLrriatR-zEcXJ_ioukMPJqVB-R"
									height="44" width="152" alt="odishasuntimes"
									title="odishasuntimes" />
							</div>

							<div class="MCP_dt_title">Odisha, Feb 13, 2018</div>

							<a target="_blank"
								href="https://www.youtube.com/watch?v=bnbrHdZ8pA4"
								rel="nofollow" class="MCP_myBtn" data-image="#">NeoStencil
								Media coverage | Bhubaneswar Seminar | Reporters Today | UPSC |
								IAS | Odisha News </a>
						</div>


						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/cfnZYvixhJ2E6u9NiKp5eW5fDwQwSmrJ7uS3ZiTymzfmBHV9r85RKBEOixMpcuKYUyUqXqr_N4MjtKULGoTrrarm96C5"
									height="44" width="152" alt="indiatvnews" title="indiatvnews" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, June 17, 2018</div>

							<a target="_blank"
								href="https://hindi.indiatvnews.com/jobs-education/news-now-you-can-prepare-from-ias-exams-online-even-from-villages-know-how-587592"
								rel="nofollow" class="MCP_myBtn" data-image="#">Now you can
								prepare for IAS exam online, even from villages. Know How? </a>
						</div>



						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
									src="https://lh3.googleusercontent.com/x_btJS4dArEycLay9m747sfvHDFUc5eRFPZtrTPSmRRpy7EgdNxaHaEY6MaqSc6XbgdZeHt_b_akNr1v5BU5beyolyk"
									height="44" width="152" alt="knowstartup" title="knowstartup" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, May 2, 2018</div>

							<a target="_blank"
								href="http://knowstartup.com/2017/11/10-education-focused-startups-india-will-rule-2018/"
								rel="nofollow" class="MCP_myBtn" data-image="#"> 10
								Education focused startups in India that will rule in 2018 and
								beyond</a>
						</div>

                     <!--start-->

						<div class="MCP_media_box">

							<div class="MCP_imgbox">
								<img
										src="https://lh3.googleusercontent.com/W2uljghfE1K7B8PnxGSCEL8iaYfFmxMpN6RFzzMjJwRfBlrd2v-pEMc23fA0TJk7GADmbREew2wc5EN3FHdRhuO3Vgbr"
										height="44" width="152" alt="knowstartup" title="knowstartup" />
							</div>

							<div class="MCP_dt_title">NEW DELHI, April 10, 2019</div>

							<a target="_blank"
							   href="http://theeducationtimes.in/2019/04/10/neostencil-provided-a-level-playing-field-to-compete-namrata-jain-from-dantewada-bastar-region-secure-all-india-rank-12-in-upsc-2018/"
							   rel="nofollow" class="MCP_myBtn" data-image="#">NeoStencil provided a level playing field to compete” – Namrata Jain from Dantewada (Bastar region), secure All India Rank 12 in UPSC 2018.</a>
						</div>


						<div class="MCP_media_box">
						<div class="MCP_imgbox">
							<img
									src="https://lh3.googleusercontent.com/Q21gxAvF_N5BjAFbDpm2DRq6LtVDZsdzvqSdtrv-Kpb7-okgxbutnLfUM08waNJ4ghU_ZcZ96mklHethfdysfZ2BGg"
									height="44" width="152" alt="knowstartup" title="knowstartup" />
						</div>

						<div class="MCP_dt_title">NEW DELHI, 20 March 2019</div>

						<a target="_blank"
						   href="https://www.dailypioneer.com/2019/state-editions/neostencil-collaborates-with-motion-education.html"
						   rel="nofollow" class="MCP_myBtn" data-image="#"> NeoStencil collaborates with Motion Education</a>
					</div>







					</div>
				</div>
			</div>

			<!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
		</div>
		<dialog id="MCP_dialog" class="mdl-dialog mdl-dialog-paperAds">
		<button
			class="close-dialog mat-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
			<i class="material-icons">close</i>
		</button>
		<div class="mdl-dialog__content" style="padding: 8px !important;">

		</div>
		</dialog>

	</div>



	<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.10/dialog-polyfill.js"></script>
	<script>
		$(".MCP_media_box a").click(
				function() {
					var img = $(this).attr("data-image");

					var dialog = document.querySelector('#MCP_dialog');
					if (!dialog.showModal) {
						dialogPolyfill.registerDialog(dialog);
					}

					if ($(this).attr("data-image") != undefined
							&& $(this).attr("data-image") != '#') {
						dialog.showModal();
						/* $('#showContentInDialog').attr("src",$(this).attr("data-image"));*/
						$('.mdl-dialog__content').html("<img  src="+img+">");
					}

					dialog.querySelector('button:not([disabled])')
							.addEventListener('click', function() {
								dialog.close();

							});
				});
	</script>
</body>
</html>















