<!DOCTYPE html>
<html lang="en">
<head>
<title>Quick Tour</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png"
	href="/images/logo/favicon-neostencil-logo.png" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>
	<div class="container-fluid">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
				<li data-target="#myCarousel" data-slide-to="5"></li>
				<li data-target="#myCarousel" data-slide-to="6"></li>
				<li data-target="#myCarousel" data-slide-to="7"></li>
				<li data-target="#myCarousel" data-slide-to="8"></li>
				<li data-target="#myCarousel" data-slide-to="9"></li>
				<li data-target="#myCarousel" data-slide-to="10"></li>
				<li data-target="#myCarousel" data-slide-to="11"></li>
				<li data-target="#myCarousel" data-slide-to="12"></li>
				<li data-target="#myCarousel" data-slide-to="13"></li>
				<li data-target="#myCarousel" data-slide-to="14"></li>
				<li data-target="#myCarousel" data-slide-to="15"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img
						src="https://lh3.googleusercontent.com/YnCoXLI6D5rOK86bY9pqzgvJgC-BcjuYUT-ShYzRLTFo8uyMilnhnKpfds33Sn7_gykRXy4y6V7dT5_4HtBR7sDPtvo=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/8pHkJSpfg_r7BxjCrVXt72LxRd4t_MCPB_Xd7GVedJuLpn7c0F_UUVyahI0OTffMUktjXmPs940lHgiqIPFA45dUu3w=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/al8rBbUR8gxF-AiNInSrXgNeqB2qE_4iJJph4vCPebi6-DEeXUzqXl_T3Fz30Ao68fyfYKeVcxjyd6eK32aOMCee2VoZ=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/ZErHBvIwLl60uGsl-Spd1c1__F5Z_XYpZREkoc7JZajgqbI41aLiPQkxghPm71e2UiWqIMrOE5TT6DXChosDj-Q-9eA=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/MBJF_F3sGzNhsH_fqyC-0b_bmm-hc-F_78zCQ4vwSiqoqvQQ_NTOxv2Kj8r54F3boIn-7jcQ21Yys6zwOGEx2pL1MsOE=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/GfoY9-rHfabaA1QLd_fIC0cSHRIZhKbQGTNsW6TOMk8j77W9a5yMFgRTDtSYgEI5YwOQ89InEvXOc1v2nFvXE8gxOio=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/4zUuRV0nSHyysZGevbtzk3hwQWQSm1buQwUDv4kdhQY49_Dt3-x8A7XNKN--Xfpcc0kTj_5JeU07WTe8uW182hvXxd8=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/rbUe63Niu5k9BqzrhNp1zyRCxEfLKaxfjX0kKaE-t7dnhXglsYRwWtZGaJ-m2ybhOaW34HCak4Uexj-XJZQge2sv_Ow=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/6KywQg0rL2jXGLXG0PEGNgVK3rKYM9keu6JJd1Po2ECiwwTOtJ-6MO2Ky2vucp9V23XZ-vbtwhSU5gvg3VkAfjuaXCY=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/wxByDUFMWicerg-tNj6wN_Ds4PGPTgiYc2ZikfN768LGPobVve_-bMvCoKNnAXjOcxfS-PKWl4YGkkbKP9NpEZQ8myj5=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/u-j46ADogrpMokbQG6aq7-OX0wJ--nXiRQmzu3FJqzK0-nVTfAyTTk38b5DMOGWxpb-kWvXqHub3KPeWEL1rcQWcRmQ=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/aEKQnGIyoyTyK3ex91WXI0bEFbdTrARrnWlnLZZtpXuGvHKLuMWBOZh2d2aipfQRFePmgMrmSGilAJ5Jnxw6anpmOao=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/JBR5MGx1mxCt8RBgM1zgu61qBO7mhIpx3pdvKfu33Oh07RhzXD27fhN3bVQ0QnBO26iYDZESIuo0jNgYJmJAJy_MUGc=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/q7UxXqAquOcFv40_qI_84eiNR9NMIzTAdhxqZ_9iMTn0bxNYxNFBMfOPm7At4CMP7ABJHfHNVV9mxf8qeXwQN46rSg=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/dRDeoWnvH1N-7s_dvtPIUK2cl9N21TRlqSWh-JwLD4zCVcjcGAIU0QIUjlpylj1Yj2rYt_mbHqxLj8z97hOucZZzCx0=s0"
						style="width: 100%;">
				</div>
				<div class="item">
					<img
						src="https://lh3.googleusercontent.com/owGR46fXu2y4tlwXKiTrIKpuCEPC3kzk5HLdXv54HZ70h35Hx9q13zDLKY5_JNabkX8Yf0KcqC6CB6t2EN_kLzjz5ve-=s0"
						style="width: 100%;">
				</div>
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"
				style="background-image: none;"> <span
				class="glyphicon glyphicon-chevron-left"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel"
				data-slide="next" style="background-image: none;"> <span
				class="glyphicon glyphicon-chevron-right"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							var pageURL = $(location).attr("href");
							var sPageURL = pageURL, sURLVariables = sPageURL
									.split('&'), sParameterName, i;
							for (i = 0; i < sURLVariables.length; i++) {
								sParameterName = sURLVariables[i].split('=');
								var slideNo = sParameterName[1]
								var NslideNo = parseInt(slideNo);
								//alert(slideNo);
								$('#myCarousel').carousel(NslideNo);

							}
						});
	</script>
</body>
</html>