<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mc="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Course Enroll Teacher</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		p {
    		margin: 0 0 10px;
		}
	</style>
</head>
<body style="background: #ffff;">
<table align="center" style=" margin-top: 35px;margin-bottom: 35px;border:solid 0.7px #999999;max-width: 600px;">
	<thead>
	<tr><td colspan="3" style="border-bottom:solid 0.7px #999999; display: block;"><center><img src="https://lh3.googleusercontent.com/5CAgFZ2_TQ3CPX42dMMhGi8nx2GwfkuSCUx4oWmpMUSKYbIvTqo7OuTyl1WXr2iHUKUFiSL7CiXrvN5SOBxmMByUAA" style="margin-bottom: 30px;margin-top: 30px;"></img></center></td></tr>
	<tr>
		<td colspan="3" style="display: block;position: relative;">
			<div style="background-image: url('https://lh3.googleusercontent.com/eWNrGcCV9gZaqqIpoEopFlob5AeO-6skIsPyQ3JSK1pXbm5n1U1d3PlrdAyiJRdDXctKbN6mhPG6xqNqFiqtcXD7H7E');height: 180px;background-repeat: no-repeat;width: 100%;background-size: contain;"><span style="
				font-family: Arial;	font-style: normal;	font-stretch: normal;letter-spacing: normal;color: #ffffff;	font-size: 32px;font-weight: bold;	line-height: 0.88;	margin: 38px 28px;	display: inline-block;">Order <br><span style="font-family: Arial; font-size: 22px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.27; letter-spacing: normal; color: #ffffff;">Confirmed!</span></span></div>
		</td>
	</tr>
	</thead>

	<tbody style="padding: 27px 42px;background: white;margin: auto;margin-top: 18px;display: block;padding: 10px 30px;">


	<tr>
		<td colspan="3"><p style="font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #333333;font-weight: bold;margin-bottom: 18px;">Hi <span th:text="${name}"></span>,</p></td>
	</tr>

	<tr>
		<td><p style="font-family: Arial; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.4; letter-spacing: normal; color: #000000;font-weight:bold;">A Student Enrol for the Course.</p></td>
	</tr>

	<tr>
		<td><p style="font-family: Arial; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #333333;text-transform: uppercase;">Course Details</p></td>
	</tr>

	<tr>
		<td style="font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;background-color: #f4fbfe;padding: 21px 115px 21px 10px;">
			<table>
				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;    vertical-align: top;">Course Name</td>
					<td style="padding-right: 10px;padding-bottom: 10px;    vertical-align: top;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"> <span th:text="${courseName}"></span></td>
				</tr>
				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;">Course Batch</td>
					<td style="padding-right: 10px;padding-bottom: 10px;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"><span th:text="${courseBatchDate}"></span> | <span th:text="${courseBatchTime}"></span></td>
				</tr>

				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;">Course Fees</td>
					<td style="padding-right: 10px;padding-bottom: 10px;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"><span th:text="${paidAmt}"></span>/-</td>
				</tr>
			</table>
		</td>
	</tr>


	<tr>
		<td><p style="font-family: Arial; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #333333;text-transform: uppercase;margin-top: 27px;">Student Details</p></td>
	</tr>

	<tr>
		<td style="font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;background-color: #f4fbfe;padding: 21px 115px 21px 10px;">
			<table>
				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;">Name</td>
					<td style="padding-right: 10px;padding-bottom: 10px;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"><span th:text="${studentName}"></span></td>
				</tr>
				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;">Mobile</td>
					<td style="padding-right: 10px;padding-bottom: 10px;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"><span th:text="${orderAddress?.mobileNumber}"></span></td>
				</tr>

				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;">Email</td>
					<td style="padding-right: 10px;padding-bottom: 10px;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"><span th:text="${emailId}"></span></td>
				</tr>

				<tr>
					<td style="padding-right: 30px;padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;font-weight: bold;">Address</td>
					<td style="padding-right: 10px;padding-bottom: 10px;">-</td>
					<td style="padding-bottom: 10px;font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;"><span th:text="${orderAddress?.addressText}"></span>, <span th:text="${orderAddress?.city}"></span> - <span th:text="${orderAddress?.pincode}"></span></td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td><hr style="border:solid 0.7px #999999;"></td>
	</tr>

	</tbody>
	<tfoot align="center" style="border-top:solid 0.7px #999999;display: block;    padding: 20px 20px 37px 20px;">

	<tr>
		<td colspan="3"> <center><img src="https://lh3.googleusercontent.com/yp2UqdV5HbaPBrqtPvJh0QPykqn8X6pqp3IpfwpfuLcw9f8Pz1dHB4OcNHDpBeJVUg7FPEQFS-UZPte7VLEaQ_qsyXQ" style="margin-bottom: 7px;"></img></center></td>
	</tr>


	<tr>
		<td colspan="3"> <p style="font-family: HelveticaNeue; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: center; color: #666666;line-height: 1.83;margin-bottom: 0px;">© 2014-2018. All rights reserved.</p></td>
	</tr>


	<tr>
		<td colspan="3"><p style="font-family: HelveticaNeue; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: center; color: #666666;line-height: 1.83;margin-bottom: 0px;">#337, Udyog Vihar Phase II, Sector 20, Gurgaon | contact@neostencil.com | +91 9599075552/3  </p></td>
	</tr>

	<tr>
		<td colspan="3"><p style="font-family: HelveticaNeue; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: center; color: #666666;margin-bottom: 0px;">Not interested in e-mail updates? <a href="#" style="color: #0077e2;">Unsubscribe from this list.</a></p></td>
	</tr>

	<tr>
		<td colspan="3" style="text-align: center; margin-bottom: 18px;">
			<p style=" font-size: 12px;line-height: 18px;color: black;text-align: center;margin-top: 7px;margin-bottom: 0px;">
				<a style="margin:6px;" href="https://www.facebook.com/NeoStencil" target="_blank"><img src="https://lh3.googleusercontent.com/ddiziJcZi1WokLGFfBT2bvWyncLnJ2s9lpeJOjKHgBTXusxeDu_Etkj4kzfIMZaPKSHHXopdogMIP72PzxIFUhsIKzAE"></img></a>
				<a style="margin:6px;" href="https://twitter.com/NeoStencil" target="_blank"><img src="https://lh3.googleusercontent.com/SMmwZnsdoF8nsXobPm0CxitWKGtYzZTfG8__-C0fSV0l_9lh2chNIUpwS5XxzKU1gYnxOYwJhVx_L23n2puDAvWqb_xw"></img></a>
				<a style="margin:6px;" href="https://www.linkedin.com/company/neostencil-inc-/" target="_blank"><img src="https://lh3.googleusercontent.com/aaOEZItJUcrcBBPRVUikuaAGK_Ypjtg3kd3rKUAXE77GB_hdkdEukxYB1xk9fJd2nQLV7VmQrsjtJewlmXcUDdPH0Fc"></img></a>
				<a style="margin:6px;" href="https://plus.google.com/+Neostencil" target="_blank"><img src="https://lh3.googleusercontent.com/1jDuugHH_o1dKPpu5tMP0_IyFNNLzkIfMy46XFlK8c7t2Uv7ygq4C-28pExEetHhnFI2uyQSf9vGrx-sPuPahosWLw"></img></a></p>
		</td>
	</tr>
	</tfoot>
</table>
</body>
</html>