<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
			xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
Hello
<span th:text="${sendTo}"></span>,
<br />

<span th:text="${message}"></span>
<br />
<a type="button" href="https://neostencil.com/approver_admin/video-requests"
	 style="font-family: Arial; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #ffffff; background: orange; padding: 8px 47px; display: inline-block; border: 2.8px solid orange; margin-bottom: 16px;">View
	Request</a>
<br />
<br />
<span> From </span>
<br />
<span th:text="NeoStencil"></span>

</body>
</html>
