<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--/*/ <th:block th:include="admin/head"></th:block> /*/-->

<head>
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css"
      rel="stylesheet">
</head>

<body>

<div id="wrapper">

  <!--/*/ <th:block th:include="admin/navigation"></th:block> /*/-->

  <div id="page-wrapper">

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Add New Free Prep Post</h1>
        </div>
      </div>
      <form name="update-post" id="update-post">
        <div class="col-md-9">

          <label>ID(URL)</label>
          <div class="input-group">
            <span class="input-group-addon">http://neostencil.com/</span> <input disabled
              type="text" name="post-id" id="post-id"
              class="form-control" th:value="${post?.postId}"
              placeholder="Post ID e.g. upsc-prelims-philosophy" required>
          </div>

          <div class="form-group" style="margin-top: 10px";>
            <label>Title</label> <input type="text" name="post-title"
                                        id="post-title"  th:value="${post?.title}" class="form-control"
                                        placeholder="Title of the post" required>
          </div>
          <div class="form-group">
            <label>Text</label>
            <textarea id="summernote" name="summernote" required></textarea>
          </div>
          <div class="form-group">
            <label class="error-single" id="add-new-post-text-error"></label>
          </div>

          <div class="form-group">
            <label>Category</label> <select name="post-category"
                                            id="post-category" class="form-control" required>
            <option value="0" selected disabled>Select Post
              Category</option>
            <option th:each="category : ${category}"
                    th:text="${category}" th:value="${category}"
                    th:selected="${#strings.toString(post.category) == #strings.toString(category)}"></option>


          </select>
          </div>

          <div class="form-group">
            <label>Sub Category</label> <select name="post-sub-category"
                                                id="post-sub-category" class="form-control" required>
            <option value="0" selected disabled>Select Post Sub
              Category</option>
            <option th:each="subcategory : ${subcategory}"
                    th:text="${subcategory}" th:value="${subcategory}"
                    th:selected="${#strings.toString(post.postSubCategory) == #strings.toString(subcategory)}"></option>R
          </select>
          </div>

          <div class="form-group">
            <label>Related Posts</label> <select name="related-posts"
                                                 multiple id="related-posts" class="form-control selectpicker">
            <option value="0">Select multiple related posts</option>
            <option th:each="rp : ${post?.relatedPosts}"
                    th:text="${rp.title}"
                    th:value="${rp.postSummaryId}" th:selected="${rp.postSummaryId}"></option>

            <option th:each="rp : ${relatedPosts}"
                    th:text="${rp.title}"
                    th:value="${rp.postSummaryId}" th:if="${#strings.toString(rp?.status)}==publish" ></option>

          </select>
          </div>

          <div class="form-group tag_wrap"
               style="margin-top: 10px;">
            <label>Tag</label>
            <div class="input-group control-group add-tag">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" required name="tags[]"
                         id="tags" class="form-control"
                         placeholder="Tag name....">
                </div>

                <div class="col-md-2">
                  <button
                      class="btn btn-success add-more-tag pull-right"
                      type="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>


            </div>
            <div class="field_wrapper1"></div>
          </div>



          <!--
          <label class="container"><input type="checkbox"
            name="featured" id="featured">&nbsp;Featured</label> <label
            class="container"><input type="checkbox" name="popular"
            id="popular">&nbsp;Popular</label> <br>
          <div class="form-group">
            <label>ReadTime</label><input type="text" name="readTime"
              id="readTime" value="" class="form-control"
              placeholder="Read Time e.g 5 min read">
          </div>
          <div class="form-group">
            <label>No. of Views</label><input type="number" min="0"
              class="form-control" name="noofviews" id="noofviews"
              placeholder="No. of Views (Temporarily)">
          </div>

          <div class="form-group">
            <label>Brief</label><input type="text" class="form-control"
              name="brief" id="brief"
              placeholder="Add a small brief of the post">
          </div> -->

          <!-- <div class="form-group">
            <label style="margin-top: 10px";>Previous Post</label> <select
              name="previousPost" id="previousPost"
              class="form-control selectpicker" data-live-search="true"
              title="Select Previous Post">
              <option th:each="cp : ${customPosts}" th:text="${cp.postName}"
                th:value="${cp.slug}"></option>


            </select>
          </div>

          <div class="form-group">
            <label style="margin-top: 10px";>Next Post</label> <select
              name="nextPost" id="nextPost" class="form-control selectpicker"
              data-live-search="true" title="Select Next Post">
              <option th:each="cp : ${customPosts}" th:text="${cp.postName}"
                th:value="${cp.slug}"></option>
            </select>
          </div> -->

          <div class="row" id="addMetaPanel">

            <div style="margin-top: 20px;" class="col-md-9">
              <label> Title:</label> <input type="text"
                                            placeholder="Enter Title" th:value="${course?.titleTag}"
                                            id="titleTag" class="form-control">
            </div>

            <div style="margin-top: 20px;" class="col-md-9">
              <label> Meta KeyWord:</label><input type="text"
                                                  placeholder="Enter Meta Keyword" th:each="meta : ${course?.metaList}" th:if="${#strings.toString(meta?.type)} == 'keyword'" th:value="${meta?.content}"
                                                  id="titleKeyword" class="form-control">
              </select>
            </div>

            <div style="margin-top: 20px;" class="col-md-9">
              <label> Meta Description:</label> <textarea
                placeholder="Enter Meta Description" th:each="meta : ${course?.metaList}" th:if="${#strings.toString(meta?.type)} == 'description'" th:text="${meta?.content}"
                id="txtMetaDescription" class="form-control">
              </textarea>
            </div>

          </div>
          <br />
          <div class="panel panel-primary" id="pnlFeaturedImage">
            <div class="panel-heading">Featured Image</div>
            <div class="panel-body">

              <div style="margin-top: 20px;" class="col-md-9">
                <label> Title:</label> <input type="text"
                                              placeholder="Enter featured image title" id="txtFITitle" th:value="${post?.featuredImage?.title}"
                                              class="form-control">
              </div>

              <div style="margin-top: 20px;" class="col-md-9">
                <label> Caption:</label> <input type="text"
                                                placeholder="Enter featured image caption" id="txtFICaption" th:value="${post?.featuredImage?.caption}"
                                                class="form-control">
              </div>

              <div style="margin-top: 20px;" class="col-md-9">
                <label> Alt Text:</label> <input type="text"
                                                 placeholder="Enter featured image alt text" id="txtFIAltText" th:value="${post?.featuredImage?.altText}"
                                                 class="form-control">
              </div>

              <div style="margin-top: 20px;" class="col-md-9">
                <label> Description:</label> <input type="text"
                                                    placeholder="Enter featured image description" th:value="${post?.featuredImage?.description}"
                                                    id="txtFIDescription" class="form-control">
              </div>

              <div style="margin-top: 20px;" class="col-md-9">
                <label>Upload Image:</label></br>
                <label class="custom-file">
                  <input type="file" required
                         id="featureImage" class="custom-file-input"> <span
                    class="custom-file-control"></span>
                </label> <input type="button" class="button btn-primary" value="Upload"
                                id="but_feature_upload">

                <div style="display: none;" id="loaderFeatureUpload">
                  <img width="30px" height="30px"
                       src="http://www.sbif.cl/recursos/sbifweb3/img/throbber_13.gif">
                </div>
                <img th:src="${post?.featuredImage?.url}" name="thumbnail"
                     id="upload-feature-img-tag" width="100px"/>
              </div>

            </div>
          </div>

          <br />

          <div th:if="${enablePublishButton}">
            <label class="radio-inline" style="margin-top: 10px;"><input type="radio"
                                                                         value="publish"
                                                                         th:checked="${#strings.toString(post?.status)} == 'publish'"
                                                                         name="status" checked>Publish</label>
            <label class="radio-inline" style="margin-top: 10px;"><input type="radio" value="draft"
                                                                         th:checked="${#strings.toString(post?.status)} == 'draft'"
                                                                         name="status">Draft</label>
          </div>

          <div class="row" style="margin-top: 10px";>
            <div class="col-md-9">
              <button type="submit" class="submit btn btn-primary" id="Submit">Submit</button>
              <i class="fa fa-spinner fa-spin" id="loader"></i> <a
                href="/admin_writer_editor/free-prep" class="btn btn-default"
                style="margin-left: 60px;">All Free Prep</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <label class="error-single" id="add-new-post-error"></label>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>

<!--/*/ <th:block th:include="admin/footer"></th:block> /*/-->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
<script
        th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/admin/dist/js/freeprep.js')}}"
></script>
 <script th:inline="javascript">
  /*<![CDATA[*/

  var postText = [[${post.text}]];
  var postId = [[${post.postId}]];
  var featureImageId = [[${post?.featuredImage?.id}]];
  var postFeatureImageUrl = [[${post?.featuredImage?.url}]];
  var postFeatureImageName = [[${post?.featuredImage?.name}]];
  var tags = [[${post?.tags}]];


  /*]]>*/
</script>

<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      height : 500, // set editor height
      minHeight : null, // set minimum height of editor
      maxHeight : null, // set maximum height of editor
      focus : true
      // set focus to editable area after initializing summernote
    });
    var markupStr = $('#summernote').summernote('code');
    $('#summernote').summernote('code', postText);

    tags.forEach(function (element, index) {

      if (index == 0) {
        $('#tags').val(element);
      }

      else {
        var fieldHTML = '<div class="input-group control-group add-tag">\n'
            + '                         <div class="row">\n'
            + '                           <div class="col-md-10">\n'
            + '                              <input type="text" required name="tags[]"\n'
            + '                                     id="tags" class="form-control"\n'
            + '                                   placeholder="Tag name...." value = "#tag#">\n'
            + '                           </div>\n'
            + '                            <div class="col-md-2">\n'
            + '                              <button class="btn btn-danger remove-tag-btn pull-right"\n'
            + '                                     type="button">\n'
            + '                                <i class="fa fa-times" aria-hidden="true"></i>\n'
            + '                           </button></div>\n'
            + '            </div></div>';

        fieldHTML = fieldHTML.replace("#tag#", element);
        $('.field_wrapper1').append(fieldHTML);
      }
    });
  });

  $("form[name='update-post']").validate(
      {
        submitHandler : function(form, e) {
          /*
           * if (document.getElementById('popular').checked) {
           * $('#free').attr('checked', true);
           * $('input[name="popular"]').val(true); } else {
           * $('#free').attr('checked', false);
           * $('input[name="popular"]').val(false); } if
           * (document.getElementById('featured').checked) {
           * $('#free').attr('checked', true);
           * $('input[name="featured"]').val(true); } else {
           * $('#free').attr('checked', false);
           * $('input[name="featured"]').val(false); }
           */
          $("#add-new-post-error").html('');
          $("#add-new-post-text-error").hide();
          $("#add-new-post-text-error").html('');
          e.preventDefault();
          if ($('#summernote').summernote('isEmpty')) {
            $("#add-new-post-text-error").show();
            $("#add-new-post-text-error").html(
                "This is a required field");
            return;
          }

          var featuredImageReq = {};

          featuredImageReq["id"] = featureImageId;
          featuredImageReq["url"] = postFeatureImageUrl;
          featuredImageReq["name"] = postFeatureImageName;
          featuredImageReq["title"] = $('#txtFITitle').val();
          featuredImageReq["caption"] = $('#txtFICaption').val();
          featuredImageReq["altText"] = $('#txtFIAltText').val();
          featuredImageReq["description"] = $('#txtFIDescription').val();


          var postPayload = {
            "postId": postId,
            title : $('#post-title').val(),
            text : $('#summernote').summernote('code'),
            status : $('input[name=status]:checked', '#update-post').val() == undefined ? 'draft': $('input[name=status]:checked', '#update-post').val(),
            category : $("form[name='add-new-post']").find(
                "#post-category :selected").val(),
            postSubCategory : $("form[name='add-new-post']").find(
                "#post-sub-category :selected").val(),
            featured : $('#featured').val(),
            popular : $('#popular').val(),
            // previousPost : {
            //   slug : 'dummyPrev'
            // },
            // nextPost : {
            //   slug : 'dummyNext'
            // },
            tags: getTags(),
            relatedPosts : getRelatedPosts(),
            metaList: [{
              type: 'keyword',
              content: $('#titleKeyWord').val(),

            },
              {
                type: 'description',
                content: $('#txtMetaDescription').val()
              }
            ],
            titleTag: $('#titleTag').val(),
            featuredImage: featuredImageReq,
            type : 'FREE_PREP'

          };

          console.log(postPayload);
          $('#loader').show();
          $.ajax({
            url : apiBasePath + "/admin_writer/posts",
            type : "POST",
            data : JSON.stringify(postPayload),
            contentType : "application/json",
            processData : false,
            <!--"headers" : {-->
              <!--"authorization" : "Bearer "-->
              <!--+ window.localStorage.getItem('access_token'),-->

            <!--},-->

            success : function(response) {
              alert("Post Added Successfully");
              location.reload();

            },

            error : function(response) {

              if (response.status == 403) {
                window.location.href = "/permission-error";
              } else {
                alert("Post Creation Failed");
              }

            }
          });
        }

      });

  function getStatus() {
    var status;
    if (document.getElementById('publish').checked) {
      status = document.getElementById('publish').value;
    } else if (document.getElementById('draft').checked) {
      status = document.getElementById('draft').value;
    } else {
      status = document.getElementById('draft').value;
    }

    return status;
  }
  $("#but_feature_upload").click(function () {
    $('#loaderFeatureUpload').show();
    $('#but_feature_upload').hide();

    var files = $('#featureImage')[0].files[0];
    var fd = new FormData();
    fd.append('file', files);
    fd.append('type', "featureImage/post");
    fd.append('contentType', files.type);

    uploadFile(fd, function (response) {
      if (response != null) {
        getImageUrl(response, function (imageUrlResponse) {

          if (imageUrlResponse != null) {
            $('#loaderFeatureUpload').hide();
            var reader = new FileReader();
            reader.onload = function (e) {
              $('#upload-feature-img-tag').attr('src', e.target.result);
            };
            postFeatureImageName = $('#featureImage')[0].files[0].name;
            reader.readAsDataURL($('#featureImage')[0].files[0]);
            postFeatureImageUrl = imageUrlResponse;
          }
          else {
            $('#loaderFeatureUpload').hide();
            $('#but_feature_upload').show();
          }
        });

      }

      else {
        $('#loaderFeatureUpload').hide();
        $('#but_feature_upload').show();
      }

    });

  });

  $('.add-more-tag')
  .click(
      function () {
        blank = false;
        $(".tag_wrap input").each(
            function (index, elm) {
              if ($(elm).val() == "") {
                blank = true;
              }
            })
        if (!blank) {
          var fieldHTML = '<div class="input-group control-group add-tag">\n'
              + '              <div class="row">\n'
              + '                <div class="col-md-10">\n'
              + '                  <input type="text" required name="tags[]"\n'
              + '                         id="tags" class="form-control"\n'
              + '                         placeholder="Tag name....">\n'
              + '                </div>\n'
              + '\n'
              + '                <div class="col-md-2">\n'
              + '                  <button class="btn btn-danger remove-tag-btn pull-right"\n'
              + '                          type="button">\n'
              + '                    <i class="fa fa-times" aria-hidden="true"></i>\n'
              + '                  </button>\n'
              + '                </div>\n'
              + '              </div>\n'
              + '\n'
              + '\n'
              + '            </div>';
          $('.field_wrapper1').append(fieldHTML);
        }

      });

  $('.field_wrapper1').on('click', '.remove-tag-btn', function () {
    $(this).parent().parent('div').remove();

  });

  function getTags() {
    list = [];
    $(".tag_wrap input").each(function (index, elm) {

      list.push($(elm).val());
    });
    return list;
  }

</script>
</body>

</html>
