<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Neostencil</title>

  <!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->



  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/freePrep.css')}}"
          rel="stylesheet" media="screen" />
  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick.css')}}"
          rel="stylesheet" media="screen" />
  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick-theme.css')}}"
          rel="stylesheet" media="screen" />
  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/blogs.css')}}"
          rel="stylesheet" media="screen" />
  <link
          th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/assignments.css')}}"
          rel="stylesheet" media="screen" />

  <style>
.booklet {
	color: #4198cb !important;
}

.book-icon {
	color: #fff !important;
}



  </style>
</head>
<body class="quizzes">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!--/*/ <th:block th:include="common/header"></th:block> /*/-->
  <div class="mat-content mdl-layout__content">
    <div class="demo-ribbon"></div>
    <div class="blog container">
      <div class="content">
        <div class="mdl-grid">

          <div
              class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h3 class="blog-heading">Current Affairs Quiz For UPSC Exam
              Preparation</h3>
          </div>
        </div>
        <br/>
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <ul class="blog-share">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-linkedin"></i></li>
              <li><i class="fa fa-google-plus"></i></li>

            </ul>
          </div>
          <div
              class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h3>Current Affairs Quiz:</h3>
            <p>Here is exciting news for all our users and visitors and a
              golden chance to check your knowledge and take part in current
              Affairs Quiz. We will now be providing free UPSC Prelims MCQ’s
              thrice a month (1st, 11th, and 21st) based on current affairs to
              supplement and enrich your preparation for UPSC civil services
              and other competitive exam Attempt your first set of UPSC
              Prelims MCQ’s and stay tuned for more questions.</p>
            <section class="test-series-list">
              <div class="mdl-grid">
                <div
                    class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <p class="free-prep-name">February 2018:</p>
                </div>
                <div
                    class="quizzes-grid mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-grid">
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>

                  </div>
                </div>
              </div>
              <hr>
              <div class="mdl-grid">
                <div
                    class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <p class="free-prep-name">January 2018:</p>
                </div>
                <div
                    class="quizzes-grid mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-grid">
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="mdl-grid">
                <div
                    class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <p class="free-prep-name">December 2017:</p>
                </div>
                <div
                    class="quizzes-grid mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-grid">
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="mdl-grid">
                <div
                    class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <p class="free-prep-name">November 2017:</p>
                </div>
                <div
                    class="quizzes-grid mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-grid">
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="mdl-grid">
                <div
                    class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <p class="free-prep-name">October 2018:</p>
                </div>
                <div
                    class="quizzes-grid mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-grid">
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <a class="booklet"
                         href="https://neostencil.com/wp-content/uploads/2018/02/MCQ-14-to-20.pdf"
                         target="_blank" rel="noopener noreferrer">February 14 to
                        February 20</a>
                    </div>

                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe previous-next-post">
      <div class="container">
        <div class="logo-font mat-teachers-slogan"
             style="text-align: center; margin-bottom: 16px;">Also Refer
        </div>
        <div class="underline"></div>
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid">
              <div
                  class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h3 class="blog-heading">Monthly Current Affairs for UPSC
                  Preparation</h3>
              </div>
            </div>
            <div class="line line-left"></div>
          </div>
          <div
              class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid">
              <div
                  class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

                <h3 class="blog-heading"
                    style="text-align: right !important; float: right;">News
                  Analysis for UPSC Preparation</h3>
              </div>
            </div>
            <div class="line line-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-header">
      <h3 class="related-posts">RELATED POSTS</h3>
      <div class="line line-left"
           style="width: 1075px; display: inline-block;"></div>
      <section id="blog-slider" class="regular slider">
        <div>
          <div class="trending-courses-card mdl-card__media">
            <img th:src="@{/images/courses/course-img.png}">
          </div>
          <div class="ns-card">
            <span class="blog-genre">Education</span><br/> <span
              class="date-of-blog-slider"><span class="month">OCT&nbsp;</span>
								2, 2017</span>&nbsp;&nbsp;&nbsp;<span class="share-blog"><i
              class="fa fa-share"></i>&nbsp;&nbsp;Share</span> <a href="generic"><h3>Editorial
            Discussion Untill Mains Lukmaan Academy</h3></a>
            <p>Importance of Guidance in UPSC Preparation for those who
              given feedback is…</p>
            <br/> <span class="minutes-read">8 min read
								&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;180
							</span>
          </div>
        </div>
        <div>
          <div class="trending-courses-card mdl-card__media">
            <img th:src="@{/images/courses/course-img.png}">
          </div>
          <div class="ns-card">
            <span class="blog-genre">Education</span><br/> <span
              class="date-of-blog-slider"><span class="month">OCT&nbsp;</span>
								2, 2017</span>&nbsp;&nbsp;&nbsp;<span class="share-blog"><i
              class="fa fa-share"></i>&nbsp;&nbsp;Share</span> <a href="generic"><h3>Editorial
            Discussion Untill Mains Lukmaan Academy</h3></a>
            <p>Importance of Guidance in UPSC Preparation for those who
              given feedback is…</p>
            <br/> <span class="minutes-read">8 min read
								&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;180
							</span>
          </div>
        </div>
        <div>
          <div class="trending-courses-card mdl-card__media">
            <img th:src="@{/images/courses/course-img.png}">
          </div>
          <div class="ns-card">
            <span class="blog-genre">Education</span><br/> <span
              class="date-of-blog-slider"><span class="month">OCT&nbsp;</span>
								2, 2017</span>&nbsp;&nbsp;&nbsp;<span class="share-blog"><i
              class="fa fa-share"></i>&nbsp;&nbsp;Share</span> <a href="generic"><h3>Editorial
            Discussion Untill Mains Lukmaan Academy</h3></a>
            <p>Importance of Guidance in UPSC Preparation for those who
              given feedback is…</p>
            <br/> <span class="minutes-read">8 min read
								&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;180
							</span>
          </div>
        </div>
        <div>
          <div class="trending-courses-card mdl-card__media">
            <img th:src="@{/images/courses/course-img.png}">
          </div>
          <div class="ns-card">
            <span class="blog-genre">Education</span><br/> <span
              class="date-of-blog-slider"><span class="month">OCT&nbsp;</span>
								2, 2017</span>&nbsp;&nbsp;&nbsp;<span class="share-blog"><i
              class="fa fa-share"></i>&nbsp;&nbsp;Share</span> <a href="generic"><h3>Editorial
            Discussion Untill Mains Lukmaan Academy</h3></a>
            <p>Importance of Guidance in UPSC Preparation for those who
              given feedback is…</p>
            <br/> <span class="minutes-read">8 min read
								&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;180
							</span>
          </div>
        </div>
        <div>
          <div class="trending-courses-card mdl-card__media">
            <img th:src="@{/images/courses/course-img.png}">
          </div>
          <div class="ns-card">
            <span class="blog-genre">Education</span><br/> <span
              class="date-of-blog-slider"><span class="month">OCT&nbsp;</span>
								2, 2017</span>&nbsp;&nbsp;&nbsp;<span class="share-blog"><i
              class="fa fa-share"></i>&nbsp;&nbsp;Share</span> <a href="generic"><h3>Editorial
            Discussion Untill Mains Lukmaan Academy</h3></a>
            <p>Importance of Guidance in UPSC Preparation for those who
              given feedback is…</p>
            <br/> <span class="minutes-read">8 min read
								&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;180
							</span>
          </div>
        </div>
      </section>
    </div>
    <section id="reviews" class="reviews">
      <div class="container">
        <div class="mdl-grid">
          <div
              class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"></div>
          <div
              class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div
                class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
              <div
                  class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <br/>
                <div class="logo-font mat-teachers-slogan">Comments</div>
                <br/>


              </div>
              <div class="review">
                <img src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"
                     width="64px" class="float-left">
                <div class="user-detail float-left">
                  <span>Ruchika Katyal</span>&nbsp;&nbsp;<span
                    class="date-of-comment">OCT 23, 2017 AT 1:04 PM</span>
                </div>
                <p>This is a demo comment, How its look when a user a user
                  comment and how exactly visually look and feel come.</p>
                <button class="reply-to-comment">Reply</button>
              </div>
              <div class="review">
                <img src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"
                     width="64px" class="float-left">
                <div class="user-detail float-left">
                  <span>Ruchika Katyal</span>&nbsp;&nbsp;<span
                    class="date-of-comment">OCT 23, 2017 AT 1:04 PM</span>
                </div>
                <p>This is a demo comment, How its look when a user a user
                  comment and how exactly visually look and feel come.</p>
                <button class="reply-to-comment">Reply</button>
              </div>
              <div class="review">
                <img src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"
                     width="64px" class="float-left">
                <div class="user-detail float-left">
                  <span>Ruchika Katyal</span>&nbsp;&nbsp;<span
                    class="date-of-comment">OCT 23, 2017 AT 1:04 PM</span>
                </div>
                <p>This is a demo comment, How its look when a user a user
                  comment and how exactly visually look and feel come.</p>
                <button class="reply-to-comment">Reply</button>
              </div>
              <div class="review">
                <img src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"
                     width="64px" class="float-left">
                <div class="user-detail float-left">
                  <span>Ruchika Katyal</span>&nbsp;&nbsp;<span
                    class="date-of-comment">OCT 23, 2017 AT 1:04 PM</span>
                </div>
                <p>This is a demo comment, How its look when a user a user
                  comment and how exactly visually look and feel come.</p>
                <button class="reply-to-comment">Reply</button>
              </div>
              <br/> <br/>
              <hr>
              <div class="drop-a-comment">
                <h5>Your email address will not be published. Required
                  Fields are marked*</h5>
                <form name="address_checkout" id="addressCheckout">
                  <div class="mdl-grid">
                    <div
                        class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                      <label for="username_login">Comment</label><br/>
                      <textarea rows="7"></textarea>

                    </div>
                    <div
                        class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

                      <label for="username_login">NAME*</label><br/> <input
                        type="email" id="" name="fName">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

                      <label for="username_login">EMAIL*</label><br/> <input
                        type="email" id="" name="fName">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

                      <label for="username_login">PUBLISH NAME*</label><br/> <input
                        type="email" id="" name="fName">
                    </div>
                    <br/>
                    <button class="post-comment">POST Comment</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/*/ <th:block th:include="common/footer"></th:block> /*/-->
  </div>
</div>
<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->

<script th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/slick/slick.js')}}"></script>

<script th:src="@{${@mvcResourceUrlProvider.getForLookupPath('/js/custom.js}')}}"></script>
</body>
</html>
